{% extends "learnpage.html" %}
{% block title %}Framer - Learn Basics{% endblock %}
{% block currentpage %}class="subpage learn"{% endblock currentpage %}
{% block islearn %}active{% endblock %}
{% block basics %}active{% endblock %}
{% block basics2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<li><a href="/learn/basics/layers">Layers <div class="small">Hierarchy and Properties</div></a></li>
		<li><a href="/learn/basics/animation">Animation <div class="small">Curves and Timing</div></a></li>
		<li class="active"><a href="/learn/basics/states">States <div class="small">Sets of properties</div></a></li>
		<li><a href="/learn/basics/events">Events <div class="small">Layer interactions</div></a></li>
		<li><a href="/learn/basics/dragging">Dragging <div class="small">Draggable layers</div></a></li>
		<li><a href="/learn/basics/scrolling">Scrolling <div class="small">Scrollable layers</div></a></li>
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### States
Think of a state as a set of properties. A layer can have multiple states. You can add, remove or override states, as well as animate between them.

<pre lang="coffeescript">
# Add states
layerA.states.add 
    second: {scale: 0.5} 
    third:  {rotation:45} 
    
# Set the animation options
layerA.states.animationOptions = 
    curve: "spring(600,30,0)"

# Toggle states on click
layerA.on Events.Click, -> 
    imageLayer.states.next()
</pre>

{% endfilter %}	
{% endfilter %}
{% endblock body %}	