{% extends "learnpage.html" %}
{% block title %}Framer - States{% endblock %}
{% block currentpage %}class="subpage learn"{% endblock currentpage %}
{% block islearn %}active{% endblock %}
{% block basics %}active{% endblock %}
{% block basics2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<a href="/learn/basics"><li>Layers <div class="small">Hierarchy and Properties</div></li></a>
		<a href="/learn/basics/animation"><li>Animation <div class="small">Curves and Timing</div></li></a>
		<a href="/learn/basics/states"><li class="active">States <div class="small">Sets of properties</div></li></a>
		<a href="/learn/basics/events"><li>Events <div class="small">Layer interactions</div></li></a>
		<a href="/learn/basics/dragging"><li>Dragging <div class="small">Draggable layers</div></li></a>
		<a href="/learn/basics/scrolling"><li>Scrolling <div class="small">Scrollable layers</div></li></a>
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### States
States are sets of properties. States can be named, and later interacted with. A layer can have multiple states. You can add, remove and override states, as well as animate between them. Every layer has a "default" state with its current properties, which is included when switching states.

<div class="with-full-illustration">
<pre lang="coffeescript">
# Add states
layerA.states.add 
    second: {scale:0.75} 
    third:  {rotation:90, scale:1} 
    
# Set the animation options
layerA.states.animationOptions = 
    curve: "spring(600,30,0)"

# Toggle states on click
layerA.on Events.Click, -> 
    layerA.states.next()
</pre>
<img class="code-illustration-states" src="/static/images/learn/states.gif">
</div>

Just like layer animations, states also take a set of curves. You can define the animationOptions of all states of a layer at once.

<pre lang="coffeescript">
# Set the animation options
layerA.states.animationOptions = 
    curve: "spring(600,30,0)"
</pre>

##### Switching states
Besides toggling between all states, you can also switch to a specific state, optionally without an animation.

<pre lang="coffeescript">
# Switch to third state
layerA.states.switch("third")

# Switch to third state without animation
layerA.states.switchInstant("third")
</pre>

##### Editing States
You can remove and override previously defined states. To override states, simply add a new state with the same name.

<pre lang="coffeescript">
# Remove second state
layerA.states.remove("second")

# Override third states
layerA.states.add
	third: {blur:10}
</pre>

<section class="summary">
<h5>Summary</h5>
<ul>
    <li>States are sets of properties </li>
    <li>Every layer has a default state</li>
    <li>You can animate between states</li>
    <li>States can be added, removed and overriden</li>
</ul>
</section>

<hr>

<section class="page-navigation">
	<a class="previous" href="/learn/basics/animation">
		<figure class="icon-learn-previous"></figure>
		<h6>Animation</h6> 
	</a> 
	<a class="next" href="/learn/basics/events">
		<h6>Events</h6> 
		<figure class="icon-learn-next-active"></figure>
	</a> 
</section>

{% endfilter %}	
{% endfilter %}
{% endblock body %}	