{% extends "learnpage.html" %}
{% block title %}Framer - Learn Importing{% endblock %}
{% block islearn %}active{% endblock %}
{% block importing %}active{% endblock %}
{% block importing2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<li><a href="/learn/importing">Overview <div class="small">Introduction</div></a></li>
		<li class="active"><a href="/learn/importing/photoshop-and-sketch">Photoshop & Sketch <div class="small">Import designs</div></a></li>
		<li><a href="/learn/importing/after-effects">After Effects <div class="small">Import videos</div></a></li>		
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### Photoshop & Sketch

Every layer group in Photoshop and Sketch will be imported as a layer within Framer. Hidden layers will also be imported, but will also be hidden in Framer, with opacity set to zero.

<img class="ss-import-sketch" src="/static/images/learn/ss-import-sketch.png" srcset="/static/images/learn/ss-import-sketch@2x.png 2x">

---

### Principles
Framer is fully compatible with Sketch 3.1, Sketch Beta, Photoshop CS6, Photoshop CC and Photoshop CC 2014.

---
<img class="inline-left" src="/static/images/learn/learn-sketchandphotoshop.png" srcset="/static/images/learn/learn-sketchandphotoshop@2x.png 2x">

##### Photoshop & Sketch 
- Only saved & active documents can be imported
- Every layer group will become a layer in Framer
- Layer group names should be unique
- Masked layer groups become layers with clip enabled

<hr class="hidden">

<img class="inline-left" src="/static/images/learn/learn-sketch.png" srcset="/static/images/learn/learn-sketch@2x.png 2x">

##### Sketch only 
- Only the first artboard will be visible in Framer by default
- Items with negative coordinates will not be visible in Framer
- You can only use one mask per layer group

<div class="clearfix"></div>

---

<section class="page-navigation">
	<a class="previous" href="/learn/basics/importing">
		<h5>Previous:</h5>
		<figure class="icon-learn-previous"></figure>
		<h6>Overview</h6> 
	</a> <!--next-->
	<a class="next" href="/learn/after-effects">
		<h5>Next:</h5>
		<h6>After Effects</h6> 
		<figure class="icon-learn-next-active"></figure>
	</a> <!--next-->
</section>

{% endfilter %}	
{% endfilter %}	
{% endblock body %}
