/* glue: 0.9.4 hash: 06b09560d9 */
        .sprite-logos-2x-logo-instagram,
.sprite-logos-2x-logo-facebook,
.sprite-logos-2x-logo-groupon,
.sprite-logos-2x-logo-google,
.sprite-logos-2x-logo-stripe,
.sprite-logos-2x-logo-twitter,
.sprite-logos-2x-logo-dropbox,
.sprite-logos-2x-logo-apple,
.sprite-logos-2x-logo-adobe,
.sprite-logos-2x-logo-spotify {
            background-image: url('logos-2x.png?06b09560d9');
            background-repeat: no-repeat;
        }
        
        .sprite-logos-2x-logo-instagram {
            background-position: 0 0;
            width: 228px;
            height: 64px;
        }
        
        .sprite-logos-2x-logo-facebook {
            background-position: 0 -64px;
            width: 228px;
            height: 46px;
        }
        
        .sprite-logos-2x-logo-groupon {
            background-position: 0 -110px;
            width: 216px;
            height: 36px;
        }
        
        .sprite-logos-2x-logo-google {
            background-position: 0 -146px;
            width: 180px;
            height: 64px;
        }
        
        .sprite-logos-2x-logo-stripe {
            background-position: -228px 0;
            width: 132px;
            height: 54px;
        }
        
        .sprite-logos-2x-logo-twitter {
            background-position: -228px -54px;
            width: 74px;
            height: 60px;
        }
        
        .sprite-logos-2x-logo-dropbox {
            background-position: -228px -114px;
            width: 68px;
            height: 64px;
        }
        
        .sprite-logos-2x-logo-apple {
            background-position: -296px -114px;
            width: 54px;
            height: 64px;
        }
        
        .sprite-logos-2x-logo-adobe {
            background-position: 0 -210px;
            width: 64px;
            height: 58px;
        }
        
        .sprite-logos-2x-logo-spotify {
            background-position: 0 -268px;
            width: 60px;
            height: 60px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-logos-2x-logo-instagram,
    .sprite-logos-2x-logo-facebook,
    .sprite-logos-2x-logo-groupon,
    .sprite-logos-2x-logo-google,
    .sprite-logos-2x-logo-stripe,
    .sprite-logos-2x-logo-twitter,
    .sprite-logos-2x-logo-dropbox,
    .sprite-logos-2x-logo-apple,
    .sprite-logos-2x-logo-adobe,
    .sprite-logos-2x-logo-spotify {
                background-image: url('logos-2x.png?06b09560d9');
                -webkit-background-size: 360px 328px;
                -moz-background-size: 360px 328px;
                background-size: 360px 328px;
            }
        }
        