.logo-instagram,
.logo-facebook,
.logo-groupon,
.logo-google,
.logo-stripe,
.logo-twitter,
.logo-dropbox,
.logo-apple,
.logo-adobe,
.logo-spotify {
    background-image: url('/static/images/sprites/logos-2x.png?24013bcb29');
    background-repeat: no-repeat;
    -webkit-background-size: 180px 164px;
    -moz-background-size: 180px 164px;
    background-size: 180px 164px;
}
       