.sprite-logos-logo-instagram,
.sprite-logos-logo-facebook,
.sprite-logos-logo-groupon,
.sprite-logos-logo-google,
.sprite-logos-logo-stripe,
.sprite-logos-logo-twitter,
.sprite-logos-logo-dropbox,
.sprite-logos-logo-apple,
.sprite-logos-logo-adobe,
.sprite-logos-logo-spotify {
    background-image: url('logos.png?9e21747408');
    background-repeat: no-repeat;
}
.sprite-logos-logo-instagram {
    background-position: 0 0;
    width: 114px;
    height: 32px;
}
.sprite-logos-logo-facebook {
    background-position: 0 -32px;
    width: 114px;
    height: 23px;
}
.sprite-logos-logo-groupon {
    background-position: 0 -55px;
    width: 108px;
    height: 18px;
}
.sprite-logos-logo-google {
    background-position: 0 -73px;
    width: 90px;
    height: 32px;
}
.sprite-logos-logo-stripe {
    background-position: -114px 0;
    width: 66px;
    height: 27px;
}        .sprite-logos-logo-twitter {
    background-position: -114px -27px;
    width: 37px;
    height: 30px;
}
.sprite-logos-logo-dropbox {
    background-position: -114px -57px;
    width: 34px;
    height: 32px;
}
.sprite-logos-logo-apple {
    background-position: -148px -57px;
    width: 27px;
    height: 32px;
}
.sprite-logos-logo-adobe {
    background-position: 0 -105px;
    width: 32px;
    height: 29px;
}
.sprite-logos-logo-spotify {
    background-position: 0 -134px;
    width: 30px;
    height: 30px;
}


        