/* glue: 0.9.4 hash: f7b1948cbd */
/* 2x */
.logo-instagram,.logo-facebook,.logo-groupon,.logo-google,.logo-stripe,.logo-twitter,.logo-dropbox,.icon-universities,.logo-pinterest,.logo-apple,.logo-adobe,.icon-learn-mirror,.icon-learn-mirror-active,.icon-conferences,.icon-companies,.icon-volumelicenses,.icon-meetups,.icon-learn-importing,.icon-learn-importing-active,.icon-learn-coffeescript,.icon-learn-coffeescript-active,.icon-learn-basics,.icon-learn-basics-active,.icon-educationpricing,.logo-spotify,.icon-learn-previous,.icon-learn-previous-active,.icon-learn-next,.icon-learn-next-active,.icon-workflow,.icon-preview,.icon-more,.icon-interaction,.icon-general,.icon-footer-twitter,.icon-footer-email,.icon-features,.icon-code,.icon-animation,.icon-dropdown-arrow,.icon-arrow{
    background-image:url('/static/images/sprites/sprite2x.png?f7b1948cbd');
    background-repeat:no-repeat;
    -webkit-background-size: 211.0px 200.0px;
    -moz-background-size: 211.0px 200.0px;
    background-size: 211.0px 200.0px;
}