/* glue: 0.9.4 hash: 429fd1977d */
/* 2x */
.logo-instagram,.logo-facebook,.logo-groupon,.logo-google,.logo-stripe,.logo-twitter,.logo-dropbox,.logo-pinterest,.icon-learn-importing,.icon-learn-importing-active,.logo-apple,.logo-adobe,.icon-learn-mirror,.icon-learn-mirror-active,.icon-learn-coffeescript,.icon-learn-coffeescript-active,.icon-learn-basics,.icon-learn-basics-active,.logo-spotify,.icon-learn-previous,.icon-learn-previous-active,.icon-learn-next,.icon-learn-next-active,.icon-workflow,.icon-preview,.icon-more,.icon-interaction,.icon-general,.icon-features,.icon-code,.icon-animation,.icon-arrow{
    background-image:url('/static/images/sprites/sprite2x.png?429fd1977d');
    background-repeat:no-repeat;
    -webkit-background-size: 211.0px 169.0px;
    -moz-background-size: 211.0px 169.0px;
    background-size: 211.0px 169.0px;
}