/* glue: 0.9.4 hash: 2eee7960c9 */
/* 2x */
.logo-instagram,.logo-facebook,.logo-groupon,.logo-google,.logo-stripe,.logo-twitter,.logo-dropbox,.logo-apple,.logo-adobe,.logo-spotify,.icon-preview,.icon-interaction,.icon-code,.icon-animation{
    background-image:url('/static/images/sprites/sprite2x.png?2eee7960c9');
    background-repeat:no-repeat;
    -webkit-background-size: 180.0px 164.0px;
    -moz-background-size: 180.0px 164.0px;
    background-size: 180.0px 164.0px;
}