/* glue: 0.9.4 hash: 6e456d7599 */
/* 2x */
.logo-instagram,.logo-facebook,.logo-groupon,.logo-google,.logo-stripe,.logo-twitter,.logo-dropbox,.icon-learn-importing,.icon-learn-importing-active,.logo-apple,.logo-adobe,.icon-learn-states,.icon-learn-mirror,.icon-learn-mirror-active,.icon-learn-dragging,.icon-learn-events,.icon-learn-coffeescript,.icon-learn-coffeescript-active,.icon-learn-basics,.icon-learn-basics-active,.logo-spotify,.icon-learn-scrolling,.icon-learn-layers,.icon-learn-animation,.icon-learn-summary,.icon-learn-previous,.icon-learn-previous-active,.icon-learn-next,.icon-learn-next-active,.icon-workflow,.icon-preview,.icon-more,.icon-interaction,.icon-general,.icon-features,.icon-code,.icon-animation,.icon-arrow{
    background-image:url('/static/images/sprites/sprite2x.png?6e456d7599');
    background-repeat:no-repeat;
    -webkit-background-size: 204.5px 201.0px;
    -moz-background-size: 204.5px 201.0px;
    background-size: 204.5px 201.0px;
}