/* glue: 0.9.4 hash: ccf7538b16 */
/* 1x */
.logo-instagram,.logo-facebook,.logo-groupon,.logo-google,.logo-stripe,.logo-twitter,.logo-dropbox,.icon-learn-importing,.icon-learn-importing-active,.logo-apple,.logo-adobe,.icon-learn-mirror,.icon-learn-mirror-active,.icon-learn-coffeescript,.icon-learn-coffeescript-active,.icon-learn-basics,.icon-learn-basics-active,.logo-spotify,.icon-learn-previous,.icon-learn-previous-active,.icon-learn-next,.icon-learn-next-active,.icon-workflow,.icon-preview,.icon-more,.icon-interaction,.icon-general,.icon-features,.icon-code,.icon-animation,.icon-arrow{
    background-image:url('/static/images/sprites/sprite1x.png?ccf7538b16');
    background-repeat:no-repeat;
    -webkit-background-size: 211px 169px;
    -moz-background-size: 211px 169px;
    background-size: 211px 169px;
}

.logo-instagram{
    background-position:0 0;
    width:114px;
    height:32px;
}

.logo-facebook{
    background-position:0 -32px;
    width:114px;
    height:23px;
}

.logo-groupon{
    background-position:0 -55px;
    width:108px;
    height:18px;
}

.logo-google{
    background-position:0 -73px;
    width:90px;
    height:32px;
}

.logo-stripe{
    background-position:-114px 0;
    width:66px;
    height:27px;
}

.logo-twitter{
    background-position:-114px -27px;
    width:37px;
    height:30px;
}

.logo-dropbox{
    background-position:-114px -57px;
    width:34px;
    height:32px;
}

.icon-learn-importing{
    background-position:0 -105px;
    width:30px;
    height:33px;
}

.icon-learn-importing-active{
    background-position:-30px -105px;
    width:30px;
    height:33px;
}

.logo-apple{
    background-position:-148px -57px;
    width:27px;
    height:32px;
}

.logo-adobe{
    background-position:-60px -105px;
    width:32px;
    height:29px;
}

.icon-learn-mirror{
    background-position:0 -138px;
    width:32px;
    height:31px;
}

.icon-learn-mirror-active{
    background-position:-32px -138px;
    width:32px;
    height:31px;
}

.icon-learn-coffeescript{
    background-position:-64px -138px;
    width:30px;
    height:31px;
}

.icon-learn-coffeescript-active{
    background-position:-94px -138px;
    width:30px;
    height:31px;
}

.icon-learn-basics{
    background-position:-124px -138px;
    width:31px;
    height:31px;
}

.icon-learn-basics-active{
    background-position:-180px 0;
    width:31px;
    height:31px;
}

.logo-spotify{
    background-position:-180px -31px;
    width:30px;
    height:30px;
}

.icon-learn-previous{
    background-position:-180px -61px;
    width:19px;
    height:10px;
}

.icon-learn-previous-active{
    background-position:-180px -71px;
    width:19px;
    height:10px;
}

.icon-learn-next{
    background-position:-180px -81px;
    width:19px;
    height:10px;
}

.icon-learn-next-active{
    background-position:-180px -91px;
    width:19px;
    height:10px;
}

.icon-workflow{
    background-position:-180px -101px;
    width:16px;
    height:16px;
}

.icon-preview{
    background-position:-180px -117px;
    width:16px;
    height:16px;
}

.icon-more{
    background-position:-180px -133px;
    width:16px;
    height:16px;
}

.icon-interaction{
    background-position:-180px -149px;
    width:16px;
    height:16px;
}

.icon-general{
    background-position:-151px -27px;
    width:16px;
    height:16px;
}

.icon-features{
    background-position:-114px -89px;
    width:16px;
    height:16px;
}

.icon-code{
    background-position:-130px -89px;
    width:16px;
    height:16px;
}

.icon-animation{
    background-position:-146px -89px;
    width:16px;
    height:16px;
}

.icon-arrow{
    background-position:-199px -61px;
    width:6px;
    height:10px;
}


