/* glue: 0.9.4 hash: 2f079554ce */
/* 2x */
.logo-instagram,.logo-facebook,.logo-groupon,.logo-google,.logo-stripe,.logo-twitter,.logo-dropbox,.icon-learn-importing,.icon-learn-importing-active,.logo-apple,.logo-adobe,.icon-learn-mirror,.icon-learn-mirror-active,.icon-learn-basics,.icon-learn-basics-active,.logo-spotify,.icon-learn-coffeescript,.icon-learn-coffeescript-active,.icon-workflow,.icon-preview,.icon-more,.icon-interaction,.icon-general,.icon-features,.icon-code,.icon-animation,.icon-arrow{
    background-image:url('/static/images/sprites/sprite2x.png?2f079554ce');
    background-repeat:no-repeat;
    -webkit-background-size: 180.0px 171.0px;
    -moz-background-size: 180.0px 171.0px;
    background-size: 180.0px 171.0px;
}