/* glue: 0.9.4 hash: debc2ef06d */
/* 2x */
.logo-instagram,.logo-facebook,.logo-groupon,.logo-google,.logo-stripe,.logo-twitter,.logo-dropbox,.logo-apple,.logo-adobe,.logo-spotify,.icon-workflow,.icon-preview,.icon-more,.icon-interaction,.icon-general,.icon-features,.icon-code,.icon-animation,.icon-arrow{
    background-image:url('/static/images/sprites/sprite2x.png?debc2ef06d');
    background-repeat:no-repeat;
    -webkit-background-size: 180.0px 164.0px;
    -moz-background-size: 180.0px 164.0px;
    background-size: 180.0px 164.0px;
}