/* glue: 0.9.4 hash: 24ae73ef4a */
/* 1x */
.logo-instagram,.logo-facebook,.logo-groupon,.stripe-badge,.logo-google,.logo-soundcloud,.logo-stripe,.logo-slack,.logo-twitter,.logo-dropbox,.icon-universities,.logo-pinterest,.logo-apple,.logo-adobe,.icon-workflow,.icon-viewer,.icon-preview,.icon-learn-mirror,.icon-learn-mirror-active,.icon-effects,.icon-conferences,.icon-companies,.icon-animation,.icon-volumelicenses,.icon-meetups,.icon-learn-importing,.icon-learn-importing-active,.icon-learn-coffeescript,.icon-learn-coffeescript-active,.icon-learn-basics,.icon-learn-basics-active,.icon-educationpricing,.icon-editor,.logo-spotify,.icon-interaction,.icon-code,.icon-learn-previous,.icon-learn-previous-active,.icon-learn-next,.icon-learn-next-active,.icon-more,.icon-general,.icon-footer-twitter,.icon-footer-email,.icon-features,.icon-dropdown-arrow,.icon-arrow{
    background-image:url('/static/images/sprites/sprite1x.png?24ae73ef4a');
    background-repeat:no-repeat;
    -webkit-background-size: 267px 215px;
    -moz-background-size: 267px 215px;
    background-size: 267px 215px;
}

.logo-instagram{
    background-position:0 0;
    width:114px;
    height:32px;
}

.logo-facebook{
    background-position:0 -32px;
    width:114px;
    height:23px;
}

.logo-groupon{
    background-position:0 -55px;
    width:108px;
    height:18px;
}

.stripe-badge{
    background-position:0 -73px;
    width:100px;
    height:39px;
}

.logo-google{
    background-position:-114px 0;
    width:90px;
    height:32px;
}

.logo-soundcloud{
    background-position:-114px -32px;
    width:70px;
    height:33px;
}

.logo-stripe{
    background-position:-114px -65px;
    width:66px;
    height:27px;
}

.logo-slack{
    background-position:0 -112px;
    width:40px;
    height:39px;
}

.logo-twitter{
    background-position:-40px -112px;
    width:37px;
    height:30px;
}

.logo-dropbox{
    background-position:0 -151px;
    width:34px;
    height:32px;
}

.icon-universities{
    background-position:-34px -151px;
    width:34px;
    height:31px;
}

.logo-pinterest{
    background-position:-204px 0;
    width:32px;
    height:33px;
}

.logo-apple{
    background-position:-204px -33px;
    width:27px;
    height:32px;
}

.logo-adobe{
    background-position:-204px -65px;
    width:32px;
    height:29px;
}

.icon-workflow{
    background-position:-204px -94px;
    width:32px;
    height:32px;
}

.icon-viewer{
    background-position:-204px -126px;
    width:32px;
    height:32px;
}

.icon-preview{
    background-position:0 -183px;
    width:32px;
    height:32px;
}

.icon-learn-mirror{
    background-position:-68px -151px;
    width:32px;
    height:31px;
}

.icon-learn-mirror-active{
    background-position:-100px -151px;
    width:32px;
    height:31px;
}

.icon-effects{
    background-position:-32px -183px;
    width:32px;
    height:32px;
}

.icon-conferences{
    background-position:-132px -151px;
    width:32px;
    height:31px;
}

.icon-companies{
    background-position:-164px -151px;
    width:32px;
    height:31px;
}

.icon-animation{
    background-position:-64px -183px;
    width:32px;
    height:32px;
}

.icon-volumelicenses{
    background-position:-96px -183px;
    width:31px;
    height:31px;
}

.icon-meetups{
    background-position:-127px -183px;
    width:31px;
    height:31px;
}

.icon-learn-importing{
    background-position:-158px -183px;
    width:30px;
    height:31px;
}

.icon-learn-importing-active{
    background-position:-188px -183px;
    width:30px;
    height:31px;
}

.icon-learn-coffeescript{
    background-position:-236px 0;
    width:31px;
    height:31px;
}

.icon-learn-coffeescript-active{
    background-position:-236px -31px;
    width:31px;
    height:31px;
}

.icon-learn-basics{
    background-position:-236px -62px;
    width:31px;
    height:31px;
}

.icon-learn-basics-active{
    background-position:-236px -93px;
    width:31px;
    height:31px;
}

.icon-educationpricing{
    background-position:-236px -124px;
    width:31px;
    height:31px;
}

.icon-editor{
    background-position:-236px -155px;
    width:28px;
    height:31px;
}

.logo-spotify{
    background-position:-77px -112px;
    width:30px;
    height:30px;
}

.icon-interaction{
    background-position:-236px -186px;
    width:28px;
    height:28px;
}

.icon-code{
    background-position:-107px -112px;
    width:28px;
    height:28px;
}

.icon-learn-previous{
    background-position:-204px -158px;
    width:10px;
    height:23px;
}

.icon-learn-previous-active{
    background-position:-214px -158px;
    width:10px;
    height:23px;
}

.icon-learn-next{
    background-position:-224px -158px;
    width:10px;
    height:23px;
}

.icon-learn-next-active{
    background-position:-184px -32px;
    width:10px;
    height:23px;
}

.icon-more{
    background-position:-180px -65px;
    width:16px;
    height:16px;
}

.icon-general{
    background-position:-114px -92px;
    width:16px;
    height:16px;
}

.icon-footer-twitter{
    background-position:-130px -92px;
    width:16px;
    height:14px;
}

.icon-footer-email{
    background-position:-180px -81px;
    width:16px;
    height:11px;
}

.icon-features{
    background-position:-135px -112px;
    width:16px;
    height:16px;
}

.icon-dropdown-arrow{
    background-position:-184px -55px;
    width:11px;
    height:7px;
}

.icon-arrow{
    background-position:-194px -32px;
    width:6px;
    height:10px;
}


