/* glue: 0.9.4 hash: 03cf7150d7 */
/* 1x */
.logo-instagram,.logo-facebook,.logo-groupon,.logo-google,.logo-stripe,.logo-twitter,.logo-dropbox,.icon-learn-importing,.icon-learn-importing-active,.logo-apple,.logo-adobe,.icon-learn-mirror,.icon-learn-mirror-active,.icon-learn-basics,.icon-learn-basics-active,.logo-spotify,.icon-learn-coffeescript,.icon-learn-coffeescript-active,.icon-workflow,.icon-preview,.icon-more,.icon-interaction,.icon-general,.icon-features,.icon-code,.icon-animation,.icon-arrow{
    background-image:url('/static/images/sprites/sprite1x.png?03cf7150d7');
    background-repeat:no-repeat;
    -webkit-background-size: 180px 171px;
    -moz-background-size: 180px 171px;
    background-size: 180px 171px;
}

.logo-instagram{
    background-position:0 0;
    width:114px;
    height:32px;
}

.logo-facebook{
    background-position:0 -32px;
    width:114px;
    height:23px;
}

.logo-groupon{
    background-position:0 -55px;
    width:108px;
    height:18px;
}

.logo-google{
    background-position:0 -73px;
    width:90px;
    height:32px;
}

.logo-stripe{
    background-position:-114px 0;
    width:66px;
    height:27px;
}

.logo-twitter{
    background-position:-114px -27px;
    width:37px;
    height:30px;
}

.logo-dropbox{
    background-position:-114px -57px;
    width:34px;
    height:32px;
}

.icon-learn-importing{
    background-position:0 -105px;
    width:28px;
    height:34px;
}

.icon-learn-importing-active{
    background-position:-28px -105px;
    width:28px;
    height:34px;
}

.logo-apple{
    background-position:-148px -57px;
    width:27px;
    height:32px;
}

.logo-adobe{
    background-position:-56px -105px;
    width:32px;
    height:29px;
}

.icon-learn-mirror{
    background-position:0 -139px;
    width:32px;
    height:32px;
}

.icon-learn-mirror-active{
    background-position:-32px -139px;
    width:32px;
    height:32px;
}

.icon-learn-basics{
    background-position:-64px -139px;
    width:31px;
    height:31px;
}

.icon-learn-basics-active{
    background-position:-95px -139px;
    width:31px;
    height:31px;
}

.logo-spotify{
    background-position:-126px -139px;
    width:30px;
    height:30px;
}

.icon-learn-coffeescript{
    background-position:-151px -27px;
    width:28px;
    height:28px;
}

.icon-learn-coffeescript-active{
    background-position:-88px -105px;
    width:28px;
    height:28px;
}

.icon-workflow{
    background-position:-114px -89px;
    width:16px;
    height:16px;
}

.icon-preview{
    background-position:-130px -89px;
    width:16px;
    height:16px;
}

.icon-more{
    background-position:-146px -89px;
    width:16px;
    height:16px;
}

.icon-interaction{
    background-position:-162px -89px;
    width:16px;
    height:16px;
}

.icon-general{
    background-position:-90px -73px;
    width:16px;
    height:16px;
}

.icon-features{
    background-position:-90px -89px;
    width:16px;
    height:16px;
}

.icon-code{
    background-position:-116px -105px;
    width:16px;
    height:16px;
}

.icon-animation{
    background-position:-132px -105px;
    width:16px;
    height:16px;
}

.icon-arrow{
    background-position:-108px -55px;
    width:6px;
    height:10px;
}


