{% extends "subpage.html" %}
{% block title %}Framer - Careers{% endblock %}
{% block currentpage %}class="subpage careers"{% endblock currentpage %}


{% block pageheader %} <!--Header Text-->
<header class="page-header">
	<img src="/static/images/careers/careers-header-bg.jpg" srcset="/static/images/careers/careers-header-bg@2x.jpg 2x">
	<div class="content-inner">
		<h1>Work at Framer</h1>
		<h2 class="col-2">Help us invent the future of interaction design tools.</h2>
	</div>
</header> 
{% endblock pageheader %}

{% block body %}

<div class="clearfix">
<h3>Careers</h3>
<section class="col-2">
	<h5>Current openings</h5>
	<p>All vacancies are for full-time positions at our Amsterdam office. If you don't live in or close to Amsterdam, you have to be willing to relocate and able to legally work in Europe.</p>

	<p>To apply, send your resume and some recent work that you are proud of to <a href="mailto:jobs@framerjs.com">jobs@framerjs.com.</a></p>
</section>

<section class="col-2">

	<h5>Interns</h5>
	<p class="col-2">If you feel you are top of your class and deeply care about creating creative tools feel free to apply. We are looking for both designers and engineers. Requirements are same as the below.
	</p>

</section>
</div> <!--clearfix-->

<hr>

<div class="clearfix">
<section class="col-2">
	<h4>Engineer</h4>
	<p>We like engineers that are also passionate about product design and high quality interfaces. We're looking for engineers that can work on a variety of things, but if you're a specialist, feel free to apply too.</p>

	<h5>Requirements</h5>
	<ul>
		<li>JavaScript and CoffeeScript</li>
		<li>Objective-C / Cacoa / AppKit</li>
		<li>OpenGL / WebGL</li>
		<li>C/C++ is a pre</li>
	</ul>

	<a class="btn blue" href="mailto:jobs@framerjs.com">Apply</a>
</section>

<section class="col-2">
	<h4>Designer</h4>
	<p>Our designers need to be able to conceptually think about product, marketing and messaging and execute both visually and technically. We're looking for designers with a broad skillset, but if you're a specialist, feel free to apply too.</p>

	<h5>Requirements</h5>
	<ul>
		<li>Sketch / Photoshop</li>
		<li>Fluent in HTML and CSS</li>
		<li>Basic JavaScript skills</li>
		<li>Framer experience is a pre</li>
	</ul>
	<a class="btn blue" href="mailto:jobs@framerjs.com">Apply</a>
</section>
</div> <!--clearfix-->

{% endblock body %}	