{% extends "learnpage.html" %}
{% block title %}Framer - Learn Basics{% endblock %}
{% block currentpage %}class="subpage learn basics"{% endblock currentpage %}
{% block islearn %}active{% endblock %}
{% block basics %}active{% endblock %}
{% block basics2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<li class="active"><a href="/learn/basics/layers">Layers <div class="small">Hierarchy and Properties</div></a></li>
		<li><a href="/learn/basics/animation">Animation <div class="small">Curves and Timing</div></a></li>
		<li><a href="/learn/basics/states">States <div class="small">Sets of properties</div></a></li>
		<li><a href="/learn/basics/events">Events <div class="small">Layer interactions</div></a></li>
		<li><a href="/learn/basics/dragging">Dragging <div class="small">Draggable layers</div></a></li>
		<li><a href="/learn/basics/scrolling">Scrolling <div class="small">Scrollable layers</div></a></li>
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block pagetitle %} <!--Header Text-->
<h1>Start prototyping</h1>
<h2 class="col-2">Learn how to create interactive prototypes with Framer</h2>

<img class="learn-banner" src="/static/images/learn/learn-banner.png" srcset="/static/images/learn/learn-banner@2x.png 2x" draggable="false">
{% endblock pagetitle %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### Layers 
<a name="basics"></a>
A layer is a rectangle that draws elements. Layers can display images, videos or text, and contain a set of basic properties. Every layer inherits a few default properties: 
<div class="with-illustration">
<pre lang="coffeescript">
# Create a layer 
layerA = new Layer 
	x:0, y:0, width:100, height:100
</pre>
<img class="code-illustration" src="/static/images/learn/layer-new.png" srcset="/static/images/learn/layer-new@2x.png 2x" draggable="false">

</div>

##### Hierarchy

Parent layers are called superLayers, and child layers are called subLayers. Layers inherit properties from their superLayers. You can define a layers superLayer as a property, too.
<div class="with-illustration">
<pre lang="coffeescript">
# Two ways to define hierarchy
layerB.superLayer = layerA
layerA.subLayer = layerB
</pre>
<img class="code-illustration" src="/static/images/learn/layer-hierarchy.png" srcset="/static/images/learn/layer-hierarchy@2x.png 2x" draggable="false">
</div>

##### Positioning
You can **center** a layer within its superLayer by calling the center() function:
<pre lang="coffeescript">
layerA.center()
</pre>

You can also dynamically retreive values of a layers X and Y position, as well as its **minX** and **maxX** position.
<div class="with-illustration layer-positioning-minmax">
<pre lang="coffeescript">
# Properties of layerA:
# x:40, y:40, width:80, height:80

layerB.x = layerA.X     # 40
layerB.x = layerA.minX  # 40
layerB.x = layerA.maxX  # 120
</pre>
<img class="code-illustration no-border" src="/static/images/learn/layer-positioning-minmax.png" srcset="/static/images/learn/layer-positioning-minmax@2x.png 2x" draggable="false">
</div>

##### Properties
Layers can have a range of properties. Besides being able to define an image, background, or video, you can also transform, hide layers, scale layers and much more.

<div class="with-illustration four-lines">
<pre lang="coffeescript">
layerB = new Layer
	backgroundColor:"#28AFFA",
	width:60, height:60,
	scale:1, borderRadius:"3px"
</pre>
<img class="code-illustration" src="/static/images/learn/layer-properties-one.png" srcset="/static/images/learn/layer-properties-one@2x.png 2x" draggable="false">
</div>

You can also define and override properties after having defined a layer. Note the different notation.

<div class="with-illustration four-lines">
<pre lang="coffeescript">
layerA.backgroundColor = "#7DDC16"
layerA.rotation = 45
layerA.opacity = 0.8
layerA.scale = 0.8
</pre>
<img class="code-illustration" src="/static/images/learn/layer-properties-two.png" srcset="/static/images/learn/layer-properties-two@2x.png 2x" draggable="false">
</div>

##### Layer types
Layers can contain images, videos and text.

<section class="clearfix">
<div class="col-4">
<img src="/static/images/learn/layer-types-image.png" srcset="/static/images/learn/layer-types-image@2x.png 2x" draggable="false">
<div class="without-linenumbers">
<pre lang="coffeescript">
# imageLayer
layerA = new Layer
	image: "image.png"
</pre>
</div>
</div> <!--col-4-->

<div class="col-4">
<img src="/static/images/learn/layer-types-video.png" srcset="/static/images/learn/layer-types-video@2x.png 2x" draggable="false">
<div class="without-linenumbers">
<pre lang="coffeescript">
# videoLayer
layerA = new Layer
	video: "video.mp4"
</pre>
</div>
</div> <!--col-4-->

<div class="col-4">
<img src="/static/images/learn/layer-types-label.png" srcset="/static/images/learn/layer-types-label@2x.png 2x" draggable="false">
<div class="without-linenumbers">
<pre lang="coffeescript">
# Labeled Layer
layerA = new Layer
layerA.html = "Label"
</pre>
</div>
</div> <!--col-4-->
</section> <!--clearfix-->

<hr>

<h3>Summary</h3>
<ul>
	<li>Layer hierarchy can be defined in 2 different ways </li>
	<li>Sublayers inherit properties from their superLayers </li>
	<li>Layers can be positioned dynamically </li>
	<li>Layers can have a range of properties </li>
	<li>Layers can contain images, videos and text </li>
</ul>

<hr>

<!--Link-to-next-->
<section class="page-navigation">
	<a class="next" href="/learn/basics/animation">
		<h5>Next:</h5>
		<h6>Animation</h6> 
		<figure class="icon-learn-next-active"></figure>
	</a> <!--next-->
</section>


{% endfilter %}	
{% endfilter %}
{% endblock body %}	