{% extends "learnpage.html" %}
{% block title %}Framer - Basics{% endblock %}
{% block currentpage %}class="subpage learn basics"{% endblock currentpage %}
{% block islearn %}active{% endblock %}
{% block basics %}active{% endblock %}
{% block basics2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<a href="/learn/basics"><li class="active">Layers <div class="small">Hierarchy and Properties</div></li></a>
		<a href="/learn/basics/animation"><li>Animation <div class="small">Curves and Timing</div></li></a>
		<a href="/learn/basics/states"><li>States <div class="small">Sets of properties</div></li></a>
		<a href="/learn/basics/events"><li>Events <div class="small">Layer interactions</div></li></a>
		<a href="/learn/basics/dragging"><li>Dragging <div class="small">Draggable layers</div></li></a>
		<a href="/learn/basics/scrolling"><li>Scrolling <div class="small">Scrollable layers</div></li></a>
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block pagetitle %} <!--Header Text-->
<h1>Start prototyping</h1>
<h2 class="col-2">Learn how to create interactive prototypes with Framer</h2>

<img class="learn-banner" src="/static/images/learn/learn-banner.png" srcset="/static/images/learn/learn-banner@2x.png 2x" draggable="false">
{% endblock pagetitle %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### Layers 
<a name="basics"></a>
A layer is a rectangle that draws elements. Layers can display images, videos or text. Every layer inherits a set of default properties: a width and height of 100px and a blue background color.
<div class="with-illustration">
<pre lang="coffeescript">
# Create a layer 
layerA = new Layer
	x:0, y:0, width:100, height:100
</pre>
<img class="code-illustration" src="/static/images/learn/layer-new.png" srcset="/static/images/learn/layer-new@2x.png 2x" draggable="false">
</div>

##### Properties
A layers position, size and looks are defined by it's properties. Besides being able to define an image, background, or video, you can also transform, hide layers, scale layers and more.

<div class="with-illustration four-lines">
<pre lang="coffeescript">
layerB = new Layer
	backgroundColor:"#28AFFA",
	width:60, height:60,
	scale:1, borderRadius:3
</pre>
<img class="code-illustration" src="/static/images/learn/layer-properties-one.png" srcset="/static/images/learn/layer-properties-one@2x.png 2x" draggable="false">
</div>

You can also define and override properties after having created a layer.

<div class="with-illustration four-lines">
<pre lang="coffeescript">
layerB.borderRadius = 3
layerB.rotation = 45
layerB.opacity = 0.8
layerB.scale = 0.8
</pre>
<img class="code-illustration" src="/static/images/learn/layer-properties-two.png" srcset="/static/images/learn/layer-properties-two@2x.png 2x" draggable="false">
</div>

##### Positioning
A layer can be positioned with its x and y properties. These values define the distance from the top-left corner of the canvas. The minX, minY, midX, midY, maxX and maxY values can also be used to position a layer.

<div class="with-illustration layer-positioning-minmax">
<pre lang="coffeescript">
# Properties of layerA
# x:40, y:40, width:80

layerB.x = layerA.x     # 40
layerB.x = layerA.minX  # 40
layerB.x = layerA.maxX  # 120
</pre>
<img class="code-illustration no-border" src="/static/images/learn/layer-positioning-minmax.png" srcset="/static/images/learn/layer-positioning-minmax@2x.png 2x" draggable="false">
</div>

The distance from the top-left corner of the canvas to the center of a layer can be calculated with midX and midY.

<div class="with-illustration layer-positioning-minmax">
<pre lang="coffeescript">
# The x value of the center
layerB.x = layerA.midX  # 80

# The y value of the center
layerB.y = layerA.midY  # 80
</pre>
<img class="code-illustration no-border" src="/static/images/learn/layer-positioning-midx.png" srcset="/static/images/learn/layer-positioning-midx@2x.png 2x" draggable="false">
</div>

You can **center** a layer within its superLayer, or on the screen by calling the center() function. Layers can also be exlusively centered horizontally or vertically.
<pre lang="coffeescript">
# Center
layerA.center()

# Center horizontally
layerA.centerX()

# Center vertically
layerA.centerY()
</pre>

##### Hierarchy
Layers can have a parent and/or children. Parent layers are called **superLayers**, and child layers are called **subLayers**. Layers inherit properties from their superLayers.
<div class="with-illustration">
<pre lang="coffeescript">
# Two ways to define hierarchy
layerB.superLayer = layerA
layerA.addSubLayer(layerB)
</pre>
<img class="code-illustration" src="/static/images/learn/layer-hierarchy.png" srcset="/static/images/learn/layer-hierarchy@2x.png 2x" draggable="false">
</div>

##### Layer types
Layers can contain images, videos and text.

<section class="layer-types clearfix">
<div class="col-4">
<figure class="layer-type-illustration">
<img src="/static/images/learn/icon-imagelayer.png" srcset="/static/images/learn/icon-imagelayer@2x.png 2x" draggable="false">
</figure> <!--layer-type-illustration-->
<div class="without-linenumbers">
<pre lang="coffeescript">
# Layer with image
layerA = new Layer
	image:"image.png"
</pre>
</div>
</div> <!--col-4-->

<div class="col-4">
<figure class="layer-type-illustration video">
<img src="/static/images/learn/icon-videolayer.png" srcset="/static/images/learn/icon-videolayer@2x.png 2x" draggable="false">
</figure> <!--layer-type-illustration-->
<div class="without-linenumbers">
<pre lang="coffeescript">
# Layer with video
layerA = new VideoLayer
	video: "video.mp4"
</pre>
</div>
</div> <!--col-4-->

<div class="col-4">
<figure class="layer-type-illustration html">
<img src="/static/images/learn/icon-htmllayer.png" srcset="/static/images/learn/icon-htmllayer@2x.png 2x" draggable="false">
</figure> <!--layer-type-illustration-->
<div class="without-linenumbers">
<pre lang="coffeescript">
# Layer with HTML
layerA = new Layer
layerA.html ="Hello"
</pre>
</div>
</div> <!--col-4-->
</section> <!--clearfix-->

<section class="summary">
<h5>Summary</h5>
<ul>
	<li>Layers are defined by properties</li>
	<li>Layers have hierarchy and inherit properties from their parents</li>
	<li>Layers can be transformed, scaled, masked, rotated and more </li>
	<li>Layers can contain images, videos and html or text </li>
</ul>
</section> <!--summary-->

<hr>

<!--Link-to-next-->
<section class="subpage-nav">
	<a class="next" href="/learn/basics/animation">
		<h6>Animation</h6> 
		<figure class="icon-learn-next-active"></figure>
	</a> 
</section>


{% endfilter %}	
{% endfilter %}
{% endblock body %}	