{% extends "learnpage.html" %}
{% block title %}Framer - Learn CoffeeScript{% endblock %}
{% block islearn %}active{% endblock %}
{% block coffeescript %}active{% endblock %}
{% block coffeescript2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<li><a href="/learn/coffeescript">Overview <div class="small">Hierarchy and Properties</div></a></li>
		<li><a href="/learn/coffeescript/data-types">Data types <div class="small">Booleans, strings..</div></a></li>
		<li class="active"><a href="/learn/coffeescript/loops-and-conditionals">Loops & Conditionals <div class="small">Arrays and Logic</div></a></li>
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}

### Loops

Loops are used to iterate over collections, as in do something for each item. Collections can be an Array or Object. They use the **for** keyword.

<pre lang="coffeescript">
myArray = [1, 2, 3, 4, 5]

for number in myArray
	number + 1

# Output: 2, 3, 4, 5, 6
</pre>

#### Conditionals

Conditionals define your logic. You use them together with comparators to make decisions. They are all based around the **if**, **else if** and **else** keywords.
<pre lang="coffeescript">
	if age > 21
		console.log "Over 21!"
</pre>

A conditional that checks for multiple things:
<pre lang="coffeescript">
	if age < 21
		console.log "Young"
	else if age < 65
		console.log "Adult"
	else
		console.log "Senior"
</pre>

##### Comparators

Comparators compare things. The most common are equality and greater/smaller than.
<pre lang="coffeescript">
4 is 4 # Output: true
4 isnt 4 # Output: false
4 < 5 # Output true
4 > 5 # Output false
</pre>

<section class="page-navigation">
	<a class="previous" href="/learn/coffeescript/data-types">
		<figure class="icon-learn-previous-active"></figure>
		<h6 class="last">Data Types</h6> 
	</a> 
</section>

{% endfilter %}	
{% endfilter %}	
{% endblock body %}
