{% extends "subpage.html" %}
{% block title %}Framer - Educate{% endblock %}
{% block currentpage %}class="subpage teach"{% endblock currentpage %}


{% block pageheader %} <!--Header Text-->
<header class="page-header">
	<img src="/static/images/teach/teach-header-bg.jpg" srcset="/static/images/teach/teach-header-bg@2x.jpg 2x">
	<div class="content-inner">
		<h1>Educate</h1>
		<h2 class="col-2">Discover where Framer is being taught, and how you can too.</h2>
	</div>
</header> 
{% endblock pageheader %}

{% block body %}
<div class="teach-logo-section clearfix">
	<h4>Start teaching Framer</h4>

	<p class="col-2">
	Framer is being taught at universities, conferences and meetups across the globe. Many companies also teach Framer internally, including Google, Dropbox, Twitter and more. Learn how you can start teaching Framer below.
	</p>

	<div class="teach-logo-string">
		<section class="col-4">
			<figure class="logo-berkeley"></figure>
			<figure class="logo-generalassembly"></figure>
		</section>

		<section class="col-4">
			<figure class="logo-google-io-one"></figure>
			<figure class="logo-google-io-two"></figure>
		</section>
	</div>
</div>

<div class="why-teach-framer clearfix">
	<section class="col-4">
		<figure class="icon-meetups"></figure>
		<h4>Meetups</h4>
		<p class="small">
		If you’re enthusiastic about prototyping, you can help others learn how to prototype by organizing a local meetup.
		</p>
		<ul>
			<li>We can help with promotion</li>
			<li>We can review your assets</li>
		</ul>
	</section>

	<section class="col-4">
		<figure class="icon-conferences"></figure>
		<h4>Conferences</h4>

		<p class="small">
		Prototyping is a popular topic. Upcoming tools like Framer, are exciting to include in talks about interaction design.
		</p>
		<ul>
			<li>We can help find speakers</li>
			<li>We can give presentations</li>
		</ul>
	</section>

	<section class="col-4">
		<figure class="icon-companies"></figure>
		<h4>Companies</h4>

		<p class="small">
		Companies that embrace prototyping are able to work more efficiently and attract interaction designers.</p>
		<ul>

			<li>We can review courses</li>
			<li>Volume licenses available</li>
		</ul>
	</section>

	<section class="col-4">
		<figure class="icon-universities"></figure>
		<h4>Universities</h4>
		<p class="small">
		Framer is a great tool to help teach User Interface Design and Development courses at Universities.</p>
		<ul>
			<li>We can connect universities</li>
			<li>Education pricing available</li>
		</ul>
	</section>
</div>

<div class="center">
	<h4>Interested in teaching Framer? Let us know.</h4>
	<a class="btn blue" href="#">Get in touch</a>
</div>

<hr>

<div class="resources">
	<section class="col-4">
		<h5>Event talks</h5>
		<a href="https://vimeo.com/101609802" target="_blank">The future of Framer<div class="author">By Koen Bok</div></a>
		<a href="https://vimeo.com/101623179" target="_blank">From Concept to Execution<div class="author">By Colin Dunn</div></a>
		<a href="https://vimeo.com/102234475" target="_blank">A View on Interaction Design<div class="author">By Tisho Georgiev</div></a>
		<a href="https://vimeo.com/102228362" target="_blank">Prototyping with Framer.js<div class="author">By Noah Levin</div></a>
	</section>

	<section class="col-4">
		<h5>Event slides</h5>
		<a href="https://speakerdeck.com/stakes/prototyping-with-framer" target="_blank">Prototyping with Framer<div class="author">By Jay Stakelon</div></a>
		<a href="https://speakerdeck.com/stakes/designing-with-code" target="_blank">Designing with Code<div class="author">By Jay Stakelon</div></a>
		<a href="http://nlevin.com/framer/" target="_blank">Prototyping with Framer<div class="author">By Noah Levin</div></a>
	</section>

	<section class="col-4">
		<h5>Articles</h5>
		<a href="https://medium.com/@drocarmo/why-framer-js-matters-93eb1206e606" target="_blank">Why Framer Matters <div class="author">By Pedro Carmo</div></a>
		<a href="http://blog.tackmobile.com/article/prototyping-framer-js/" target="_blank">Prototyping with Framer <div class="author">By Tackmobile</div></a>
		<a href="https://blog.grandcentrix.net/motion-is-emotion/" target="_blank">Motion is Emotion <div class="author">By Brian Louis Ramirez</div></a>
	</section>
</div>


{% endblock body %}	