{% extends "learnpage.html" %}
{% block title %}Framer - Learn Basics{% endblock %}
{% block currentpage %}class="subpage learn"{% endblock currentpage %}
{% block islearn %}active{% endblock %}
{% block basics %}active{% endblock %}
{% block basics2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<li><a href="/learn/basics">Layers <div class="small">Hierarchy and Properties</div></a></li>
		<li><a href="/learn/basics/animation">Animation <div class="small">Curves and Timing</div></a></li>
		<li><a href="/learn/basics/states">States <div class="small">Sets of properties</div></a></li>
		<li><a href="/learn/basics/events">Events <div class="small">Layer interactions</div></a></li>
		<li class="active"><a href="/learn/basics/dragging">Dragging <div class="small">Draggable layers</div></a></li>
		<li><a href="/learn/basics/scrolling">Scrolling <div class="small">Scrollable layers</div></a></li>
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### Dragging
You can create a draggable layer by setting draggable.enabled to true. You can also specify the dragging resistance. This is especially useful if you'd like an element to be draggable only horizontally or vertically: simply set either the speedX or speedY to 0.

<div class="with-full-illustration dragging">
<pre lang="coffeescript">
# Make the layer draggable 
layerA.draggable.enabled = true

# Set dragging resistance
layerA.draggable.speedX = 1

# Prevent vertical dragging
layerA.draggable.speedY = 0
</pre>

<img class="code-illustration-dragging" src="/static/images/learn/dragging.gif" srcset="/static/images/learn/dragging@2x.gif 2x">
</div>

Framer has three dragging events: DragStart, DragMove and DragEnd.

<div class="with-illustration dragging-events">
<pre lang="coffeescript">
# Start dragging
layerA.on Events.DragStart, -> 

    layerA.animate
    	properties:
    		scale: 1.1
    	curve: "ease"
    	time: 0.2
</pre>
<img class="code-illustration no-border" src="/static/images/learn/dragging-events-start.png" srcset="/static/images/learn/dragging-events-start@2x.png 2x">
</div>

<pre lang="coffeescript">
# When moving the draggable layer
layerA.on Events.DragMove, -> 
    ...
</pre>

<div class="with-illustration dragging-events">
<pre lang="coffeescript">
# After dragging    
layerA.on Events.DragEnd, -> 

    layerA.animate
    	properties:
    		scale: 1
    	curve: "ease"
    	time: 0.2
</pre>
<img class="code-illustration no-border" src="/static/images/learn/dragging-events-end.png" srcset="/static/images/learn/dragging-events-end@2x.png 2x">
</div>


<section class="summary">
<figure class="icon-learn-dragging"></figure><h3>Summary</h3>
<ul>
    <li>Setting draggable.enabled to true creates a draggable layer </li>
    <li>Dragging direction can be defined with speedX and speedY </li>
    <li>Framer has three dragging events </li>
</ul>
</section>


<hr>

<section class="page-navigation">
    <a class="previous" href="/learn/basics/events">
        <h5>Previous:</h5>
        <figure class="icon-learn-previous"></figure>
        <h6>Events</h6> 
    </a> <!--next-->
    <a class="next" href="/learn/basics/scrolling">
        <h5>Next:</h5>
        <h6>Scrolling</h6> 
        <figure class="icon-learn-next-active"></figure>
    </a> <!--next-->
</section>
{% endfilter %}	
{% endfilter %}
{% endblock body %}	