{% extends "learnpage.html" %}
{% block title %}Framer - Learn Basics{% endblock %}
{% block currentpage %}class="subpage learn"{% endblock currentpage %}
{% block islearn %}active{% endblock %}
{% block basics %}active{% endblock %}
{% block basics2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<li><a href="/learn/basics">Layers <div class="small">Hierarchy and Properties</div></a></li>
		<li><a href="/learn/basics/animation">Animation <div class="small">Curves and Timing</div></a></li>
		<li><a href="/learn/basics/states">States <div class="small">Sets of properties</div></a></li>
		<li><a href="/learn/basics/events">Events <div class="small">Layer interactions</div></a></li>
		<li class="active"><a href="/learn/basics/dragging">Dragging <div class="small">Draggable layers</div></a></li>
		<li><a href="/learn/basics/scrolling">Scrolling <div class="small">Scrollable layers</div></a></li>
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### Dragging
You can create a draggable layer by setting draggable.enabled to true. You can also specify the dragging resistance. This is especially useful if you'd like an element to be draggable only horizontally or vertically: simply set either the speedX or speedY to 0.

<div class="with-full-illustration dragging">
<pre lang="coffeescript">
# Make the layer draggable 
layerA.draggable.enabled = true

# Set dragging resistance
layerA.draggable.speedX = 1
layerA.draggable.speedY = 0
</pre>

<img class="code-illustration-dragging" src="/static/images/learn/dragging.gif">
</div>

There are three dragging events in Framer:

<pre lang="coffeescript">
# Drag Events
layerA.on Events.DragStart, -> 
    ...
layerA.on Events.DragMove, -> 
    ...
layerA.on Events.DragEnd, -> 
    ...
</pre>

{% endfilter %}	
{% endfilter %}
{% endblock body %}	