{% extends "learnpage.html" %}
{% block title %}Framer - Learn Basics{% endblock %}
{% block currentpage %}class="subpage learn"{% endblock currentpage %}
{% block islearn %}active{% endblock %}
{% block basics %}active{% endblock %}
{% block basics2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<li><a href="/learn/basics">Layers <div class="small">Hierarchy and Properties</div></a></li>
		<li><a href="/learn/basics/animation">Animation <div class="small">Curves and Timing</div></a></li>
		<li><a href="/learn/basics/states">States <div class="small">Sets of properties</div></a></li>
		<li><a href="/learn/basics/events">Events <div class="small">Layer interactions</div></a></li>
		<li class="active"><a href="/learn/basics/dragging">Dragging <div class="small">Draggable layers</div></a></li>
		<li><a href="/learn/basics/scrolling">Scrolling <div class="small">Scrollable layers</div></a></li>
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### Dragging
You can create  a draggable layer by enabling it: 

<pre lang="coffeescript">
# Make the layer draggable 
layerA.draggable.enabled = true
</pre>

You can also specify the dragging resistance. Setting the resistance to 0 will disable dragging entirely.

<pre lang="coffeescript">
# Set dragging resistance
layerA.draggable.speedX = 1
layerA.draggable.speedY = 0.5
</pre>

There are three dragging events in Framer:

<pre lang="coffeescript">
# Drag Events
layerA.on Events.DragStart, -> 
    ...
layerA.on Events.DragMove, -> 
    ...
layerA.on Events.DragEnd, -> 
    ...
</pre>

{% endfilter %}	
{% endfilter %}
{% endblock body %}	