{% extends "learnpage.html" %}
{% block title %}Framer - Learn CoffeeScript{% endblock %}
{% block islearn %}active{% endblock %}
{% block coffeescript %}active{% endblock %}
{% block coffeescript2 %}-active{% endblock %}

{% block pagetitle %} <!--Header Text-->
<h1>CoffeeScript</h1>
<h6 class="col-2">Learn the basics of CoffeeScript, a more legible and minimal way to write JavaScript.</h6>
{% endblock pagetitle %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
##### Comments <a name="intro"></a>

Comments is text that is not code. You use them to explain what happens in the code around it if it's not self evident from the code. Comments are prefixed with **#**.
<pre lang="coffeescript">
# I am a comment
5 + 6 # I am a comment too
</pre>

##### Printing Output

Whenever you want to display a value to inspect you can print it to the log like
<pre lang="coffeescript">
console.log "Hello" # Output: Hello
console.log "Hello", "World" # Output: Hello World
</pre>
##### Tabs

CoffeeScript uses *significant whitespace*. That means that tabs are used to define the structure of the language, instead of **{** and **}** like in Javascript. So if your tabs are not correct, your script will fail.
<pre lang="coffeescript">
if 1 + 1 == 2
	console.log "hello" # This will work

if 1 + 1 == 2
console.log "hello" # This will fail (missing tab)
</pre>
##### Variables

A variable is a way to store something under a name. It's pretty simple:
<pre lang="coffeescript">
myVariable = 1
</pre>
From this point on the variable myVariable contains 1. You can change this at any point just by assigning a new value.

If you ask the value of a variable before it has one (defined) it returns a special value 'undefined'. If you get an error with undefined there is a big chance you are trying to use a variable that doesn't exist (yet).
<pre lang="coffeescript">
myUnexistingVariable # Output "undefined"
</pre>
Variables can store different types of data, see below.

---
<a name="data-types"></a>
#### Data types

##### Boolean

A boolean can only have two values: **false** or **true**:
<pre lang="coffeescript">
myBoolA = true
myBoolB = false
</pre>
##### Number

Numbers can be small, big, rounded, positive or negative:
<pre lang="coffeescript">
myNumberA = 2
myNumberB = 20.0
myNumberC = -223894
</pre>

You can calculate with numbers like this (*operators*):
<pre lang="coffeescript">
myNumberA + myNumberB  # Add, output: 22.0
myNumberA / myNumberB  # Divide, output: 0.10
myNumberA * myNumberB  # Product, output: 40.0
myNumberA ** myNumberB # Power, output: 400.0
</pre>

##### String

A string is a set of characters like words or complete sentences:
<pre lang="coffeescript">
myStringA = "Hello there"
</pre>

You can combine strings like this:
<pre lang="coffeescript">
myStringB = "#{myStringA}, I am the dude"
# Output: "Hello there, I am the dude"
</pre>

But strings can also hold complex values you cannot describe in just numbers:
<pre lang="coffeescript">
myStringC = "rgba(255,0,0,0.1)"
myStringD = "1px solid #FFFFFF"
</pre>

##### Array

Arrays contain an ordered set of values. The values can be any type. They can even be nested (for example an array with arrays).
<pre lang="coffeescript">
myListA = [1, 2, 3, 4, 5] # Just numbers
myListB = [1, "test", 22, [1, 2, 3]] # Mixed
</pre>

You can access any item in an array by it's number (it's called an index) which starts at 0:
<pre lang="coffeescript">
myListA[0] # Output: 1
myListA[4] # Output: 5
</pre>

You can also count the items in an array:
<pre lang="coffeescript">
myListB.length # Output: 4
</pre>

Or grab a range from the array:
<pre lang="coffeescript">
myListB[0..2] # Output: [1, 2, 3]
</pre>

##### Object

Objects are a bit like lists, but instead of by number, you can access them by a string (word). Much like a dictionary from a phone book (look up a person by last name). We call the 'lookup string' a key.
<pre lang="coffeescript">
myObjectA = {name:"Framer", age:12}
</pre>

You can also write objects like this, it's the exact same thing as above:
<pre lang="coffeescript">
myObjectA =
	name: "Framer"
	age: 12
</pre>

To find a value in an object you use the key:
<pre lang="coffeescript">
myObjectB["name"] # Output: "Framer"
</pre>

If you use a key that does not exist, you get the special undefined value:
<pre lang="coffeescript">
myObjectB["nothere"] # Output: undefined
</pre>

Once you have made an object, you can add more stuff in it like this:
<pre lang="coffeescript">
myObjectB["platform"] = "Mac"
</pre>

Or remove something like this:
<pre lang="coffeescript">
delete myObjectB["platform"]
myObjectB["platform"] # Output: undefined
</pre>

---

#### Functions

Functions are bits of executable code. It's pretty much the same thing as a function in mathematics. They take input and generate output. The part in between is just a description how to get from one to the other. When you run a function for a specific set of inputs, programmers say you *call* the function, and the input(s) are *arguments**.

Common examples of what you use functions for are:

* Describe to do something, but use it later (when it gets *called*)
* Wrap something you do multiple multiple times in a function so you can reuse it easily

This is how you define a function, note it follows the standard way of defining variables. The *return* keyword passes back a value to the caller (by default, CoffeeScript returns the latest used variable).
<pre lang="coffeescript">
myFunction = (input) -> 
	output = input * 2
	return output
</pre>
To now use (or, **call**) the function with the number 42 (**argument**) you do this:
<pre lang="coffeescript">
myFunction(42) # Output: 84
</pre>

You can assign the output of a function directly to a new variable:
<pre lang="coffeescript">
myCalculatedNumber = myFunction(42)
myCalculatedNumber # Output: 84
</pre>

A function can be defined with as many arguments as you like and they can be any type:
<pre lang="coffeescript">
myFunction = (argumentA, argumentB, argumentC) ->
	return argumentA + argumentB + argumentC
</pre>

---

#### Comparators

Comparators compare things. The most common are equality and greater/smaller than.
<pre lang="coffeescript">
4 is 4 # Output: true
4 isnt 4 # Output: false
4 < 5 # Output true
4 > 5 # Output false
</pre>

You can combine multiple comparators with and and or:
<pre lang="coffeescript">
4 is 4 and 5 < 4 # Output false
4 is 4 or 5 < 4 # Output true
</pre>

---

#### Conditionals

Conditionals define your logic. You use them together with comparators to make decisions. They are all based around the **if**, **else if** and **else** keywords.
<pre lang="coffeescript">
	if age > 21
		console.log "Over 21!"
</pre>

A little more complicated example that checks for multiple things:
<pre lang="coffeescript">
	if age < 21
		console.log "Young"
	else if age < 65
		console.log "Adult"
	else
		console.log "Senior"
</pre>

---

#### Loops

Loops are used to iterate over collections, as in do something for each item. Collections can be an Array or Object. They use the **for** keyword.

To loop over an Array you can do this:
<pre lang="coffeescript">
myArray = [1, 2, 3, 4, 5]

for number in myArray
	number + 1

# Output: 2, 3, 4, 5, 6
</pre>

An Object has a key and value (for example name=Koen) and you'll likely want to use both in your loop. For that, you can use **of** instead of **in** when you loop:

<pre lang="coffeescript">
myObject =
	name: "Koen"
	city: "Amsterdam"
	age: 31

for key, value of myObject
	key, "=", value 

# Output: name=Koen, city=Amsterdam, age=31
</pre>

---

#### Common Errors

* **SyntaxError ... unexpected ...**: the interpreter encountered code that it doesn't know what to do with. You likely made a typo.
* **ReferenceError ... Can't find variable**: ...: you are using a variable that the interpreter doesn't know about. You likely forgot to declare it (at the right time).

---

#### More CoffeeScript resources

If you made it this far you should know enough to start playing around. Some good next steps would be:

* <a href="http://js2coffee.org/" target="_blank">Convert any Javascript to CoffeeScript</a>
* <a href="http://coffeescript.org/" target="_blank">The official CoffeeScript Site</a>
* <a href="http://arcturo.github.io/library/coffeescript" target="_blank">The Little Book on CoffeeScript</a>
* <a href="http://coffeescript.codeschool.com/" target="_blank">Code School CoffeeScript Course (Paid)</a>

<hr>

<!-- Resources -->

<a name="resources"></a>

### Resources
Optimize your prototyping workflow with these tools.
<table>
		<tbody><tr>
			<th width="170px">Product</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><a href="http://cactusformac.com" target="_blank">Cactus for Mac</a></td>
			<td>Auto-refreshes the browser on change. Get immediate feedback on your prototype</td>
		</tr>
		<tr>
			<td><a href="https://github.com/koenbok/CactusTemplatesExtras" target="_blank">Cactus Template</a></td>
			<td>A template to drop Framer into Cactus</td>
		</tr>
		<tr>
			<td><a href="https://itunes.apple.com/us/app/clear-browser-full-screen/id536117231?mt=8" target="_blank">Clear iOS Browser</a></td>
			<td>Run your prototype with Cactus and load the local URL into this browser</td>
		</tr>
</tbody></table>

{% endfilter %}	
{% endfilter %}	
{% endblock body %}
