html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: "Fakt", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $dark;
	overflow-x:hidden;
}
a {
	color: $blue;
	font-weight: 500; 
}
strong {
	font-weight: 500;
	color: $dark;
}
img {
	max-width: 100%;
}
// Clearfix
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container {
	padding: 60px 0;
}
.content-inner {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 60px;
}
.content-inner.narrow {
	max-width: 600px;
	position: relative;
}
.module-600 {
	max-width: 600px;
}
[class*='col-'] { // Select all col- elements
  float: left;
}
[class*='col-'] {
	padding-right:60px; // Gutter
	padding-left:0px;
}
[class*='col-']:first-of-type {
	padding-right: 30px;
	padding-left:0px;
}
[class*='col-']:last-of-type {
	padding-right: 0;
	padding-left:30px;
}
.col-2 {
	width: 50%;
}
.col-3 {
	width: 33.33%;
}
.col-4 {
	width: 25%;
}


// Vertical spacing
hr {
	border: none;  width: 100%;
	border-bottom: 1px solid #eee;
	display: block; 
	margin: 60px auto;
}
// Feature list spacing
li.feature + li.feature {
	margin-top:$space48;
}
li.feature img {
	float:left;
	margin-right: $space8;
}
.block {
	background: #222;
	padding: $space80 0;
	margin: $space80 0;
}


// Media Queries
@media only screen and (min-width: 1024px) {
	.code-draw {
		position: absolute; bottom: 104px; left: 15px; height: 16px; width: 240px; 
		-webkit-animation: write-code 3s 2s linear forwards;
		-moz-animation: write-code 3s 2s linear forwards;
		-ms-animation: write-code 3s 2s linear forwards;
		-o-animation: write-code 3s 2s linear forwards;
		animation: write-code 3s 2s linear forwards;
		background: #1D2026;  
	}

	.code-draw-two {
		position: absolute; bottom: 90px; left: 20px; height: 16px; width: 240px; 
		-webkit-animation: write-code-two 2s 6s linear forwards;
		-moz-animation: write-code-two 2s 6s linear forwards;
		-ms-animation: write-code-two 2s 6s linear forwards;
		-o-animation: write-code-two 2s 6s linear forwards;
		animation: write-code-two 2s 6s linear forwards;
		background: #1D2026;
	}
}
@media screen and (max-width: 800px) {
	.col-2 {
		padding-right:40px;
	}
	.col-2+.col-2 {
		padding-right:0;
		padding-left:40px;
	}
}
@media screen and (max-width: 440px) {
	.content-inner {
		padding:20px;
	}
	hr {
		margin: $space32 auto;
	}
	.col-2,
	.col-3,
	.col-4 {
		width:100%;
	}
	.col-2 {
		padding-right:20px;
	}
	.col-2+.col-2 {
		padding-right:0;
		padding-left:20px;
	}
}