html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: "Fakt", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $black;
	overflow-x:hidden;
}
a {
	color: $blue;
	font-weight: 400; 
}
p a {
	//border-bottom: 1px dotted $blue60;
}

strong {
	font-weight: 500;
	color: $black;
}
img {
	max-width: 100%;
}
// Clearfix
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container {
	padding: 0 0 $space64 0;
}

.learn .container,
.docs .container {
	padding: calc(72px + 64px) 0 $space64 0;
}
.content-inner {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 30px;
}
.content-inner.narrow {
	max-width: 600px;
	position: relative;
}
.module-600 {
	max-width: 600px;
}
// Select all col- elements
[class*='col-'] { 
  float: left;
  width:100%;
  margin-right:60px;
}
[class*='col-']:last-of-type { 
	margin-right:0;
}
.col-2 {
	max-width:480px;
}
.col-4 {
	max-width:210px;
}
// ****************
// Vertical spacing
// Desk ~72px // Tablet ~48-px // Mobile ~16px
hr {
	border: none;  width: 100%;
	border-bottom: 1px solid #eee;
	display: block; 
	margin: $space72 auto;
}
// Feature list spacing
li.feature img {
	float:left;
	margin-right: $space8;
}
.block {
	background: #222;
	padding: $space72 0;
	margin: $space72 0;
}

// Media Queries
@media only screen and (min-width: 1024px) {
	.code-draw {
		position: absolute; bottom: 104px; left: 15px; height: 16px; width: 240px; 
		-webkit-animation: write-code 3s 2s linear forwards;
		-moz-animation: write-code 3s 2s linear forwards;
		-ms-animation: write-code 3s 2s linear forwards;
		-o-animation: write-code 3s 2s linear forwards;
		animation: write-code 3s 2s linear forwards;
		background: #1D2026;  
	}

	.code-draw-two {
		position: absolute; bottom: 90px; left: 20px; height: 16px; width: 240px; 
		-webkit-animation: write-code-two 2s 6s linear forwards;
		-moz-animation: write-code-two 2s 6s linear forwards;
		-ms-animation: write-code-two 2s 6s linear forwards;
		-o-animation: write-code-two 2s 6s linear forwards;
		animation: write-code-two 2s 6s linear forwards;
		background: #1D2026;
	}
}
@media screen and (max-width:1080px) {
	.col-4 {
		// Reduce spacing to preserve line-count
		margin-right: 50px;
	}
	.col-2 {
		max-width:400px;
	}
}
@media screen and (max-width:980px) {
	.content-inner {
		max-width: 720px;
	}
	.col-2 {
		max-width:300px;
		// Re-set original column spacing
		margin-right:60px;
	}
	.col-4 {
		max-width:300px;
		margin-right:0;
	}
	.col-4:nth-child(2n) {
		margin-left:60px;
	}
	.col-4:nth-child(2) {
		margin-bottom: $space40;
	}
	// ****************
	// Vertical spacing D2: ~56px
	hr {
		margin: $space56 auto;
	}

}
@media screen and (max-width: 720px) {
	.content-inner {
		max-width: 560px;
	}
	.col-2 {
		max-width:100%;
	}
	.col-2 + .col-2 {
		margin-top: $space48;
	}
	.col-4 {
		max-width:220px;
		margin-right:0;
	}
	.col-4:nth-child(2n) {
		margin-left:60px;
	}
	// ****************
	// Vertical spacing T: ~48px
	hr {
		margin: $space48 auto;
	}
}
@media screen and (max-width: 560px) {
	.learn .container,
	.docs .container {
		padding: calc(64px + 120px) 0 $space64 0;
	}
	.content-inner {
		padding:0 $space16;
	}
	.col-2,
	.col-4 {
		max-width:100%;
	}
	.col-4:nth-child(2n) {
		margin-left:0;
	}
	.col-4:nth-child(2) {
		margin-bottom: 0;
	}
	.col-2 + .col-2 {
		margin-top: $space40;
	}
	.col-4 + .col-4 {
		margin-top: $space40;
	}
	// ****************
	// Vertical spacing M: ~40px
	hr {
		margin: $space40 auto;
	}
}