html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: "Fakt", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $dark;
	overflow-x:hidden;
}
a {
	color: $blue;
	font-weight: 500; 
}
strong {
	font-weight: 500;
	color: $dark;
}
img {
	max-width: 100%;
}
// Clearfix
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container {
	padding: 60px 0;
}
.content-inner {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 30px;
}
.content-inner.narrow {
	max-width: 600px;
	position: relative;
}
.module-600 {
	max-width: 600px;
}
// Select all col- elements
[class*='col-'] { 
  float: left;
  width:100%;
  margin-right:60px;
}
[class*='col-']:last-of-type { 
	margin-right:0;
}
.col-2 {
	max-width:480px;
}
.col-4 {
	max-width:210px;
}

// Vertical spacing
hr {
	border: none;  width: 100%;
	border-bottom: 1px solid #eee;
	display: block; 
	margin: 60px auto;
}
// Feature list spacing
li.feature img {
	float:left;
	margin-right: $space8;
}
.block {
	background: #222;
	padding: $space80 0;
	margin: $space80 0;
}


// Media Queries
@media only screen and (min-width: 1024px) {
	.code-draw {
		position: absolute; bottom: 104px; left: 15px; height: 16px; width: 240px; 
		-webkit-animation: write-code 3s 2s linear forwards;
		-moz-animation: write-code 3s 2s linear forwards;
		-ms-animation: write-code 3s 2s linear forwards;
		-o-animation: write-code 3s 2s linear forwards;
		animation: write-code 3s 2s linear forwards;
		background: #1D2026;  
	}

	.code-draw-two {
		position: absolute; bottom: 90px; left: 20px; height: 16px; width: 240px; 
		-webkit-animation: write-code-two 2s 6s linear forwards;
		-moz-animation: write-code-two 2s 6s linear forwards;
		-ms-animation: write-code-two 2s 6s linear forwards;
		-o-animation: write-code-two 2s 6s linear forwards;
		animation: write-code-two 2s 6s linear forwards;
		background: #1D2026;
	}
}

@media screen and (max-width:1080px) {
	.content-inner {
		max-width: 960px;
	}
	.col-2 {
		max-width:400px;
	}
	.col-4 {
		max-width:180px;
	}

}
@media screen and (max-width:940px) {
	.content-inner {
		max-width: 600px;
	}
	.col-2 {
		max-width:240px;
	}
	.col-4 {
		max-width:240px;
		margin-right:0;
	}
	.col-4:nth-child(2n) {
		margin-left:60px;
	}
	.col-4:nth-child(2) {
		margin-bottom: $space32;
	}

}
@media screen and (max-width: 640px) {
	.content-inner {
		max-width: 500px;
	}
	.col-2 {
		max-width:100%;
	}
	.col-4 {
		max-width:180px;
		margin-right:0;
	}
	.col-4:nth-child(2n) {
		margin-left:60px;
	}
}
@media screen and (max-width: 440px) {
	.content-inner {
		padding:20px;
	}
	hr {
		margin: $space32 auto;
	}
	.col-2,
	.col-4 {
		max-width:100%;
	}
	.col-4:nth-child(2n) {
		margin-left:0;
	}
	.col-4:nth-child(2) {
		margin-bottom: 0;
	}
	.col-4 + .col-4 {
		margin-top: $space24;
	}
}