html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
	font-family: "Fakt", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: $black;
	overflow-x: hidden;
}
// Fixes overflow scrolling bugs..
.container {
	overflow-x: hidden;
}
a {
	color: $blue;
	font-weight: 400; 
}
.home p a { position:relative; z-index: 50; }
.home p a:after {
	content:""; display: inline-block;
	position: absolute; left:0; bottom:1px;
	width:100%; height:1px;
	background: $blue40;
	z-index: -1;
}
img {
	max-width: 100%;
}
// Clearfix
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
// Subpages = Learn & Docs
.subpage .container {
	padding: 64px 0 128px 0;
}
.faq .container {
	padding-top: 40px;
}
.learn .container {
	padding-top:0;
}
.docs .container {
	padding-top: 128px;
}
.content-inner {
	width: 100%;
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 30px;
}
.faq p {
	max-width: 750px;
}
// Select all col- elements
[class*='col-'] { 
  float: left;
  width:100%;
  margin-right:60px;
}
[class*='col-']:last-of-type { 
	margin-right:0;
}
.col-2 {
	max-width:480px;
}
.col-4 {
	max-width:210px;
}
// ****************
// Vertical spacing
// Desk ~72px // Tablet ~48-px // Mobile ~16px
hr {
	border: none;  width: 100%;
	border-bottom: 1px solid $separator;
	display: block; 
	margin: $space72 auto;
}
.block {
	background: #222;
	padding: $space72 0;
	margin: $space72 0;
}

// Media Queries
@media screen and (max-width:1080px) {
	.subpage .container,
	.faq .container {
		padding-bottom: 48px;
	}
	.content-inner {
		max-width: 980px;
	}
	.col-2 {
		max-width:420px;
	}
	.col-4 {
		max-width:200px;
		margin-right:40px;
	}
	.layer-types .col-4 {
		margin-right:20px;
	}
}
@media screen and (max-width:980px) {
	.content-inner {
		max-width: 720px;
	}
	.col-2 {
		max-width:300px;
	}
	// Prevent odd text overflow
	.careers h2.col-2,
	.pricing h2.col-2 {
		max-width:360px;
	}
	.col-4 {
		max-width:300px;
		margin-right:0;
	}
	.col-4:nth-child(2n) {
		margin-left:60px;
	}
	.col-4:nth-child(2) {
		margin-bottom: $space40;
	}
	// ****************
	// Vertical spacing D2: ~56px
	hr {
		margin: $space56 auto;
	}
}
@media screen and (max-width: 720px) {
	.content-inner {
		max-width: 560px;
	}
	.col-2 {
		max-width:100%;
	}
	.teach h2.col-2,
	.careers h2.col-2,
	.pricing h2.col-2 {
		max-width:400px;
		float: none;
		margin: 0 auto;
	}
	.col-2 + .col-2 {
		margin-top: $space48;
	}
	.col-4 {
		max-width:220px;
		margin-right:0;
	}
	.col-4:nth-child(2n) {
		margin-left:60px;
	}
	// ****************
	// Vertical spacing T: ~48px
	hr {
		margin: $space48 auto;
	}
}
@media screen and (max-width: 560px) {
	.subpage .container,
	.docs .container,
	.faq .container {
		padding: $space48 0 $space48 0;
	}
	.learn .container {
		padding-top: $space32;
	}
	.content-inner {
		padding:0 $space24;
	}
	.col-2,
	.col-4 {
		max-width:100%;
	}
	.col-4:nth-child(2n) {
		margin-left:0;
	}
	.col-4:nth-child(2) {
		margin-bottom: 0;
	}
	.col-2 + .col-2 {
		margin-top: $space32;
	}
	.col-4 + .col-4 {
		margin-top: $space32;
	}
	// ****************
	// Vertical spacing M: ~40px
	hr {
		margin: $space40 auto;
	}
}
@media screen and (max-width: 440px) {
	.subpage .container,
	.docs .container,
	.faq .container {
		padding-bottom: $space32;
	}
	.subpage hr {
		margin: $space32 auto;
	}
	hr {
		margin: $space32 auto;
	}
}