a {
    text-decoration: none;
}

a:hover {
	opacity:0.75
}
a:active {
	opacity:1;
}
textarea:focus, 
input:focus{
    outline: 0;
}
// Header Buttons
.btn {
	border: none;
	padding:12px 26px 9px; 
	position: relative; 
	border-radius: 50px; 
	background: $blue; 
	color: #fff;
	font-size: 16px; line-height: 1;
	font-weight: 600;
}
// Buy next-to Download
.btn + form {
	margin-left: $space8;
}
.btn.green {
	background: $green; 
}
.btn.green:hover { 
	color: #fff; box-shadow: none; 
}
// Github link
.header a.small,
.footer a.small {
	display: inline-block; 
	font-weight: 400;
	font-size: 16px; 
	margin-top: 20px; 
	line-height: 1.2; 
	color: $graphite60; 
}
// Special case: needs extra properties because it's a form element
input {
	padding:0;
	-webkit-appearance: none;
	border: none;
}

.header form,
.footer form  {
	display: inline-block;
}
.header input, 
.footer input {
	font:16px/1 "Fakt", "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-weight:600;
	border: none; background: $blue;  color:#fff;
	cursor: pointer; cursor: hand;
	-webkit-font-smoothing: antialiased;
	padding:12px 30px 9px 20px; 
	border-radius: 50px; 
	width: 120px;
}
.header form:after, 
.footer form:after{
	content: "99"; display: inline-block; position: relative;
	font-size: 12px; font-weight: 500; color: #fff;
	left: -38px; top: -3px;
}
.header input:hover, 
.footer input:hover {
	background: $blue; color: #fff; box-shadow: none;
}
