a {
    text-decoration: none;
}

a:hover {
	opacity:0.75
}
a:active {
	opacity:1;
}
textarea:focus, 
input:focus{
    outline: 0;
}
// Header Buttons
.btn,
.header input,
.footer input {
	border: none;
	padding:$space8 $space16;
	padding-top:11px;
	position: relative; 
	color: #fff;
	font-size: 13px; 
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border-radius: 4px; // Rounded = Default
	letter-spacing: 0px;
}
.btn-pill {
	border-radius: 50px; 
}

.btn-line,
input.btn-line {
	background: transparent;
	box-shadow: inset 0 0 0 1px $blue;
	text-shadow: none;
	font-weight: 600;
}

// Buy next-to Download
.btn + form {
	margin-left: $space8;
}
.btn.green {
	background: $green; 
}
.btn.blue, input.blue {
	background: $blue;
}
.btn.green:hover { 
	color: #fff; box-shadow: none; 
}
.btn.cyan {
	background: $cyan; 
}
.btn.purple {
	background: $purple; 
}
.btn-line.green {
	color: $green;
	box-shadow: inset 0 0 0 1px $green;
}
.btn-line.blue {
	color: $blue;
	box-shadow: inset 0 0 0 1px $blue;
}
// Github link
.header a.small,
.footer a.small {
	display: inline-block; 
	font-weight: 400;
	font-size: 16px; 
	margin-top: 20px; 
	line-height: 1.2; 
	color: $graphite60; 
}
// Special case: needs extra properties because it's a form element
input {
	padding:0;
	-webkit-appearance: none;
	border: none;
}
.header form,
.footer form  {
	display: inline-block;
}
.header input, 
.footer input {
	font-family: "Fakt", "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	border: none; 
	cursor: pointer; cursor: hand;
	line-height: 1;
}
