a {
    text-decoration: none;
}
textarea:focus, 
input:focus{
    outline: 0;
}
// Header Buttons
.btn,
.header input,
.footer input {
	border: none;
	padding:$space8 $space16;
	padding-top:11px;
	position: relative; 
	color: #fff;
	font-size: 12px; 
	text-transform: uppercase;
	font-weight: 700;
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
	border-radius: 3px; // Rounded = Default
	letter-spacing: 0.5px;
	@include transition(all, 0.1s, ease);
	display:inline-block;
	line-height: 1;
}
.btn-pill {
	border-radius: 50px; 
}
.btn-line,
input.btn-line {
	background: transparent;
	box-shadow: inset 0 0 0 1px $blue40;
	text-shadow: none;
	font-weight: 600;
}
.btn-line.white {
	box-shadow: inset 0 0 0 1px rgba(255,255,255,0.4)
}
// Buy next-to Download
.btn + form {
	margin-left: 10px; 
}
.btn.blue { background: $blue; }
.btn.green { background: $green; }
.btn.cyan { background: $cyan; }
.btn.purple { background: $purple; }
input.blue { background: $blue; }
.header .btn.green { background: $header-green; }

.btn-line.green {
	color: $green;
	box-shadow: inset 0 0 0 1px $green40;
	background: transparent;
}
.btn-line.blue {
	color: $blue;
	box-shadow: inset 0 0 0 1px $blue40;
	background: transparent;
}
// Hover states
.btn.blue:hover,
input.blue:hover,
.btn.blue:focus,
input.blue:focus {
	background: $blue80;
	opacity: 1;
}
.btn.green:hover,
.btn.green:focus {
	background: $green;
	opacity: 1;
}
.footer .btn.green:hover,
.footer .btn.green:focus {
	background: $green80;
}
.btn-line.blue:hover,
.btn-line.blue:focus {
	box-shadow: none;
	background: $blue;
	color: #fff;
}
// Github link
.header a.small,
.footer a.small {
	display: inline-block; 
	font-weight: 400;
	font-size: 16px; 
	margin-top: 20px; 
	line-height: 1.2; 
	color: $graphite60; 
}
// Special case: needs extra properties because it's a form element
input {
	padding:0; margin:0;
	-webkit-appearance: none;
	border: none;
}
.header form,
.footer form  {
	display: inline-block;
}
.header input, 
.footer input {
	font-family: "Fakt", "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
	border: none; 
	cursor: pointer; cursor: hand;
	line-height: 1;
}
@media screen and (min-width: 960px) {
	.header .btn,
	.footer .btn,
	.header input,
	.footer input {
		width:106px;
	}
}
// Media queries
@media screen and (max-width: 560px) {
	.btn,
	.header input,
	.footer input {
		padding:6px 10px;
		padding-top:9px;
		font-size:11px;
		letter-spacing:0;
		border-radius: 3px;
	}
}
