// Footer
footer.global {
	background: $header;
	height: 124px;
	padding-top: $space48;
	overflow: hidden;
}
.faq footer.global .content-inner {
	max-width: 1080px;
}
footer.global li {
	float: left;
	font-weight: 600;
}
footer.global a {
	color: $nav-links;
}
footer.global a figure {
	float: left;
	margin-right:8px;
	position: relative;
}
.icon-footer-twitter {
	top:-2px;
}
footer.global a:hover {
	color: #fff;
}
footer.global nav {
	display:inline-block;
}
footer.global .small-links {
	margin-top: 12px;
	clear:both;
}
footer.global .small-links li,
footer.global .small-links li a {
	font-size: 10px;
	letter-spacing: 0.9px;
	color: $nav-links-50;
}
footer.global .small-links li a {
	float: none;
}
footer.global .small-links li+li {
	padding-left: $space16;
}
footer.global .small-links li a:hover {
	color: $nav-links;
}
footer.global form {
	position: relative;
	margin-top: 0px;
	display: block;
	height: 34px;
	width:234px;
}
footer.global form figure {
	position: absolute;
	left:10px;
	top: 9px;
}
footer.global input {
	border: none;
	border-radius:3px;
	padding: 4px 14px 3px 14px;
	font-family: "Fakt", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:12px; 
	font-weight: 600;
	height: 34px;
	width:234px;
	line-height: 20px;
	vertical-align: middle;
	float: left;
	background: #323C4A;
	color: #fff;
}
footer.global button {
	border: none;
	padding:0;
	background: transparent;
	display:inline-block;
	line-height: 1;
	height: 34px;
	width:34px;
	cursor: pointer;
	cursor: hand;
	position: absolute;
	right:0;
	z-index: 30;
	padding-left:12px;
}
footer.global .right p {
	font-size: 10px;
	margin-bottom: 0;
	opacity: .5;
}
footer.global input::-webkit-input-placeholder { color: $nav-links; padding-top:1px; }
footer.global input:-moz-placeholder { color: $nav-links; padding-top:1px; }
footer.global input::-moz-placeholder { color: $nav-links; padding-top:1px; }
footer.global input:-ms-input-placeholder { color: $nav-links; padding-top:1px; }


footer.global input.focus::-webkit-input-placeholder { color: $nav-links-50; }
footer.global input.focus:-moz-placeholder { color: $nav-links-50; }
footer.global input.focus::-moz-placeholder { color: $nav-links-50; }
footer.global input.focus:-ms-input-placeholder { color: $nav-links-50; }

// Start prototyping block
.start-prototyping {
	background: $header;
	margin: 0;
	color: #fff;
	padding-top: $space72;
	padding-bottom: $space48;
	position: relative;
}

.start-prototyping .left {
	max-width: 400px;
	width: 100%;
}
.start-prototyping:after {
	content:"";
	position: absolute;
	bottom: 0; left: 50%;
	max-width: 1020px;
	margin-left: -510px;
	width: 100%;
	height:1px;
	background: $separator-dark;
}
.start-prototyping img {
	float:left;
	height: 77px;
	width: 70px;
	margin-right: $space32;
	position: relative;
	top: -8px;
}
.start-prototyping h6 {
	color: $nav-links;
}
.start-prototyping h4 {
	letter-spacing: 0;
	margin-bottom: 0;
	line-height: 1.2;
	font-weight: 400;
}
.start-prototyping .cta {
	float: right;
	padding-top: $space16;
	margin-top:1px;
}

@media screen and (max-width: 980px) {
	// Start-prototyping
	.start-prototyping img {
		height: auto;
		width: 60px;
		margin-right: 0;
		position: relative;
		top: -6px;
		display: none;
	}
	.start-prototyping:after {
		max-width: 660px;
		margin-left: -330px;
	}
}

@media screen and (max-width: 750px) {
	footer.global {
		height: 190px;
		padding-top: $space48;
	}

	footer.global .right {
		margin-top: $space24;
	}
	footer.global form {
		margin: 0 auto;
		margin-bottom: 8px;
	}
	footer.global section,
	footer.global .right p, {
		float: none;
		text-align: center;
	}
	footer.global .small-links {
		display: inline-block;
	}
	footer.global section.left {
		margin-bottom: $space16;
	}
	footer.global li,
	footer.global li a {
		text-align: center;
	}
	footer.global a figure {
		margin: 0 auto;
		display: block;
		margin-bottom: 16px;
		float:none;
	}
	// Start prototyping
	.start-prototyping {
		text-align: center;
	}
	.start-prototyping img {
		display: inline-block;
		float: none;
		margin-bottom: 16px;
	}
	.start-prototyping .cta {
		float: none;
	}
	.start-prototyping .left {
		max-width: 100%;
		float: none;
	}
	.start-prototyping .right {
		margin-top: 16px;
		float: none;
	}
	.start-prototyping:after {
		max-width: 500px;
		margin-left: -250px;
	}
}
@media screen and (max-width: 560px) {
	.start-prototyping {
		padding-top: $space48;
	}
	.start-prototyping:after {
		max-width: 100%;
		margin-left: 0;
		left: 0;
	}
	.start-prototyping img {
		margin-bottom: 8px;
		top: 0;
	}
	.start-prototyping .right {
		margin-top: 8px;
	}
}
@media screen and (max-width: 480px) {
	footer.global {
		height: 320px;
		padding-top: $space48;
	}
	footer.global nav,
	footer.global .small-links {
		// text-align:center;
		width: 100%;
	}
	footer.global li {
		float: none;
		display: block;
	}
	footer.global nav li+li{
		padding-left: 0;
		margin-top: 16px;
	}
	footer.global .small-links li+li {
		padding-left: 0;
	}
	footer.global .right {
		margin-bottom: 0;
		margin-top: -48px;
	}
	footer.global form,
	footer.global input {
		width: 180px;
		height:24px;
	}
	footer.global input{
		padding: 10px 8px 8px 8px;
		font-size: 10px;
	}
	footer.global button {
		height:24px;
		width:24px;
		padding-left:10px;
	}
	// Swap with input
	footer.global .small-links {
		top: 48px;
		position: relative;
	}
	footer.global .small-links li {
		display: inline-block;
		float: none;
	}
	footer.global .small-links li.copyright {
		display: block;
		width: 100%;
		clear: both;
		margin-bottom: 8px;
		margin-top: 16px;
	}
	footer.global .small-links li+li {
		margin-left:4px;
	}
}