// Footer
footer.global {
	background: $header;
	height: 148px;
	padding-top: $space48;
}
.faq footer.global .content-inner {
	max-width: 1080px;
}
footer.global li {
	float: left;
	font-weight: 600;
}
footer.global a {
	color: #fff;
}
footer.global a figure {
	float: left;
	margin-right:8px;
	position: relative;
}
.icon-footer-twitter {
	top:-2px;
}
footer.global .small {
	color: #788D9E;
	font-size:14px;
	margin-top: 8px;
}
footer.global a:hover .small {
	color: #fff;
}
footer.global nav {
	border-bottom: 1px solid rgba(255,255,255,0.1);
	padding-bottom: $space16;
	display:inline-block;
}
footer.global p {
	color: $nav-links;
	opacity: 0.5;
	margin-top: $space16;
}
footer.global input {
	border: none;
	border-radius:3px 0 0 3px;
	padding: 4px 12px 2px 12px;
	font-family: "Fakt", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:14px;
	height: 40px;
	width:220px;
	color: $graphite;
	line-height: 20px;
	vertical-align: middle;
	float: left;
}
footer.global button {
	border: none;
	padding:8px 16px 8px 16px;
	font-size: 10px; 
	text-transform: uppercase;
	font-weight: 600;
	border-radius: 0 3px 3px 0; 
	display:inline-block;
	line-height: 1;
	background: $input-button;
	color: #fff;
	height: 40px;
	cursor: pointer;
	cursor: hand;
	margin-left:-4px;
}
footer.global .right p {
	text-align: right;
}
footer.global input::-webkit-input-placeholder { color: $graphite60; padding-top:1px; }
footer.global input:-moz-placeholder { color: $graphite60; padding-top:1px; }
footer.global input::-moz-placeholder { color: $graphite60; padding-top:1px; }
footer.global input:-ms-input-placeholder { color: $graphite60; padding-top:1px; }

@media screen and (max-width: 720px) {
	footer.global {
		height: 292px;
	}
	footer.global .right {
		width: 254px;
		margin: 0 auto;
	}
	footer.global section,
	footer.global .right p {
		float: none;
		text-align: center;
	}
	footer.global section.right {
		margin-bottom: $space48;
	}
	footer.global li,
	footer.global li a {
		text-align: center;
	}
	footer.global a figure {
		margin: 0 auto;
		display: block;
		margin-bottom: 16px;
		float:none;
	}
	.icon-footer-twitter {
		top:0;
	}
}