// Footer
footer.global {
	margin-top: $space64;
	background: $header;
	height: 148px;
	padding-top: $space48;

}
footer.global li {
	float: left;
	font-weight: 600;
}

footer.global nav {
	border-bottom: 1px solid rgba(255,255,255,0.1);
	padding-bottom: $space16;
	display:inline-block;
}

footer.global p {
	color: $nav-links;
	opacity: 0.5;
	margin-top: $space16;
}