nav.top {
	width: 100%;
	height: $space64;
	line-height:69px;
	padding: 0 $space32;
	vertical-align:middle;
	position: fixed;
	top:0;
	background: $header;
	z-index: 1000;
}
.home nav.top {
	position: absolute;
}

nav.top ul {
	max-width: 1020px;
	margin:0 auto;
}
@include keyframes(fade-in) {
	0%   { top: -64px; }
	100% { top: 0; }
}
nav.top.sticky {
 	@include animation('fade-in .2s forwards');
 	position: fixed;
} 
@include keyframes(fade-out) {
	0%   { top: 0; }
 	100% { top: -64px; }
}
nav.top.fade-out {
	@include animation('fade-out .2s forwards');
	position: fixed;
}
// Targets all navigation items, not just top nav.
nav li {
	float: left;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	line-height: inherit;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.nav-items li:first-child,
nav li+li {
	padding-left: $space24;
}
nav a {
	color: $nav-links;
	font-weight: 600;
}
nav.top li.active a {
	color: #fff;
}
// Hover States
nav a:hover,
nav a:focus {
	color: lighten($nav-links, 40%);
}
nav.top input:hover,
nav.top input:focus {
	color: $blue60;
}
nav.top a.green:hover,
nav.top a.green:focus {
	color: $green60;
	opacity: 1;
}

// Title
nav.top .framer a {
	color: #fff;
}
nav.top form {
	display: inline-block;
}
nav.top input {
	font: inherit;
	font-weight: 600;
	border: none; background: none;
	color: $blue;
	cursor: pointer; cursor: hand;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
	border: none;
	line-height: 1;
}
@media screen and (max-width: 1000px) {
	nav.top .content-inner {
		padding: 0 $space16;
	}
}
@media screen and (max-width: 720px) {
	nav.top .download,
	nav.top .buy {
		display: none;
	}
	.nav-items {
		float: right;
	}
}
@media screen and (max-width:560px) {
	nav.top, 
	nav.top.sticky {
		line-height: 1;
		position: relative;
		text-align: center;
	}
	nav.top {
		height:88px;
	}
	nav.top .framer {
		width:100%;
		height: 44px;
		padding-top:18px;
		box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	}
	.nav-items,
	nav.top .right {
		float:none;
		margin-top:16px;
	}
	nav.top li {
		display:inline-block;
		float:none;
	}
	nav.top .download,
	nav.top .github,
	nav.top .community,
	nav.top .buy {
		display: none;
	}
}