nav.top {
	width: 100%;
	height: 64px;
	line-height:70px;
	padding: 0 $space16;
	vertical-align:middle;
	position: absolute;
	top:0;
	background: $header;
	z-index: 1000;
}
nav.top.sticky {
	position: fixed;
}
@include keyframes(fade-in) {
  0%   { top: #{-$space16}; }
  100% { top: 0; }
}
nav.top.sticky {
  @include animation('fade-in .3s 1');
} 

nav.top li {
	float: left;
	font-size:12px;
	font-weight:600;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	line-height: inherit;
	
}
nav.top li+li {
	padding-left: $space24;
}
nav.top li a {
	color:$graphite80;
	font-weight: 600;
}
nav.top li.active a {
	color: #fff;
	padding-bottom: 21px;
	border-bottom: 2px solid #fff;
}
// Title
nav.top .framer a {
	color:#fff;
}
// Buy Button Form
nav.top form {
	display: inline-block;
	position: relative;
	top: -3px;
}
nav.top input {
	font:inherit;
	font-weight:600;
	border: none; background: none;
	color: $blue;
	cursor: pointer; cursor: hand;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
}
@media screen and (max-width: 1000px) {
	nav.top .content-inner {
		max-width: 900px;
	}
}
@media screen and (max-width:560px) {
	nav.top, 
	nav.top.sticky {
		line-height: 1;
		position: absolute;
	}
	nav.top {
		height:120px;
		box-shadow: inset 0 -60px 0 rgba(255,255,255,0.05);
	}
	nav.top .framer {
		text-align: center;
		width:100%;
		height: 38px;
		margin:$space24 0;
	}
	nav.top .right {
		float:none;
		text-align: center;
	}
	nav.top li {
		display:inline-block;
		float:none;
	}
	nav.top .download,
	nav.top .github,
	nav.top .community,
	nav.top .buy {
		display: none;
	}
}