nav.top {
	width: 100%;
	height: 72px;
	line-height:80px;
	padding: 0 $space16;
	vertical-align:middle;
	position: fixed;
	top:0;
	background: #fff;
	z-index: 1000;
	box-shadow: 
	0 1px 0 rgba(0,0,0,0.05),
	0 1px 3px rgba(0,0,0,0.1);

}
nav.top ul {
	padding: 0 $space16;
}
nav.top li {
	float: left;
	font-size:12px;
	font-weight:600;
	line-height: inherit;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
nav.top li+li {
	padding-left: $space32;
}
nav.top li a {
	color:$graphite;
	font-weight: 600;
}
nav.top li.active a {
	color: $blue;
	padding-bottom: 24px;
	border-bottom: 2px solid $blue;
}
nav.top .framer {
	font-weight:600;
	font-size:14px;
	text-transform: uppercase;
}
// Title
nav.top .framer a {
	color:#222;
	-webkit-font-smoothing: subpixel-antialiased;
	font-weight: 600;
	letter-spacing: 0;
	font-size:16px;
}
// Buy Button Form
nav.top form {
	display: inline-block;
	position: relative;
	top: -3px;
}
nav.top input {
	font:inherit;
	font-weight:600;
	border: none; background: none;
	color: $green;
	cursor: pointer; cursor: hand;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
}