nav.top {
	width: 100%;
	height: 60px;
	line-height:66px;
	padding: 0 $space8;
	vertical-align:middle;
	position: relative;
	background-color: $black;
	color: $white;
	z-index: 100;
}
nav.top ul {
	max-width:100%;
	margin: 0 auto;
	padding: 0 $space16;
}
nav.top li {
	float: left;
	font-size:14px;
	font-weight:500;
	line-height: inherit;

}
nav.top li+li {
	padding-left: $space24;
}
nav.top li a {
	color:$nav-links;
}
nav.top li.active a {
	color: #fff;
	padding-bottom: 18px;
	border-bottom: 2px solid $blue;
}
nav.top .framer {
	font-weight:600;
	font-size:14px;
	text-transform: uppercase;
}

nav.top .framer a {
	color:#fff
}