nav.top {
	width: 100%;
	height: 64px;
	line-height:70px;
	padding: 0 $space16;
	vertical-align:middle;
	position: absolute;
	top:0;
	background: $header;
	z-index: 1000;
}
nav.top.sticky {
	position: fixed;
}
@include keyframes(fade-in) {
  0%   { top: #{-$space16}; }
  100% { top: 0; }
}
nav.top.sticky {
  @include animation('fade-in .3s 1');
} 
nav.top li {
	float: left;
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	line-height: inherit;
	text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}
.nav-items li:first-child,
nav.top li+li {
	padding-left: $space24;
}
nav.top a {
	color: $nav-links;
	font-weight: 600;
}
// Hover States
nav.top a:hover,
nav.top a:focus {
	color: lighten($nav-links, 40%);
}
nav.top input:hover,
nav.top input:focus {
	color: $blue60;
}
nav.top a.green:hover,
nav.top a.green:focus {
	color: $green60;
	opacity: 1;
}
nav.top li.active a {
	color: #fff;
	padding-bottom: 21px;
	border-bottom: 2px solid #fff;
}
// Title
nav.top .framer a {
	color: #fff;
}
// Buy Button Form
nav.top form {
	display: inline-block;
}
nav.top input {
	font: inherit;
	font-weight: 600;
	border: none; background: none;
	color: $blue;
	cursor: pointer; cursor: hand;
	-webkit-font-smoothing: antialiased;
	text-transform: uppercase;
}
@media screen and (max-width: 1000px) {
	nav.top .content-inner {
		max-width: 100%;
		padding: 0 $space8;
	}
}
@media screen and (max-width: 720px) {
	nav.top .download,
	nav.top .buy {
		display: none;
	}
	.nav-items {
		float: right;
	}
}
@media screen and (max-width:560px) {
	nav.top, 
	nav.top.sticky {
		line-height: 1;
		position: absolute;
		text-align: center;
	}
	nav.top {
		height:120px;
	}
	nav.top .framer {
		width:100%;
		height: 38px;
		margin:$space24 0;
		box-shadow: 0 1px 0 rgba(255,255,255,0.1);
	}
	.nav-items,
	nav.top .right {
		float:none;
	}
	nav.top li {
		display:inline-block;
		float:none;
	}
	nav.top .download,
	nav.top .github,
	nav.top .community,
	nav.top .buy {
		display: none;
	}
}