body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	font-size:16px; // Base
	font-weight: 300;
}
p a:hover {
	opacity:0.75
}
p a:active {
	opacity:1;
}
h1,
h2,
h3,
h4,
h5,
h6,
li {
	line-height: 1.5;
}
p {
	line-height: 1.6;
}
h1 {
	font-size: 4em; //64px
	line-height: 1.2;
	font-weight:100;
	letter-spacing: -1.5px;
}
.header h1 {
	color:#fff;
	font-size: 3.5em;
	line-height: 1.1;
	max-width: 700px;
	margin: 0 auto;
	margin-bottom: $space24;
}
h2 {
	font-size: 2.5em; //32px
	line-height: 1.3;
	font-weight:200;
	color: $black;
	letter-spacing: -0.5px;
}
.page-header h2 {
	font-size: 2.25em;
}
.footer h2 {
	margin-bottom: $space24;
	letter-spacing: -0.5px;
}
h1+h2 {
	color: $graphite80;
}
// Learn, Docs title spacing
h1+h4,
h1+p {
	margin-top: $space24;
}
h3 {
	font-size: 2em; //32px
	font-weight:300;
	margin-bottom: $space16;
}
.caption h3 {
	line-height: 1;
	margin-bottom: $space24;
}
h4 {
	font-size: 1.625em; //26px
}
.subpage h4 {
	margin-bottom: $space24;
}
// Screenshot Copy and Examples copy
.screenshot-copy h4,
.examples-caption h4,
.feature-banners h4 {
	margin-bottom: $space8;
	line-height: 1.8;
}
.subpage.teach h4,
.subpage.pricing h4 {
	margin-bottom: $space8;
}
.subpage.teach h4 + .btn{
	margin-top: $space8;
}
.subpage.teach .resources h4 {
	margin-bottom: $space32;
}
h5 { // Feature blocks
	font-size: 0.875em; //14px
	line-height: 1.4;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	font-weight: 600;
	margin-bottom: $space8;
}
.subpage h5 {
	font-size: 14px;
	font-weight: 600;
	margin-bottom: $space8;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: $black;
}
h5.small,
.teach h5 {
	font-size: 12px;
}
.subpage h5.blue {
	color: $blue;
	font-size: 12px;
}
.subpage h5 + ul {
	margin-top: $space16;
}
.feature-banners h5 {
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
// Larger Text
.subtitle {
	font-size: 1.375em; //22px - Home
	line-height: 1.5;
	color: $black60;
	margin-bottom: $space16;
}
.teach .subtitle {
	color: $graphite-lists;
}
h6 {
	font-size: 22px; 
}
.docs h6 {
	font-size: 24px;
	margin-bottom: $space8;
	color: $black;
}
.start-prototyping h6 {
	font-size: 1.125em; //18px
}
p {
	font-size: 1.125em; //18px
	color:$text;
	margin-bottom: $space24;
}
p.title {
	font-size:1.125em;
	color: $black;
}
.feature-summary p.title {
	font-size: 12px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: $black;
}
.feature-summary p {
	font-size:14px;
	opacity: .8;
}
.feature-summary p.title + p {
	margin-top: 8px;
}
.footer-features li {
	font-size:0.8888em; //16px
	font-weight: 400;
}
.small, 
.extra-small {
	font-weight: 400;
	text-transform: none;
	letter-spacing: 0;
}
.small {
	font-size: 16px;
}
.learn .small,
.examples .small {
	font-size: 14px;
}
.about .col-4 a {
	font-style: 16px;
}
.extra-small {
	font-size: 12px;
}
// Blockquotes
blockquote p {
	padding-left: $space24;
	border-left: 2px solid $separator;
	font-size:16px;
	opacity: 0.8;
}

// "More" links
a.small.right {
	float: right;
	font-size: 13px;
	font-weight: 600;
	margin-top: 8px; 
	text-transform: uppercase;
	letter-spacing: 1px;
}
// Copyright
p.copy {
	font-size:11px;
	line-height: 1;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $nav-links;
}
// Lists
ul,  ol {
	margin-bottom: $space32;
}
// Lists on Pages
ol li {
	font-size: 1.125em;
}
.content-inner ul li {
	font-weight: 400;
	color: $text;
	list-style-type: circle; 
	position: relative; 
	left: $space24;
	padding-left: $space8; 
}
// Reset for code-blocks
.content-inner .highlight ol li {
	list-style-type: none;
	left:0;
	padding-left:0;
}
.content-inner ul li+li {
	margin-top: 4px;
}

// Custom Numbered lists
ul.numbered {
    counter-reset: linenumbers;
    margin-top: $space32;
}
ul.numbered li {
    line-height: 1.6;
    list-style: none;
    color: $text;
}
ul.numbered li strong {
	color: $black;
}
ul.numbered li+li {
	margin-top: 4px;
}
ul.numbered li:before {
    content: counter(linenumbers);
    counter-increment: linenumbers;
	display: inline-block;
	position: relative;
	left: -20px;
	margin-left: -10px;
    -webkit-user-select: none; 
    -moz-user-select: none;  
    -ms-user-select: none; 
    font-weight: 600;
    font-size: 11px;  
    height:16px;
    width:16px;
    color: $black;
    box-shadow: 0 0 0 1px #ddd;
    border-radius: 50%;
    line-height: 19px;
    text-align: center;
    top:-1px;
}
.content-inner li ul li {
	list-style-type: none;
	padding: 0; left: 0; 
	margin-top: $space8;
}
// Helpers -------------------
.uppercase {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight:500;
}
.center {
	text-align:center;
}
.left {
	float:left;
}
.right {
	float:right;
}
// Subpage spacing
.inline-image + p,
.inline-image + ul,
.inline-image + h3,
.inline-image + h4 {
	margin-top: $space24;
}
.inline-image + h5 {
	margin-top: $space48;
}
.learn hr, .docs hr {
	margin: $space48 auto;
}
// Type - Vertical spacing
.subpage h3 {
	margin-bottom: $space24;
}
.subpage h4 {
	margin-bottom: $space16;
}
// Spacing Code blocks
.subpre {
	margin-bottom: $space24;
}
// Code blocks and code blocks with illustrations
.with-illustration + p,
.with-full-illustration + p,
.highlight + p {
    margin-top: $space32;
}
// Code blocks with illustrations and h5
.with-illustration + h4,
.with-illustration + h5,
.highlight + h4,
.highlight + h5 {
	margin-top: $space64; // 64 - 32
}
p + h5 {
	margin-top: $space32;
}
table + h5 {
	margin-top: $space64;
}
// Docs type
.docs p.small {
	font-size: 12px;
	color: $graphite60;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.5px;
	font-weight: bold;
	margin-top: -24px;
}
.docs h3 {
	margin-top: -10px
}
.docs strong {
	font-weight: bold;
}
.docs h6 span {
	color: $graphite40;
}
.docs h6 span:before {
	content:"<";
}
.docs h6 span:after {
	content:">";
}

// Subpage summary lists
// Page summaries
.summary {
	margin: $space80 0 0 0;
}
.summary ul {
	margin-bottom: 0;
}
.summary ul li {
	font-size: 18px;
	line-height: 1.4;
	list-style: none;
	padding-left: 0;
	left: 0;
}
.summary ul li:before {
	content: "";
	background: url("/static/images/learn/icon-learn-summary.png") no-repeat;
	background-size: contain;
	height:20px; width:14px;
	display: inline-block;
	margin-right: $space16;
	position: relative;
	top: 6px;
	float: left;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	.summary ul li:before {
		content: "";
		background: url("/static/images/learn/icon-learn-summary@2x.png") no-repeat;
		background-size: 100%;
	}
}
.summary figure,
.summary h3 {
	display: inline-block;
}
.summary figure {
	position: relative;
	top: -3px;
	margin-right: $space16;
}
.summary h3 {
	margin-bottom: $space24;
}

// Subpage type treatment
.teach p,
.careers p {
	margin-bottom: 0;
}
.teach p + ul {
	margin-top: 16px;
}

// Media Queries
@media screen and (max-width: 1096px) {
	.page-header h2 {
		font-size: 2em;
	}
}
@media screen and (max-width:995px) {
	.page-header h1 {
		font-size: 3em;
	}
	.home h4 {
		font-size: 1.5em;
	}
	.subtitle {
		font-size: 1.225em; 

	}
}
@media screen and (max-width: 820px) {
	.header h1 {
		max-width: 100%;
	}
	.header .content-inner.center {
		padding:0 16px;
	}
}
@media screen and (max-width: 736px) {
	.header h1 {
		font-size: 44px;
	}
	.page-header h2 {
		line-height: 1.1;
	}
	.summary ul li {
		font-size: 16px;
	}
}
@media screen and (max-width: 600px) {
	// body {
	// 	font-size:14px;
	// }
	.footer-features li {
		font-size:1em;
	}
	.header h1 {
		max-width: 100%;
		font-size: 40px;
	}
	h2 {
		font-size: 2.25em;
	}
	.subpage h3 {
		margin-bottom: $space16;
	}
	.home h4 {
		margin-bottom: 12px;
	}
	// Docs type
	.docs h6 {
		font-size: 20px;
	}
	// Captions under "Innovative prototyping... Rapid Experimentation" etc
	.caption .subtitle {
		margin-bottom: 16px;
	}
	.home h4,
	.screenshot-copy h4,
	.examples-caption h4 {
		margin-bottom: 8px;
	}
}
@media screen and (max-width: 480px) {
	body {
		font-size:14px;
	}
	.header h1 {
		margin-bottom: 14px;
	}
}
@media screen and (max-width: 440px) {
	.header h1 {
		font-size: 30px;
		letter-spacing: -0.5px;
		line-height: 1.2;
	}
	h2 {
		font-size: 2.25em;
	}
	.page-header h2 {
		font-size: 1.625em;
		line-height: 1.2;
		letter-spacing: 0;
	}
	.summary ul li {
		font-size: 14px;
	}
	.summary ul li:before {
		margin-right: $space8;
		top: 3px;
	}
	// Screenshot Copy and examples copy
	.home h4,
	.screenshot-copy h4,
	.examples-caption h4 {
		line-height: 1.5;
	}
	// Docs type
	.docs h6 {
		font-size: 18px;
	}
	.docs p.small {
		font-size: 10px;
	}
	h6 {
		font-size: 20px;
		line-height: 1.5;
	}
	.subtitle {
		font-size: 1.225em;
	}

}
