body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size:16px; // Base
	font-weight: 300;
}

// Type Scale - Base:16px
// Small:  12(0.75em), 14(0.875em), 16(1em), 18(1.125em), 20(1.25em), 22(1.375em)
// Medium: 26(1.625em, 30(1.875em), 34(2.125em), 38(2.375em)
// Large: 64(4em)

h1,
h2,
h3,
h4,
h5,
h6,
li {
	line-height: 1.5;
}

p {
	line-height: 1.6;
}

h1 {
	font-size: 4em; //64px
	line-height: 1.2;
	font-weight:200;
	letter-spacing: -1px;
}
h2 {
	font-size: 2em; //32px
	line-height: 1.3;
	font-weight:200;
	color: $graphite;
}
h3 {
	font-size: 1.875em; //30px
	font-weight:300;
	margin-bottom: $space16;
}
h4 {
	font-size: 1.625em; //26px
}
h5 {
	font-size: 1.375em; //22px
	font-weight: 400;
	margin-bottom: $space8;
}
h6 {
	font-size: 1.25em; //20px
}
p {
	font-size: 1.125em; //18px
	color:$text;
	margin-bottom: $space24;
}
.footer-features li {
	font-size:0.8888em; //16px
	font-weight: 400;
}
.small {
	font-size:0.8125em; //13px
}

// Helpers -------------------
.uppercase {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight:500;
}
.center {
	text-align:center;
}
.left {
	float:left;
}
.right {
	float:right;
}
// Media Queries
@media screen and (max-width: 800px) {
	h1 {
		font-size: 3em;
	}
}
@media screen and (max-width: 600px) {
body {
	font-size:14px;
}
}
@media screen and (max-width: 440px) {
body {
	font-size:12px;
}
}
