body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-feature-settings: "liga", "kern";
	font-size:16px; // Base
	font-weight: 300;
}
p a:hover {
	opacity:0.75
}
p a:active {
	opacity:1;
}
h1,
h2,
h3,
h4,
h5,
h6,
li {
	line-height: 1.5;
}
p {
	line-height: 1.6;
}
h1 {
	font-size: 4em; //64px
	line-height: 1.2;
	font-weight:100;
	letter-spacing: -1.5px;
}
.header h1 {
	color:#fff;
	font-size: 3.5em;
	line-height: 1.1;
	max-width: 700px;
	margin: 0 auto;
}
h2 {
	font-size: 2.5em; //32px
	line-height: 1.3;
	font-weight:200;
	color: $black;
	letter-spacing: -0.5px;
}
.footer h2 {
	margin-bottom: $space24;
	letter-spacing: -0.5px;
}
h1+h2 {
	color: $graphite80;
}
// Learn, Docs title spacing
h1+h4,
h1+p {
	margin-top: $space24;
}
h3 {
	font-size: 1.625em; //30px
	font-weight:300;
	margin-bottom: $space16;
}
.caption h3 {
	line-height: 1;
	margin-bottom: $space24;
}
h4 {
	font-size: 1.625em; //26px
}
.narrow h4 {
	margin-bottom: $space24;
}
h5 {
	font-size: 1.5em; //24px
	line-height: 1.4;
	font-weight: 400;
	margin-bottom: $space8;
}
.narrow h5 {
	font-size: 1.1em; 
	font-weight: 400;
	margin-bottom: $space8;
}
.feature-banners h5 {
	text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
// Larger Text
.subtitle {
	font-size: 1.375em; //22px - Home
	line-height: 1.5;
	color: $black60;
}
.caption .subtitle {
	margin-bottom: $space24;
}
h6 {
	font-size: 1.25em; //20px
}
p {
	font-size: 1.125em; //18px
	color:$text;
	margin-bottom: $space24;
}
p.title {
	font-size:1.125em;
	color: $black;
}
.more-features p.title {
	font-size:18px;
}
.more-features p {
	font-size:14px;
}
.footnote {
	color: $logos;
	font-size:12px;
	text-transform: uppercase;
	font-weight: 600;
	letter-spacing: 1px;
}
.footer-features li {
	font-size:0.8888em; //16px
	font-weight: 400;
}
.small {
	font-size:0.8125em; //13px
}
// "More" links
a.small.right {
	float: right;
	font-size: 13px;
	font-weight: 600;
	margin-top: 8px; 
	text-transform: uppercase;
	letter-spacing: 1px;
}
// Copyright
p.copy {
	font-size:11px;
	line-height: 1;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: $nav-links;
}
// Lists
.narrow .content-inner ul,
.faq .content-inner ul {
	margin-bottom: $space32;
}
// Lists on Pages
.narrow .content-inner ul li,
.faq .content-inner ul li  {
	line-height: 1.5;
	font-size: 1em;
	font-weight: 400;
	color: $text;
	list-style-type: circle; 
	position: relative; 
	left: $space16;
	padding-left: $space8; 
}
.narrow .content-inner li strong,
.faq .content-inner li strong {
	font-size:18px;
}
.narrow .content-inner ul li+li,
.faq .content-inner ul li+li {
	margin-top: $space8;
}
.narrow .content-inner li ul li,
.faq .content-inner li ul li  {
	list-style-type: none;
	padding: 0; left: 0; 
	margin-top: $space8;
}

.docs .sidebar li {
	list-style-type: none;
	padding-left: 0; left:0;
}
// Helpers -------------------
.uppercase {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight:500;
}
.center {
	text-align:center;
}
.left {
	float:left;
}
.right {
	float:right;
}
// Media Queries
@media screen and (max-width: 800px) {
	.header h1 {
		font-size: 3.2em;
	}
}
@media screen and (max-width: 600px) {
	body {
		font-size:14px;
	}
	.footer-features li {
		font-size:1em;
	}
	.header h1 {
		max-width: 100%;
	}
	h2 {
		font-size: 2.25em;
	}
}
@media screen and (max-width: 440px) {
	.header h1 {
		font-size:2.375em;
	}
	h2 {
		font-size: 2.25em;
	}
}
