body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size:16px; // Base
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
	line-height: 1.5;
}

p {
	line-height: 1.6;
}

h1 {
	font-size: 4em; //64px
	line-height: 1.2;
	font-weight:200;
	letter-spacing: -1px;
}
.header h1 {
	font-size: 2.5em;
	max-width: 800px;
	margin: 0 auto;
	text-shadow: 0 1px 3px rgba(0,0,0,0.1)
}
h2 {
	font-size: 2em; //32px
	line-height: 1.3;
	font-weight:200;
	margin-bottom: $space16;
	color: $black;
}
h3 {
	font-size: 1.875em; //30px
	font-weight:300;
	margin-bottom: $space16;
}
h4 {
	font-size: 1.625em; //26px
}
h5 {
	font-size: 1.375em; //22px
	font-weight: 400;
	margin-bottom: $space8;
}
.subtitle {
	font-size: 1.375em; //22px - Home
	line-height: 1.5;
	color: $black60;
}
h6 {
	font-size: 1.25em; //20px
}
p {
	font-size: 1.125em; //18px
	color:$text;
	margin-bottom: $space24;
}
.footer-features li {
	font-size:0.8888em; //16px
	font-weight: 400;
}

.small {
	font-size:0.8125em; //13px
}

a.small.right {
	float: right;
	font-size: 14px;
	font-weight: 500;
	margin-top: 2px; 
	text-transform: uppercase;
	letter-spacing: 1px;
}

// Helpers -------------------
.uppercase {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight:500;
}
.center {
	text-align:center;
}
.left {
	float:left;
}
.right {
	float:right;
}
// Media Queries
@media screen and (max-width: 800px) {
	h1 {
		font-size: 3em;
	}
	.header h1 {
		max-width: 100%;
	}
}
@media screen and (max-width: 600px) {
body {
	font-size:14px;
}
.footer-features li {
	font-size:1em;
}
}
@media screen and (max-width: 440px) {
body {
	//font-size:12px;
}
}
