{% extends "learn.html" %}
{% block title %}Framer - Connecting{% endblock %}
{% block islearn %}active{% endblock %}
{% block mirror %}active{% endblock %}
{% block mirror2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<a href="/learn/preview/apps"><li>Overview <div class="small">iOS and Android</div></li></a>
		<a href="/learn/preview"><li>Mirror <div class="small">Browser Preview</div></li></a>
		<a href="/learn/preview/connecting"><li class="active">Connecting <div class="small">WiFi and USB</div></li></a>		
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### Connecting

##### How it works
Framer Studio runs a built-in webserver containing all of your open projects. The address is your Network **IP address**. On save, Framer Studio automatically refreshes your project for live-previewing. The web server doesn't rely on Bonjour, so it works on all networks, including corporate managed networks.

---

##### Connect via USB

Connect your iOS device to your Mac via USB. Then turn on Personal Hotspot in the Settings app on your iOS device.

To make sure your Wi-Fi or Ethernet connection is used for internet on your Mac, change the Service Order in Network under System Preferences.

<div class="inline-image"><img src="/static/images/learn/ss-mirror-network.png" srcset="/static/images/learn/ss-mirror-network@2x.png 2x"></div>

Below the list of available connections, click on the settings icon. Within the dropdown that appears, select "Set Service Order". Then, place both Wi-Fi and Ethernet above iPhone USB.

If your iOS device is connected via USB and has Personal Hotspot enabled, prototypes can be previewed over USB, without needing an internet connection.

---

##### Switching Networks
If you switch networks or change your network settings while previewing prototypes, you may need to restart Framer Studio. By default, Framer Studio will use Port 8000. If Port 8000 isn't available, the next available port will be used.

---

##### No Server Access
If you can't acces the webserver, check if you have a Firewall enabled that is blocking any ports ranging from 8000-9000. You can find your Firewall settings by going to System Preferences > Security & Privacy > Firewall.

---

<section class="subpage-nav">
	<a class="previous" href="/learn/preview/mirror">
		<figure class="icon-learn-previous-active"></figure>
		<h6 class="last">Mirror</h6> 
	</a>
</section>

{% endfilter %}	
{% endfilter %}	
{% endblock body %}
