/* glue: 0.9.4 hash: 788a4f5e8d */
        .sprite-one-logo-groupon2x,
.sprite-one-logo-instagram2x,
.sprite-one-logo-facebook2x,
.sprite-one-logo-spotify2x,
.sprite-one-logo-google2x,
.sprite-one-logo-stripe2x,
.sprite-one-logo-groupon,
.sprite-one-logo-instagram,
.sprite-one-logo-spotify,
.sprite-one-logo-google,
.sprite-one-logo-twitter2x,
.sprite-one-logo-stripe,
.sprite-one-logo-twitter {
            background-image: url('one.png?788a4f5e8d');
            background-repeat: no-repeat;
        }
        
        .sprite-one-logo-groupon2x {
            background-position: 0 0;
            width: 221px;
            height: 37px;
        }
        
        .sprite-one-logo-instagram2x {
            background-position: 0 -37px;
            width: 212px;
            height: 60px;
        }
        
        .sprite-one-logo-facebook2x {
            background-position: 0 -97px;
            width: 197px;
            height: 41px;
        }
        
        .sprite-one-logo-spotify2x {
            background-position: 0 -138px;
            width: 192px;
            height: 60px;
        }
        
        .sprite-one-logo-google2x {
            background-position: -221px 0;
            width: 175px;
            height: 60px;
        }
        
        .sprite-one-logo-stripe2x {
            background-position: -221px -60px;
            width: 118px;
            height: 49px;
        }
        
        .sprite-one-logo-groupon {
            background-position: -221px -109px;
            width: 111px;
            height: 19px;
        }
        
        .sprite-one-logo-instagram {
            background-position: -221px -128px;
            width: 106px;
            height: 30px;
        }
        
        .sprite-one-logo-spotify {
            background-position: -221px -158px;
            width: 96px;
            height: 30px;
        }
        
        .sprite-one-logo-google {
            background-position: 0 -198px;
            width: 88px;
            height: 30px;
        }
        
        .sprite-one-logo-twitter2x {
            background-position: 0 -228px;
            width: 69px;
            height: 57px;
        }
        
        .sprite-one-logo-stripe {
            background-position: -327px -128px;
            width: 59px;
            height: 25px;
        }
        
        .sprite-one-logo-twitter {
            background-position: -339px -60px;
            width: 35px;
            height: 29px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-one-logo-groupon2x,
    .sprite-one-logo-instagram2x,
    .sprite-one-logo-facebook2x,
    .sprite-one-logo-spotify2x,
    .sprite-one-logo-google2x,
    .sprite-one-logo-stripe2x,
    .sprite-one-logo-groupon,
    .sprite-one-logo-instagram,
    .sprite-one-logo-spotify,
    .sprite-one-logo-google,
    .sprite-one-logo-twitter2x,
    .sprite-one-logo-stripe,
    .sprite-one-logo-twitter {
                background-image: url('one.png?788a4f5e8d');
                -webkit-background-size: 396px 285px;
                -moz-background-size: 396px 285px;
                background-size: 396px 285px;
            }
        }
        