/* glue: 0.9.4 hash: 433dcad411 */
.sprite-sprite2x-logo-instagram,.sprite-sprite2x-logo-facebook,.sprite-sprite2x-logo-groupon,.sprite-sprite2x-logo-google,.sprite-sprite2x-logo-stripe,.sprite-sprite2x-logo-twitter,.sprite-sprite2x-logo-dropbox,.sprite-sprite2x-logo-apple,.sprite-sprite2x-logo-adobe,.sprite-sprite2x-logo-spotify,.sprite-sprite2x-icon-preview2x,.sprite-sprite2x-icon-interaction2x,.sprite-sprite2x-icon-code2x,.sprite-sprite2x-icon-animation2x{
    background-image:url('sprite2x.png?433dcad411');
    background-repeat:no-repeat;
    -webkit-background-size: 360px 328px;
    -moz-background-size: 360px 328px;
    background-size: 360px 328px;
}

.sprite-sprite2x-logo-instagram{
    background-position:0 0;
    width:228px;
    height:64px;
}

.sprite-sprite2x-logo-facebook{
    background-position:0 -64px;
    width:228px;
    height:46px;
}

.sprite-sprite2x-logo-groupon{
    background-position:0 -110px;
    width:216px;
    height:36px;
}

.sprite-sprite2x-logo-google{
    background-position:0 -146px;
    width:180px;
    height:64px;
}

.sprite-sprite2x-logo-stripe{
    background-position:-228px 0;
    width:132px;
    height:54px;
}

.sprite-sprite2x-logo-twitter{
    background-position:-228px -54px;
    width:74px;
    height:60px;
}

.sprite-sprite2x-logo-dropbox{
    background-position:-228px -114px;
    width:68px;
    height:64px;
}

.sprite-sprite2x-logo-apple{
    background-position:-296px -114px;
    width:54px;
    height:64px;
}

.sprite-sprite2x-logo-adobe{
    background-position:0 -210px;
    width:64px;
    height:58px;
}

.sprite-sprite2x-logo-spotify{
    background-position:0 -268px;
    width:60px;
    height:60px;
}

.sprite-sprite2x-icon-preview2x{
    background-position:-302px -54px;
    width:32px;
    height:32px;
}

.sprite-sprite2x-icon-interaction2x{
    background-position:-228px -178px;
    width:32px;
    height:32px;
}

.sprite-sprite2x-icon-code2x{
    background-position:-260px -178px;
    width:32px;
    height:32px;
}

.sprite-sprite2x-icon-animation2x{
    background-position:-292px -178px;
    width:32px;
    height:32px;
}


