/* glue: 0.9.4 hash: c573a5ac4b */
        .sprite-two-logo-adobe2x,
.sprite-two-icon-adobe2x,
.sprite-two-logo-adobe,
.sprite-two-icon-adobe,
.sprite-two-logo-facebook,
.sprite-two-logo-dropbox2x,
.sprite-two-logo-apple2x,
.sprite-two-logo-dropbox,
.sprite-two-logo-apple {
            background-image: url('two.png?c573a5ac4b');
            background-repeat: no-repeat;
        }
        
        .sprite-two-logo-adobe2x {
            background-position: 0 0;
            width: 201px;
            height: 49px;
        }
        
        .sprite-two-icon-adobe2x {
            background-position: 0 -49px;
            width: 201px;
            height: 49px;
        }
        
        .sprite-two-logo-adobe {
            background-position: 0 -98px;
            width: 101px;
            height: 25px;
        }
        
        .sprite-two-icon-adobe {
            background-position: 0 -123px;
            width: 101px;
            height: 25px;
        }
        
        .sprite-two-logo-facebook {
            background-position: -101px -98px;
            width: 99px;
            height: 21px;
        }
        
        .sprite-two-logo-dropbox2x {
            background-position: -201px 0;
            width: 64px;
            height: 60px;
        }
        
        .sprite-two-logo-apple2x {
            background-position: -201px -60px;
            width: 52px;
            height: 60px;
        }
        
        .sprite-two-logo-dropbox {
            background-position: 0 -148px;
            width: 32px;
            height: 30px;
        }
        
        .sprite-two-logo-apple {
            background-position: -32px -148px;
            width: 26px;
            height: 30px;
        }
        
        @media screen and (-webkit-min-device-pixel-ratio: 1.0), screen and (min--moz-device-pixel-ratio: 1.0), screen and (-o-min-device-pixel-ratio: 100/100), screen and (min-device-pixel-ratio: 1.0), screen and (min-resolution: 1.0dppx) {
            .sprite-two-logo-adobe2x,
    .sprite-two-icon-adobe2x,
    .sprite-two-logo-adobe,
    .sprite-two-icon-adobe,
    .sprite-two-logo-facebook,
    .sprite-two-logo-dropbox2x,
    .sprite-two-logo-apple2x,
    .sprite-two-logo-dropbox,
    .sprite-two-logo-apple {
                background-image: url('two.png?c573a5ac4b');
                -webkit-background-size: 265px 178px;
                -moz-background-size: 265px 178px;
                background-size: 265px 178px;
            }
        }
        