{% extends "learnpage.html" %}
{% block title %}Framer - Learn Importing{% endblock %}
{% block islearn %}active{% endblock %}
{% block importing %}active{% endblock %}
{% block importing2 %}-active{% endblock %}

{% block pagetitle %} <!--Header Text-->
<h1>Importing</h1>
<h6 class="col-2">Import files from Sketch, Photoshop or After Effects and turn them into interactive prototypes.</h6>
{% endblock pagetitle %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
#### Overview

The importer lets you import Sketch or Photoshop documents directly into Framer. All of your layer groups will be available. Your layer hierarchy is respected and all flattened layers are exported too. 

Subsequent imports from the same file will work as long as you don't rename layers that you've already targeted within Framer. This allows for rapid iteration. Only active & saved documents will be imported.

---

#### Principles 

- Every *layer group* in Sketch/Photoshop will become a *layer* in Framer.
- Layer hierarchy is respected, eg: a subgroup will become a subLayer.
- Masked layer groups will become layers with clip enabled.
- Group names should be unique.

---

#### Gotchas 

- Layers are imported as a flat list. So, to access a layer named “ChildLayer” you write “sketchLayers.ChildLayer” instead of “sketchLayers.ParentLayer.ChildLayer”.

- In Sketch, all artboards are imported, but only the first one will be visible by default.
- In Sketch, make sure you have the elements you like to import don't have negative coordinates as they'll be hidden within Framer.

---

#### Compatibility:

<table border="0" cellspacing="0" cellpadding="0" class="compatibility">
	<tbody>
	<tr>
		<th>Application</th>
		<th>Compatibility</th>
	</tr>
	<tr>
		<td>Sketch 3 </td>
		<td>Compatible, not recommended</td>
	</tr>
	<tr>
		<td>Sketch 3.1 Beta</td>
		<td>Fully compatible</td>
	</tr>



	<tr>
		<td>Photoshop CS6</td>
		<td>Fully compatible</td>
	</tr>
	<tr>
		<td>Photoshop CC</td>
		<td>Fully compatible</td>
	</tr>
	<tr>
		<td>Photoshop CC 2014</td>
		<td>Fully compatible</td>
	</tr>


</tbody>
</table>
{% endfilter %}	
{% endfilter %}	
{% endblock body %}
