{% extends "learnpage.html" %}
{% block title %}Framer - Learn Importing{% endblock %}
{% block islearn %}active{% endblock %}
{% block importing %}active{% endblock %}
{% block importing2 %}-active{% endblock %}

{% block pagetitle %} <!--Header Text-->
<h1>Importing</h1>
<h6 class="col-2">Import files from Sketch, Photoshop or After Effects and turn them into interactive prototypes.</h6>
{% endblock pagetitle %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
#### Overview

The importer lets you import Sketch or Photoshop documents directly into Framer. All of your layer groups will be available. Your layer hierarchy is respected and all flattened layers are exported too. 

Subsequent imports from the same file will work as long as you don't rename layers that you've already targeted in Framer. This allows for rapid iteration. Only active & saved documents will be imported.

---

### Principles 

##### Layers

- Layer hierarchy is respected, eg: a subgroup will become a subLayer
- Layers are imported as a flat list. To target **“ChildLayer”** you write **"imported.ChildLayer”** instead of **"imported.ParentLayer.ChildLayer”**
- Masked layer groups will become layers with clip enabled


##### Photoshop & Sketch
- Every *layer group* will become a *layer* in Framer
- Layer group names should be unique

##### Sketch
- All artboards are imported, but only the first one will be visible by default
- Elements with negative coordinates will not be visible in Framer

---

#### Compatibility:

<table border="0" cellspacing="0" cellpadding="0" class="compatibility">
	<tbody>
	<tr>
		<th>Application</th>
		<th>Compatibility</th>
	</tr>
	<tr>
		<td>Sketch 3 </td>
		<td>Compatible, not recommended</td>
	</tr>
	<tr>
		<td>Sketch 3.1 Beta</td>
		<td>Fully compatible</td>
	</tr>



	<tr>
		<td>Photoshop CS6</td>
		<td>Fully compatible</td>
	</tr>
	<tr>
		<td>Photoshop CC</td>
		<td>Fully compatible</td>
	</tr>
	<tr>
		<td>Photoshop CC 2014</td>
		<td>Fully compatible</td>
	</tr>


</tbody>
</table>
{% endfilter %}	
{% endfilter %}	
{% endblock body %}
