{% extends "subpage.html" %}
{% block title %}Framer - Examples{% endblock %}
{% block currentpage %}class="subpage examples"{% endblock currentpage %}
{% block isexamples %}active{% endblock %}

{% block pageheader %} 
<header class="examples-header">
	<div class="content-inner">
		<h3>Examples</h3>
		<h6>Made with Framer</h6>
	</div>
</header> 
{% endblock pageheader %}

{% block body %}
<section class="gallery clearfix">
	<div class="clearfix">
		<figure class="col-4">
			<a href="/static/examples/carousel-onboarding.framer">
				<img src="/static/images/examples/carousel.png" srcset="/static/images/examples/carousel@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Carousel</strong>Prototype taking users through the onboarding flow of the app.</p>
			<a href="#">By Josh Puckett</a>
		</figure>
		<figure class="col-4">
			<img src="/static/images/examples/google-now.png" srcset="/static/images/examples/google-now@2x.png 2x" draggable="false">
			<p class="small"><strong>Google Now</strong>Prototype of the transition from the Overview to the Card View.</p>
			<a href="#">By Noah Levin</a>
		</figure>
		<figure class="col-4">
			<img src="/static/images/examples/pull-to-refresh.png" srcset="/static/images/examples/pull-to-refresh@2x.png 2x" draggable="false">
			<p class="small"><strong>Pull-To-Refresh</strong> Prototype of the iOS gesture within the YouTube app.</p>
			<a href="#">By Benjamin den Boer</a>
		</figure>
		<figure class="col-4">
			<img src="/static/images/examples/album-view.png" srcset="/static/images/examples/album-view@2x.png 2x" draggable="false">
			<p class="small"><strong>Album Animation</strong>Prototype of a loading transition seen in Android.</p>
			<a href="#">By Jorn van Dijk</a>
		</figure>
	</div>

	<div class="clearfix">
		<figure class="col-4">
			<img src="/static/images/examples/potluck-onboarding.png" srcset="/static/images/examples/potluck-onboarding@2x.png 2x" draggable="false">
			<p class="small"><strong>Potluck</strong>Prototype of the onboarding tutorial.</p>
			<a href="#">By Jorn van Dijk</a>
		</figure>
		<figure class="col-4">
			<img src="/static/images/examples/card-rotation.png" srcset="/static/images/examples/potluck-onboarding@2x.png 2x" draggable="false">
			<p class="small"><strong>Card Rotation</strong> Prototype with velocity-based rotation.</p>
			<a href="#">By Jorn van Dijk</a>
		</figure>
		<figure class="col-4">
			<img src="/static/images/examples/load-and-display.png" srcset="/static/images/examples/potluck-onboarding@2x.png 2x" draggable="false">
			<p class="small"><strong>Load and Display</strong>Prototype of an Android loading transition.</p>
			<a href="#">By Jorn van Dijk</a>
		</figure>
		<figure class="col-4">
			<img src="/static/images/examples/card-feed.png" srcset="/static/images/examples/potluck-onboarding@2x.png 2x" draggable="false">
			<p class="small"><strong>Card Feed</strong> Prototype with vertically swipable content.</p>
			<a href="#">By Jorn van Dijk</a>
		</figure>
	</div>

	<div class="clearfix">
		<figure class="col-4">
			<img src="/static/images/examples/airbnb-navigation.png" srcset="/static/images/examples/potluck-onboarding@2x.png 2x" draggable="false">
			<p class="small"><strong>Album Animation</strong> Prototype of the Home Screen transition.</p>
			<a href="#">By Jorn van Dijk</a>
		</figure>
		<figure class="col-4">
			<img src="/static/images/examples/sortable-list.png" srcset="/static/images/examples/potluck-onboarding@2x.png 2x" draggable="false">
			<p class="small"><strong>Card Rotation</strong> - Prototype of the Home Screen transition.</p>
			<a href="#">By Jorn van Dijk</a>
		</figure>
		<figure class="col-4">
			<img src="/static/images/examples/slides.png" srcset="/static/images/examples/potluck-onboarding@2x.png 2x" draggable="false">
			<p class="small"><strong>Load and Display</strong> - Prototype of the Home Screen transition.</p>
			<a href="#">By Jorn van Dijk</a>
		</figure>
		<figure class="col-4">
			<img src="/static/images/examples/dribbble-layers.png" srcset="/static/images/examples/potluck-onboarding@2x.png 2x" draggable="false">
			<p class="small"><strong>Card Feed</strong> - Prototype of the Home Screen transition.</p>
			<a href="#">By Jorn van Dijk</a>
		</figure>
	</div>


</section> <!--gallery-->


{% endblock body %}	