{% extends "subpage.html" %}
{% block title %}Framer - Examples{% endblock %}
{% block currentpage %}class="subpage examples"{% endblock currentpage %}
{% block isexamples %}active{% endblock %}

{% block pageheader %} 
<header class="examples-header">
	<div class="content-inner">
		<section>
			<h3>Examples</h3>
			<h6>Made with Framer</h6>
		</section>

		<a class="submit btn" href="#"><img src="/static/images/preview/icon-submit.png" srcset="/static/images/preview/icon-submit@2x.png 2x">Submit</a>
	</div>
</header> 
{% endblock pageheader %}

{% block body %}

<section class="gallery clearfix">
	<div class="clearfix">
		<figure class="col-4">

			<a href="/examples/preview/#carousel-onboarding.framer">
				<img src="/static/images/examples/carousel.png" srcset="/static/images/examples/carousel@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Carousel Onboarding</strong>Prototype taking users through the onboarding flow of the app.</p>
			<a href="#">by Josh Puckett</a>
		</figure>
		<figure class="col-4">
			<a href="/examples/preview/#google-now-overview.framer">
				<img src="/static/images/examples/google-now.png" srcset="/static/images/examples/google-now@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Google Now</strong>Prototype of the transition from the Overview to the Card View.</p>
			<a href="#">by Noah Levin</a>
		</figure>
		<figure class="col-4">
			<a href="/examples/preview/#pull-to-refresh.framer">
				<img src="/static/images/examples/pull-to-refresh.png" srcset="/static/images/examples/pull-to-refresh@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Pull-To-Refresh</strong> Prototype of the iOS gesture within the YouTube app.</p>
			<a href="#">by Benjamin den Boer</a>
		</figure>
		<figure class="col-4">
			<a href="/examples/preview/#album-animation.framer">
				<img src="/static/images/examples/album-view.png" srcset="/static/images/examples/album-view@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Album Animation</strong>Prototype of a album loading transition seen in Android.</p>
			<a href="#">by Jorn van Dijk</a>
		</figure>
	</div>

	<div class="clearfix">
		<figure class="col-4">
			<a href="/examples/preview/#potluck-onboarding.framer">
				<img src="/static/images/examples/potluck-onboarding.png" srcset="/static/images/examples/potluck-onboarding@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Potluck Onboarding</strong>Prototype of the onboarding tutorial of the iOS app.</p>
			<a href="#">by Potluck</a>
		</figure>
		<figure class="col-4">
			<a href="/examples/preview/#card-rotation.framer">
				<img src="/static/images/examples/card-rotation.png" srcset="/static/images/examples/card-rotation@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Card Rotation</strong>Prototype of a card that rotates based on dragging velocity.</p>
			<a href="#">by Wilson Miner</a>
		</figure>
		<figure class="col-4">
			<a href="/examples/preview/#load-and-display.framer">
				<img src="/static/images/examples/load-and-display.png" srcset="/static/images/examples/load-and-display@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Load and Display</strong>Prototype of an file loading transition as seen in Android.</p>
			<a href="#">by Benjamin den Boer</a>
		</figure>
		<figure class="col-4">
			<a href="/examples/preview/#card-feed.framer">
				<img src="/static/images/examples/card-feed.png" srcset="/static/images/examples/card-feed@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Card Feed</strong> Prototype of a vertical stream of content with cards.</p>
			<a href="#">by Jorn van Dijk</a>
		</figure>
	</div>

	<div class="clearfix">
		<figure class="col-4">
			<a href="/examples/preview/#list-sorting.framer#code">
				<img src="/static/images/examples/sortable-list.png" srcset="/static/images/examples/sortable-list@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>List Sorting</strong>Example of an array of layers that can be reshuffled.</p>
			<a href="#">by Benjamin den Boer</a>
		</figure>
		<figure class="col-4">
			<a href="/examples/preview/#keyboard-controlled-slides.framer#code">
				<img src="/static/images/examples/slides.png" srcset="/static/images/examples/slides@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Keyboard-Controlled Slides</strong>Example of an array of keyboard-selectable layers.</p>
			<a href="#">by Jorn van Dijk</a>
		</figure>
		<figure class="col-4">
			<a href="/examples/preview/#generated-images.framer">
				<img src="/static/images/examples/generated-images.png" srcset="/static/images/examples/generated-images@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Generated Images</strong>Example of layer images loaded with JSON via Dribbble.</p>
			<a href="#">by Jorn van Dijk</a>
		</figure>
		<figure class="col-4">
			<a href="/examples/preview/#airbnb-navigation.framer">
				<img src="/static/images/examples/airbnb-navigation.png" srcset="/static/images/examples/airbnb-navigation@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>AirBNB Navigation</strong>Prototype of the drawer navigation as seen in the iOS app.</p>
			<a href="#">by Tisho Georgiev</a>
		</figure>	
	</div>


	<div class="clearfix">
			<figure class="col-4">
			<a href="/examples/preview/#android-wear-notification.framer#code">
				<img src="/static/images/examples/android-wear-notification.png" srcset="/static/images/examples/android-wear-notification@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Android Wear Notification</strong>Prototype of a notification animation seen in Android Wear.</p>
			<a href="#">by Jorn van Dijk</a>
		</figure>
		<figure class="col-4">
			<a href="/examples/preview/#animation-basics.framer#code">
				<img src="/static/images/examples/animation-basics.png" srcset="/static/images/examples/animation-basics@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Animation Basics</strong>Example highlighting animation curves, timing and delays.</p>
			<a href="#">by Jorn van Dijk</a>
		</figure>
		<figure class="col-4">
			<a href="/examples/preview/#animation-chaining.framer#code">
				<img src="/static/images/examples/animation-chaining.png" srcset="/static/images/examples/animation-chaining@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Animation Chaining</strong>Example of starting an animation after another one ends.</p>
			<a href="#">by Benjamin den Boer</a>
		</figure>
		<figure class="col-4">
			<a href="/examples/preview/#delayed-animations.framer#code">
				<img src="/static/images/examples/delayed-animations.png" srcset="/static/images/examples/delayed-animations@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Delayed Animations</strong>Example of how to create a staggering animation effect.</p>
			<a href="#">by Koen Bok</a>
		</figure>
	</div>

	<div class="clearfix">
		<figure class="col-4">
			<a href="/examples/preview/#animation-origin.framer#code">
				<img src="/static/images/examples/animation-origin.png" srcset="/static/images/examples/animation-origin@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Animation Origin</strong>Example animating a layer with a defined animation origin.</p>
			<a href="#">by Benjamin den Boer</a>
		</figure>
		<figure class="col-4">
			<a href="/examples/preview/#draggable-basics.framer#code">
				<img src="/static/images/examples/draggable-basics.png" srcset="/static/images/examples/draggable-basics@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Draggable Basics</strong>Example of a draggable layer that snaps back to its origin.</p>
			<a href="#">by Benjamin den Boer</a>
		</figure>
			<figure class="col-4">
			<a href="/examples/preview/#draggable-resistance.framer#code">
				<img src="/static/images/examples/draggable-resistance.png" srcset="/static/images/examples/draggable-resistance@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Draggable - Resistance</strong>A draggable layer dragging resistance and acceleration.</p>
			<a href="#">by Benjamin den Boer</a>
		</figure>
		<figure class="col-4">
			<a href="/examples/preview/#draggable-range.framer#code">
				<img src="/static/images/examples/draggable-range.png" srcset="/static/images/examples/draggable-range@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Draggable - Range</strong>A draggable layer that responds to the dragging direction.</p>
			<a href="#">by Brandon Souba</a>
		</figure>
	</div>

	<div class="clearfix">
			<figure class="col-4">
			<a href="/examples/preview/#material-design-tooltip.framer#code">
				<img src="/static/images/examples/material-design-tooltip.png" srcset="/static/images/examples/material-design-tooltip@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Material Design Tooltip</strong>Draggable images from Dribbble loaded with JSON.</p>
			<a href="#">by Benjamin den Boer</a>
		</figure>
		<figure class="col-4">
			<a href="/examples/preview/#scrollable-basics.framer#code">
				<img src="/static/images/examples/scrollable-basics.png" srcset="/static/images/examples/scrollable-basics@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Scrollable Basics</strong>A layer with content imported from Sketch, made scrollable.</p>
			<a href="#">by Benjamin den Boer</a>
		</figure>
		<figure class="col-4">
			<a href="/examples/preview/#shadow-lightsource.framer#code">
				<img src="/static/images/examples/shadow-lightsource.png" srcset="/static/images/examples/shadow-lightsource@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Shadow - Lightsource</strong>A layer with a dynamic shadow, based on your mouse movements.</p>
			<a href="#">by Koen Bok</a>
		</figure>
		<figure class="col-4">
			<a href="/examples/preview/#parallax-movement.framer#code">
				<img src="/static/images/examples/scrollable-parallax.png" srcset="/static/images/examples/scrollable-parallax@2x.png 2x" draggable="false">
			</a>
			<p class="small"><strong>Parallax Movement</strong>Example of how to create a parallax scrolling effect.</p>
			<a href="#">by Tisho Georgiev</a>
		</figure>
	</div>
</section> <!--gallery-->


{% endblock body %}	