{% extends "download.html" %}
{% block currentpage %}class="download"{% endblock %}
{% block height %}class="full-height"{% endblock %}
{% block content %}
{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static '/js/main.js' %}"></script>
<script src="{% static '/js/analytics.js' %}"></script>
<script src="{% static '/js/srcset.min.js' %}"></script>
<script src="{% static '/js/download.js' %}"></script>
<script src="{% static '/js/mixpanel.js' %}"></script>


<script type="text/javascript">

window.location.href = "/download/welcome.html";

// var interval = window.setInterval(function() {
// 	if (mixpanel.get_distinct_id) {

// 		window.clearInterval(interval);

// 		if (MixpanelExperiments.getExperimentValue("download-flow") === "direct") {
// 			mixpanel.identify(mixpanel.get_distinct_id())
// 			mixpanel.people.set_once(MixpanelExperiments.listExperiments("experiments."));

// 			window.location.href = "/download/thanks.html";
// 		} else {
// 			window.location.href = "/download/welcome.html";
// 		}
// 	}
// }, 100)


// $(document).ready(function() {




// 	if (MixpanelExperiments.getExperimentValue("download-flow") === "direct") {
// 		mixpanel.identify(mixpanel.get_distinct_id())
// 		mixpanel.people.set_once(MixpanelExperiments.listExperiments("experiments."));

// 		window.location.href = "/download/thanks";
// 	}

// })



</script>

{% endblock scripts %}
