{% extends "download.html" %}
{% block currentpage %}class="download"{% endblock %}
{% block height %}class="full-height"{% endblock %}
{% block content %}

<div class="message thank-you">
	<img src="/static/images/download/icon-framer.png" srcset="/static/images/download/icon-framer@2x.png 2x">
	<h5>Thank you for downloading Framer Studio.</h5>
	<p>If your download doesn't start automatically, please <a href="http://studio.update.framerjs.com/archive/">visit the archive.</a></p>
	<a class="btn blue" href="/">Return Home</a>
</div>
{% endblock %}

{% block scripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="{% static '/js/main.js' %}"></script>
<script src="{% static '/js/analytics.js' %}"></script>
<script src="{% static '/js/srcset.min.js' %}"></script>
<script src="{% static '/js/mixpanel.js' %}"></script>
<script src="{% static '/js/download.js' %}"></script>

<script type="text/javascript">
$(document).ready(function() {
	if (window.location.host.indexOf("framerjs.com") != -1) {
		FramerSite.doDownload();
	} else {
		console.log("Download disabled on localhost");
	}
})
</script>

{% endblock scripts %}
