{% extends "learnpage.html" %}
{% block title %}Framer - Learn Importing{% endblock %}
{% block islearn %}active{% endblock %}
{% block importing %}active{% endblock %}
{% block importing2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<li><a href="/learn/importing">Overview <div class="small">Introduction</div></a></li>
		<li><a href="/learn/importing/photoshop-and-sketch">Photoshop & Sketch <div class="small">Import designs</div></a></li>
		<li class="active"><a href="/learn/importing/photoshop-and-sketch">After Effects <div class="small">Import videos</div></a></li>		
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### After Effects

- Maybe some export rules we learned - see quip
- Show drag and drop a movie creates a videolayer
- Talk about some unique properties videolayers inherit: oncanplaythrough, play, pause, etc,
- Maybe link to first videoLayer google example with spinner 


{% endfilter %}	
{% endfilter %}	
{% endblock body %}
