@import url(includes/reset.css);
@import url(includes/fonts.css);
pre {
  background: #1d2026;
  word-wrap: break-word;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  border-radius: 4px;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 16px;
  margin-bottom: 32px;
  display: block; }

pre, code {
  font-family: 'Menlo', 'Monaco', Courier, monospace; }

code.inline {
  font-size: 14px;
  color: #333;
  font-family: 'Menlo', 'Monaco', Courier, monospace;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 2px; }

pre .comment {
  color: #616D85; }

pre .keyword, pre .selector {
  color: #FF9740; }

pre .constant.numeric {
  color: #5BC1F0; }

pre .constant.language {
  color: #91fcf3; }

pre .string, pre .comment.docstring {
  color: #7DDC16; }

pre code.rainbow .line:before {
  font-size: 10px;
  color: #616D85;
  padding-top: 1px;
  margin-right: 4px; }

table {
  width: 100%;
  border-collapse: separate;
  font-size: 14px;
  line-height: 1.6;
  border: 1px solid #eee;
  border-radius: 6px;
  overflow: hidden;
  font-weight: 400;
  vertical-align: bottom;
  position: relative; }

table td, td {
  border-spacing: none;
  border-style: solid;
  padding: 8px 16px;
  color: #666666;
  position: relative; }

tr > td {
  border-top: 1px solid #eee; }

td:after {
  content: "";
  display: inline-block;
  width: 300%;
  height: 1px;
  background: #eee;
  position: absolute;
  top: -1px;
  right: -200px;
  z-index: 300; }

thead th, th {
  text-align: left;
  padding: 12px 15px 9px;
  font-size: 14px;
  font-weight: 500;
  color: #bbb;
  cursor: default;
  white-space: nowrap;
  line-height: 1.2;
  border-radius: 6px 6px 0 0; }

table .dim {
  color: #999; }

table.api td:first-child {
  color: #333;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Menlo', 'Monaco', Courier, monospace; }

table.compatibility td:first-child {
  color: #666; }

table.api td.group, table.compatibility td.group {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2;
  padding: 16px;
  position: relative;
  bottom: -2px;
  color: #333; }

tbody {
  position: relative; }

th.examples {
  position: absolute;
  right: 0; }

td.examples {
  width: auto;
  text-align: right;
  white-space: nowrap; }

td a + a:before {
  content: "\b7";
  display: inline-block;
  margin-right: 4px;
  font-weight: 500;
  opacity: .5; }

@-webkit-keyframes write-code {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@-moz-keyframes write-code {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@-o-keyframes write-code {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@-ms-keyframes write-code {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@keyframes write-code {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

/*-----------------*/
@-webkit-keyframes write-code-two {
  20% {
    left: 117px; }

  30% {
    left: 117px; }

  40% {
    left: 120px; }

  60% {
    left: 170px; }

  70% {
    left: 170px; }

  80% {
    left: 180px; }

  90% {
    left: 220px; }

  100% {
    left: 240px;
    width: 60px; } }

@-moz-keyframes write-code-two {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@-o-keyframes write-code-two {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@-ms-keyframes write-code-two {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@keyframes write-code-two {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

nav.top {
  width: 100%;
  height: 60px;
  line-height: 66px;
  padding: 0 8px;
  vertical-align: middle;
  position: relative;
  background-color: #15181d;
  color: white;
  z-index: 100; }

nav.top ul {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 16px; }

nav.top li {
  float: left;
  font-size: 14px;
  font-weight: 500;
  line-height: inherit; }

nav.top li + li {
  padding-left: 24px; }

nav.top li a {
  color: #9ea7b2; }

nav.top li.active a {
  color: #fff;
  padding-bottom: 18px;
  border-bottom: 2px solid #28affa; }

nav.top .framer {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase; }

nav.top .framer a {
  color: white; }

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-weight: 300; }

h1,
h2,
h3,
h4,
h5,
h6,
li {
  line-height: 1.5; }

p {
  line-height: 1.6; }

h1 {
  font-size: 4em;
  line-height: 1.2;
  font-weight: 200;
  letter-spacing: -1px; }

h2 {
  font-size: 2em;
  line-height: 1.3;
  font-weight: 200;
  color: #616d85; }

h3 {
  font-size: 1.875em;
  font-weight: 300;
  margin-bottom: 16px; }

h4 {
  font-size: 1.625em; }

h5 {
  font-size: 1.375em;
  font-weight: 400;
  margin-bottom: 8px; }

h6 {
  font-size: 1.25em; }

p {
  font-size: 1.125em;
  color: #666666;
  margin-bottom: 24px; }

.footer-features li {
  font-size: 0.8888em;
  font-weight: 400; }

.small {
  font-size: 0.8125em; }

a.small.right {
  float: right;
  font-size: 14px;
  font-weight: 500;
  margin-top: 2px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.uppercase {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500; }

.center {
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }

@media screen and (max-width: 800px) {
  h1 {
    font-size: 3em; } }
@media screen and (max-width: 600px) {
  body {
    font-size: 14px; }

  .footer-features li {
    font-size: 1em; } }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Fakt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #15181d;
  overflow-x: hidden; }

a {
  color: #28affa;
  font-weight: 500; }

strong {
  font-weight: 500;
  color: #15181d; }

img {
  max-width: 100%; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  padding: 60px 0; }

.content-inner {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 30px; }

.content-inner.narrow {
  max-width: 600px;
  position: relative; }

.module-600 {
  max-width: 600px; }

[class*='col-'] {
  float: left;
  width: 100%;
  margin-right: 60px; }

[class*='col-']:last-of-type {
  margin-right: 0; }

.col-2 {
  max-width: 480px; }

.col-4 {
  max-width: 210px; }

hr {
  border: none;
  width: 100%;
  border-bottom: 1px solid #eee;
  display: block;
  margin: 60px auto; }

li.feature img {
  float: left;
  margin-right: 8px; }

.block {
  background: #222;
  padding: 80px 0;
  margin: 80px 0; }

@media only screen and (min-width: 1024px) {
  .code-draw {
    position: absolute;
    bottom: 104px;
    left: 15px;
    height: 16px;
    width: 240px;
    -webkit-animation: write-code 3s 2s linear forwards;
    -moz-animation: write-code 3s 2s linear forwards;
    -ms-animation: write-code 3s 2s linear forwards;
    -o-animation: write-code 3s 2s linear forwards;
    animation: write-code 3s 2s linear forwards;
    background: #1D2026; }

  .code-draw-two {
    position: absolute;
    bottom: 90px;
    left: 20px;
    height: 16px;
    width: 240px;
    -webkit-animation: write-code-two 2s 6s linear forwards;
    -moz-animation: write-code-two 2s 6s linear forwards;
    -ms-animation: write-code-two 2s 6s linear forwards;
    -o-animation: write-code-two 2s 6s linear forwards;
    animation: write-code-two 2s 6s linear forwards;
    background: #1D2026; } }
@media screen and (max-width: 1080px) {
  .content-inner {
    max-width: 960px; }

  .col-2 {
    max-width: 400px; }

  .col-4 {
    max-width: 180px; } }
@media screen and (max-width: 980px) {
  .content-inner {
    max-width: 720px; }

  .col-2 {
    max-width: 300px; }

  .col-4 {
    max-width: 300px;
    margin-right: 0; }

  .col-4:nth-child(2n) {
    margin-left: 60px; }

  .col-4:nth-child(2) {
    margin-bottom: 32px; } }
@media screen and (max-width: 720px) {
  .content-inner {
    max-width: 500px; }

  .col-2 {
    max-width: 100%; }

  .col-4 {
    max-width: 180px;
    margin-right: 0; }

  .col-4:nth-child(2n) {
    margin-left: 60px; } }
@media screen and (max-width: 440px) {
  .content-inner {
    padding: 20px; }

  hr {
    margin: 32px auto; }

  .col-2,
  .col-4 {
    max-width: 100%; }

  .col-4:nth-child(2n) {
    margin-left: 0; }

  .col-4:nth-child(2) {
    margin-bottom: 0; }

  .col-4 + .col-4 {
    margin-top: 24px; } }
a {
  text-decoration: none; }

a:hover {
  opacity: 0.75; }

a:active {
  opacity: 1; }

textarea:focus,
input:focus {
  outline: 0; }

.btn {
  border: none;
  padding: 12px 26px 9px;
  position: relative;
  border-radius: 50px;
  background: #28affa;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  font-weight: 600; }

.btn + form {
  margin-left: 8px; }

.btn.green {
  background: #7ddc16; }

.btn.green:hover {
  color: #fff;
  box-shadow: none; }

.header a.small,
.footer a.small {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.2;
  color: #a1a8b6; }

.header form,
.footer form {
  display: inline-block; }

.header input,
.footer input {
  font: 16px/1 "Fakt", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 600;
  border: none;
  background: #28affa;
  color: #fff;
  cursor: pointer;
  cursor: hand;
  -webkit-font-smoothing: antialiased;
  -webkit-appearance: none;
  padding: 12px 30px 9px 20px;
  border-radius: 50px;
  width: 120px; }

.header form:after,
.footer form:after {
  content: "99";
  display: inline-block;
  position: relative;
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  left: -38px;
  top: -3px; }

.header input:hover,
.footer input:hover {
  background: #28affa;
  color: #fff;
  box-shadow: none; }

footer.global {
  margin: 0 auto;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 56px; }

footer.global div {
  padding-top: 64px;
  border-top: 1px solid #eee; }

footer.global p, footer.global a {
  display: inline-block;
  font-weight: 400;
  box-shadow: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #BEC5D0;
  font-size: 12px;
  margin: 0; }

.home {
  /* ------------- */ }
  .home #bg {
    position: absolute;
    top: 40px;
    left: 0;
    background: url("/static/images/bg-icon.jpg") no-repeat 50%;
    background-size: contain;
    width: 1240px;
    height: 1380px;
    left: 50%;
    margin-left: -620px;
    z-index: -1; }
  .home .header h1,
  .home .footer h1 {
    margin-top: 64px; }
  .home .header,
  .home .header h2,
  .home .footer h2 {
    margin-bottom: 64px; }
  .home .framerjs {
    margin-bottom: 64px; }
  .home .screenshot-copy {
    margin-top: 48px; }
  .home .screenshot {
    overflow: visible;
    position: relative;
    text-align: center; }
  .home .studio-ss {
    position: relative;
    max-width: 708px;
    margin: 0 auto; }
  .home .studio-ss-600 {
    position: relative;
    max-width: 628px;
    margin: 0 auto; }
  .home .screenshot img.studio {
    max-width: 708px;
    width: 100%; }
  .home .screenshot img.studio-600 {
    display: none; }
  .home .screenshot .video-wrapper {
    width: 354px;
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%; }
  .home .screenshot video {
    position: absolute;
    max-width: 111px;
    top: 159px;
    left: 114px; }
  .home .screenshot-copy h3 {
    margin-bottom: 0; }
  .home .screenshot-copy h6 {
    color: #666666; }
  .home .framerjs p a {
    color: #333;
    font-weight: 400;
    border-bottom: 1px solid #eee; }
  .home .framerjs ul li + li {
    margin: 0; }
  .home .framerjs ul li {
    color: #a1a8b6;
    line-height: 1.9;
    padding-left: 0;
    font-size: 16px;
    font-weight: 400;
    list-style: none;
    left: 0; }
  .home .framerjs ul li:before {
    content: url("/static/images/icon-check.png");
    display: inline-block;
    margin-right: 10px;
    position: relative;
    top: 1px; }
  .home .framerjs section a.examples {
    box-shadow: inset 0 0 0 2px #28affa;
    padding: 12px 20px 10px;
    border-radius: 50px;
    font-size: 16px;
    display: inline-block; }
  .home .used-by {
    text-align: center;
    color: #D3D8E1; }
  .home .used-by img {
    position: relative;
    vertical-align: middle;
    height: auto; }
  .home .used-by img + img {
    margin-left: 21px; }
  .home .used-by img.facebook, .home #used-by img.apple {
    top: -2px; }
  .home .used-by img.google, .home #used-by img.twitter {
    top: 2px; }
  .home .used-by img.facebook {
    width: 99px; }
  .home .used-by img.dropbox {
    width: 32px; }
  .home .used-by img.google {
    width: 88px; }
  .home .used-by img.apple {
    width: 26px; }
  .home .used-by img.groupon {
    width: 111px; }
  .home .used-by img.twitter {
    width: 35px; }
  .home .used-by img.stripe {
    width: 60px; }
  .home .used-by img.spotify {
    width: 96px; }
  .home .used-by img.adobe {
    width: 101px; }
  .home .used-by img.instagram {
    width: 106px;
    top: 4px; }
  .home .block.examples {
    background-color: #b8e1f8;
    /* Fallback Color */
    background-image: -webkit-gradient(linear, left top, right top, from(#71c3f0), to(#b8e1f8));
    /* Saf4+, Chrome */
    background-image: -webkit-linear-gradient(left, #71c3f0, #b8e1f8);
    /* Chrome 10+, Saf5.1+, iOS 5+ */
    background-image: -moz-linear-gradient(left, #71c3f0, #b8e1f8);
    /* FF3.6 */
    background-image: -ms-linear-gradient(left, #71c3f0, #b8e1f8);
    /* IE10 */
    background-image: -o-linear-gradient(left, #71c3f0, #b8e1f8);
    /* Opera 11.10+ */
    background-image: linear-gradient(left, #71c3f0, #b8e1f8);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=1,StartColorStr='#71c3f0', EndColorStr='#b8e1f8');
    height: 500px;
    position: relative; }
  .home .block.examples .screen {
    position: absolute;
    top: 84px;
    max-width: 206px;
    left: 50%;
    margin-left: -102px;
    z-index: 100;
    overflow: hidden; }
  .home .block.examples video {
    width: 100%;
    border: none;
    cursor: pointer; }
  .home .block.examples section {
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%; }
  .home .block.examples a.more {
    color: #fff;
    float: right;
    font-size: 12px;
    padding: 11px 16px 8px 16px;
    border-radius: 55px;
    box-shadow: inset 0 0 0 2px #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600; }
  .home .block.examples a.more:hover {
    opacity: 1;
    background: #fff;
    color: #92CEE1; }
  .home .block.examples a.iphone {
    position: absolute; }
  .home .block.examples a:hover {
    opacity: 1; }
  .home .block.examples a.left img {
    width: 216px; }
  .home .block.examples a.mid img {
    width: 247px; }
  .home .block.examples a.right img {
    width: 222px; }
  .home .block.examples a.left {
    left: -4px; }
  .home .block.examples a.mid {
    left: 50%;
    margin-left: -123px;
    z-index: 50; }
  .home .block.examples a.right {
    right: 0px; }
  .home .interaction {
    background: #22252C;
    padding: 100px 0 140px 0;
    margin: 80px 0 0 0;
    position: relative; }
  .home .interaction h1 {
    color: #fff; }
  .home .interaction p {
    color: #818B9E; }
  .home .interaction h2 {
    color: #9095A1;
    margin-bottom: 32px; }
  .home .interaction h5 {
    color: #fff;
    font-weight: 400; }
  .home .interaction .ss-half {
    background: url("/static/images/ss-code.png") no-repeat;
    idth: 100%;
    height: 657px; }
  @media (-webkit-min-device-pixel-ratio: 1.5) {
    .home #interaction .ss-half {
      background: url("/static/images/ss-code@2x.png") no-repeat;
      background-size: cover; } }
  .home .interaction li img,
  .home .viewer li img {
    float: left;
    position: relative;
    top: 4px;
    margin-right: 16px; }
  .home .viewer {
    padding: 100px 0 40px 0;
    /* The extra 20 is to fix the overflow bug */
    margin-bottom: 0px;
    position: relative;
    overflow: visible; }
  .home .viewer h1 {
    color: #111; }
  .home .viewer h2 {
    margin-bottom: 32px; }
  .home .viewer h5 {
    color: #7DDC16;
    font-weight: 400; }
  .home .viewer li:nth-child(2) h5 {
    color: #28affa; }
  .home .viewer li:nth-child(3) h5 {
    color: #917BDF; }
  .home .viewer li:last-child h5 {
    color: #616d85; }
  .home .viewer .ss-half {
    background: url("/static/images/ss-viewer.png") no-repeat;
    width: 100%;
    height: 659px; }
  @media (-webkit-min-device-pixel-ratio: 1.5) {
    .home #viewer .ss-half {
      background: url("/static/images/ss-viewer@2x.png") no-repeat;
      background-size: cover; } }
  .home .footer-features li {
    list-style: none;
    color: #a1a8b6;
    white-space: nowrap; }
  .home .footer-features ul {
    margin-bottom: 0; }
  .home .footer-features section ul li:before {
    content: url("/static/images/icon-check.png");
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 1px; }
  .home .footer-features li + li {
    margin-top: 8px; }

.docs .align-right {
  max-width: 750px;
  float: right;
  clear: both; }
.docs .content-inner:after {
  content: "";
  display: table;
  clear: both; }
.docs .sidebar {
  float: left;
  position: absolute;
  max-width: 210px; }
.docs .sidebar.sticky {
  position: fixed;
  top: 64px; }
.docs .sidebar li + li {
  margin-top: 8px; }
.docs .sidebar a {
  color: #999; }
.docs .sidebar a.active {
  color: #28affa; }
@media screen and (max-width: 1020px) {
  .docs .align-right {
    max-width: 100%;
    float: none;
    clear: auto; }
  .docs .sidebar {
    display: none; } }
@media screen and (max-width: 960px) {
  .docs .content-inner {
    max-width: 960px; } }

.learn .content-inner {
  max-width: 660px;
  margin: 0 auto; }
.learn .content-inner ul {
  margin-bottom: 32px; }
.learn .content-inner ul li {
  line-height: 1.6;
  font-size: 1em;
  color: #888;
  list-style-type: circle;
  position: relative;
  left: 16px;
  padding-left: 8px; }
.learn .content-inner ul li + li {
  margin-top: 8px; }
.learn .content-inner li ul li {
  list-style-type: none;
  padding: 0;
  left: 0;
  margin-top: 8px; }
.learn h3 {
  margin-bottom: 24px; }
.learn h4 {
  margin-bottom: 16px; }
