// Includes ---------------------
@import "includes/reset.scss";
@import "includes/variables.scss";
@import "includes/mixins.scss";
@import "includes/color.scss";
@import "includes/code.scss";
@import "includes/tables.scss";
@import "includes/error.scss"; 

// Layout ----------------------
@import "layout/nav.scss";
@import "layout/type.scss";
@import "layout/base.scss";
@import "layout/buttons.scss";
@import "layout/footer.scss";

// Sprites
@import "sprites/sprite1x.scss";
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {  @import "sprites/sprite2x.scss"; }


// Pages -----------------------
.home { @import "pages/home.scss"; }
.docs { @import "pages/docs.scss"; }
.narrow { @import "pages/learn.scss"; }



// R U L E S 

// 1. Structure: Layout elements in /layout, Styles of specific pages in /pages and are prefixed with SASS. 
// Other generic elements (fonts, colors) used site-wide are in /includes.

// 2. CSS 
// - Comment with // instead of /**/
// - Use 8px grid and $space variables for vertical spacing and spacing between elements
// - Use col-2, col-4 for responsive grid elements

// - No spaces between CSS rules unless it can be defined as a new section. (Alternatively seperate with a comment/title)
// - No complex, nested selectors that cause dom-walking: .nav ul li a span [vs] .nav span 
// - 2x images with srcset polyfill
// - Always define height/width of image either HTML or CSS (CSS is preferred)
// - No SASS Nesting

// - Class names are seperated by a dash: .top-nav [vs] .topNav
// - Image names are seperated by a dash: icon-home.png [vs] iconHome.png

// - Try to use classes for everything, no IDs
// - Helper classes: clearfix


// 3. Images:
// - Add small images (icons, logos, etc) to sprite. Place larger images (bg) within <img> tags 
// with srcset for 2x images.
// - To add images to sprite: Export 1x and 2x from Sketch or PS and add to /sprites/sprite1x and /sprites/sprite2x folder.
// Type "make sprites" in Terminal. This will output to /static/images/sprites. Adjust 2x SCSS file to not override the 1x file,
// but make sure the background-size values of 1x are also placed within 2x to inherit the proper width and height.


// 4. Usage:
// - Use 8px spacing variables for spacing elements.
// - Use color variables to color elements. Or, use a .blue/.green class for specific elements.
// - Use .btn class to create a button.
// - Use .col-2/.col-4 to layout elements.
// - Use mixins for transforms/gradients/keyframes/transitions
// - Use type.scss when creating and sizing typography


