@import url(includes/reset.css);
@import url(includes/fonts.css);
.graphite {
  color: #616d85; }

.blue {
  color: #28affa; }

nav.top a.blue {
  color: #28affa; }

.green {
  color: #7ddc16; }

.purple {
  color: #9178e2; }

.cyan {
  color: #2dd7aa; }

pre {
  background: #1d2026;
  word-wrap: break-word;
  color: #fff;
  font-size: 12px;
  font-weight: normal;
  line-height: 1.5;
  border-radius: 4px;
  -webkit-font-smoothing: subpixel-antialiased;
  padding: 16px;
  margin-bottom: 32px;
  display: block; }

pre, code {
  font-family: 'Menlo', 'Monaco', Courier, monospace; }

code.inline {
  font-size: 14px;
  color: #333;
  font-family: 'Menlo', 'Monaco', Courier, monospace;
  border-bottom: 1px dotted #ddd;
  padding-bottom: 2px; }

.o {
  color: #fff; }

.nf {
  color: #fff; }

.k {
  color: #FF9740; }

.c {
  color: #616D85; }

.cm {
  color: #616D85; }

.cp {
  color: #616D85; }

.c1 {
  color: #616D85; }

.cs {
  color: #616D85; }

.mi, .mf {
  color: #5bc1f0; }

.s {
  color: #8dde19; }

pre ol {
  counter-reset: linenumbers; }

pre ol li:before {
  content: counter(linenumbers);
  counter-increment: linenumbers;
  float: left;
  margin-right: 16px;
  font-size: 10px;
  color: #576172;
  position: relative;
  top: 1px; }

table {
  width: 100%;
  border-collapse: separate;
  font-size: 14px;
  line-height: 1.6;
  border: 1px solid #eee;
  border-radius: 6px;
  overflow: hidden;
  font-weight: 400;
  vertical-align: bottom;
  position: relative; }

table td, td {
  border-spacing: none;
  border-style: solid;
  padding: 8px 16px;
  color: #666666;
  position: relative; }

tr > td {
  border-top: 1px solid #eee; }

td:after {
  content: "";
  display: inline-block;
  width: 300%;
  height: 1px;
  background: #eee;
  position: absolute;
  top: -1px;
  right: -200px;
  z-index: 300; }

thead th, th {
  text-align: left;
  padding: 12px 15px 9px;
  font-size: 14px;
  font-weight: 500;
  color: #bbb;
  cursor: default;
  white-space: nowrap;
  line-height: 1.2;
  border-radius: 6px 6px 0 0; }

table .dim {
  color: #999; }

table.api td:first-child {
  color: #333;
  font-size: 13px;
  font-weight: 400;
  font-family: 'Menlo', 'Monaco', Courier, monospace; }

table.compatibility td:first-child {
  color: #666; }

table.api td.group, table.compatibility td.group {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 2;
  padding: 16px;
  position: relative;
  bottom: -2px;
  color: #333; }

tbody {
  position: relative; }

th.examples {
  position: absolute;
  right: 0; }

td.examples {
  width: auto;
  text-align: right;
  white-space: nowrap; }

td a + a:before {
  content: "\b7";
  display: inline-block;
  margin-right: 4px;
  font-weight: 500;
  opacity: .5; }

@-webkit-keyframes write-code {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@-moz-keyframes write-code {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@-o-keyframes write-code {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@-ms-keyframes write-code {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@keyframes write-code {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

/*-----------------*/
@-webkit-keyframes write-code-two {
  20% {
    left: 117px; }

  30% {
    left: 117px; }

  40% {
    left: 120px; }

  60% {
    left: 170px; }

  70% {
    left: 170px; }

  80% {
    left: 180px; }

  90% {
    left: 220px; }

  100% {
    left: 240px;
    width: 60px; } }

@-moz-keyframes write-code-two {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@-o-keyframes write-code-two {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@-ms-keyframes write-code-two {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

@keyframes write-code-two {
  20% {
    left: 90px; }

  30% {
    left: 90px; }

  40% {
    left: 95px; }

  50% {
    left: 100px; }

  60% {
    left: 120px; }

  70% {
    left: 160px; }

  80% {
    left: 165px; }

  90% {
    left: 200px; }

  100% {
    left: 240px;
    width: 60px; } }

nav.top {
  width: 100%;
  height: 64px;
  line-height: 70px;
  padding: 0 16px;
  vertical-align: middle;
  position: static;
  top: -20px;
  background: #15181d;
  z-index: 1000; }

nav.top.sticky {
  position: fixed;
  top: 0;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease; }

nav.top li {
  float: left;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  line-height: inherit; }

nav.top li + li {
  padding-left: 32px; }

nav.top li a {
  color: #818b9e;
  font-weight: 600; }

nav.top li.active a {
  color: #28affa;
  padding-bottom: 24px;
  border-bottom: 2px solid #28affa; }

nav.top .framer {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase; }

nav.top .framer a {
  color: #fff;
  font-weight: 600;
  letter-spacing: 0;
  font-size: 16px; }

nav.top form {
  display: inline-block;
  position: relative;
  top: -3px; }

nav.top input {
  font: inherit;
  font-weight: 600;
  border: none;
  background: none;
  color: #7ddc16;
  cursor: pointer;
  cursor: hand;
  -webkit-font-smoothing: antialiased;
  text-transform: uppercase; }

@media screen and (max-width: 1000px) {
  nav.top .content-inner {
    max-width: 900px; } }
@media screen and (max-width: 440px) {
  nav.top {
    line-height: 1;
    position: absolute; }

  nav.top .framer {
    text-align: center;
    width: 100%;
    height: 32px;
    margin-bottom: 24px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1); }

  nav.top .right {
    float: none;
    height: 64px;
    text-align: center; }

  nav.top li {
    display: inline-block;
    float: none; }

  nav.top .download,
  nav.top .github,
  nav.top .community,
  nav.top .buy {
    display: none; } }
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  font-weight: 300; }

h1,
h2,
h3,
h4,
h5,
h6,
li {
  line-height: 1.5; }

p {
  line-height: 1.6; }

h1 {
  font-size: 4em;
  line-height: 1.2;
  font-weight: 100;
  letter-spacing: -1px; }

.header h1 {
  color: #fff; }

h2 {
  font-size: 2em;
  line-height: 1.3;
  font-weight: 200;
  margin-bottom: 16px;
  color: #15181d; }

h3 {
  font-size: 1.875em;
  font-weight: 300;
  margin-bottom: 16px; }

h4 {
  font-size: 1.625em; }

h5 {
  font-size: 1.375em;
  font-weight: 400;
  margin-bottom: 8px; }

.subtitle {
  font-size: 1.375em;
  line-height: 1.5;
  color: #787a7d; }

h6 {
  font-size: 1.25em; }

p {
  font-size: 1.125em;
  color: #666666;
  margin-bottom: 24px; }

.footer-features li {
  font-size: 0.8888em;
  font-weight: 400; }

.small {
  font-size: 0.8125em; }

a.small.right {
  float: right;
  font-size: 14px;
  font-weight: 500;
  margin-top: 2px;
  text-transform: uppercase;
  letter-spacing: 1px; }

.uppercase {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500; }

.center {
  text-align: center; }

.left {
  float: left; }

.right {
  float: right; }

@media screen and (max-width: 800px) {
  h1 {
    font-size: 3em; }

  .header h1 {
    max-width: 100%; } }
@media screen and (max-width: 600px) {
  body {
    font-size: 14px; }

  .footer-features li {
    font-size: 1em; } }
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  font-family: "Fakt", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #15181d;
  overflow-x: hidden; }

a {
  color: #28affa;
  font-weight: 400; }

p a {
  border-bottom: 1px solid #a9dffd; }

strong {
  font-weight: 500;
  color: #15181d; }

img {
  max-width: 100%; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  padding: 0 0 64px 0; }

.learn .container,
.docs .container {
  padding: calc(72px + 64px) 0 64px 0; }

.content-inner {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 30px; }

.content-inner.narrow {
  max-width: 600px;
  position: relative; }

.module-600 {
  max-width: 600px; }

[class*='col-'] {
  float: left;
  width: 100%;
  margin-right: 60px; }

[class*='col-']:last-of-type {
  margin-right: 0; }

.col-2 {
  max-width: 480px; }

.col-4 {
  max-width: 210px; }

hr {
  border: none;
  width: 100%;
  border-bottom: 1px solid #eee;
  display: block;
  margin: 72px auto; }

li.feature img {
  float: left;
  margin-right: 8px; }

.block {
  background: #222;
  padding: 80px 0;
  margin: 80px 0; }

@media only screen and (min-width: 1024px) {
  .code-draw {
    position: absolute;
    bottom: 104px;
    left: 15px;
    height: 16px;
    width: 240px;
    -webkit-animation: write-code 3s 2s linear forwards;
    -moz-animation: write-code 3s 2s linear forwards;
    -ms-animation: write-code 3s 2s linear forwards;
    -o-animation: write-code 3s 2s linear forwards;
    animation: write-code 3s 2s linear forwards;
    background: #1D2026; }

  .code-draw-two {
    position: absolute;
    bottom: 90px;
    left: 20px;
    height: 16px;
    width: 240px;
    -webkit-animation: write-code-two 2s 6s linear forwards;
    -moz-animation: write-code-two 2s 6s linear forwards;
    -ms-animation: write-code-two 2s 6s linear forwards;
    -o-animation: write-code-two 2s 6s linear forwards;
    animation: write-code-two 2s 6s linear forwards;
    background: #1D2026; } }
@media screen and (max-width: 1080px) {
  .content-inner {
    max-width: 960px; }

  .col-2 {
    max-width: 400px; }

  .col-4 {
    max-width: 180px; } }
@media screen and (max-width: 980px) {
  .content-inner {
    max-width: 720px; }

  .col-2 {
    max-width: 300px; }

  .col-4 {
    max-width: 300px;
    margin-right: 0; }

  .col-4:nth-child(2n) {
    margin-left: 60px; }

  .col-4:nth-child(2) {
    margin-bottom: 32px; } }
@media screen and (max-width: 720px) {
  .content-inner {
    max-width: 500px; }

  .col-2 {
    max-width: 100%; }

  .col-4 {
    max-width: 180px;
    margin-right: 0; }

  .col-4:nth-child(2n) {
    margin-left: 60px; } }
@media screen and (max-width: 440px) {
  .content-inner {
    padding: 20px; }

  hr {
    margin: 32px auto; }

  .col-2,
  .col-4 {
    max-width: 100%; }

  .col-4:nth-child(2n) {
    margin-left: 0; }

  .col-4:nth-child(2) {
    margin-bottom: 0; }

  .col-4 + .col-4 {
    margin-top: 24px; } }
a {
  text-decoration: none; }

a:hover {
  opacity: 0.75; }

a:active {
  opacity: 1; }

textarea:focus,
input:focus {
  outline: 0; }

.btn,
.header input,
.footer input {
  border: none;
  padding: 8px 16px;
  padding-top: 11px;
  position: relative;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  letter-spacing: 0px; }

.btn-pill {
  border-radius: 50px; }

.btn-line,
input.btn-line {
  background: transparent;
  box-shadow: inset 0 0 0 1px #28affa;
  text-shadow: none; }

.btn + form {
  margin-left: 8px; }

.btn.green {
  background: #7ddc16; }

.btn.green:hover {
  color: #fff;
  box-shadow: none; }

.btn.cyan {
  background: #2dd7aa; }

.btn.purple {
  background: #9178e2; }

.btn-line.green {
  color: #7ddc16;
  box-shadow: inset 0 0 0 1px #7ddc16; }

.btn-line.blue {
  color: #28affa;
  box-shadow: inset 0 0 0 1px #28affa; }

.header a.small,
.footer a.small {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  margin-top: 20px;
  line-height: 1.2;
  color: #a1a8b6; }

input {
  padding: 0;
  -webkit-appearance: none;
  border: none; }

.header form,
.footer form {
  display: inline-block; }

.header input,
.footer input {
  font-family: "Fakt", "Helvetica Neue",Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  border: none;
  cursor: pointer;
  cursor: hand;
  line-height: 1; }

footer.global {
  margin: 0 auto;
  text-align: center;
  margin-top: 64px;
  margin-bottom: 56px; }

footer.global div {
  padding-top: 64px;
  border-top: 1px solid #eee; }

footer.global p, footer.global a {
  display: inline-block;
  font-weight: 400;
  box-shadow: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #BEC5D0;
  font-size: 12px;
  margin: 0; }

.home .header {
  background: #15181d;
  color: #fff;
  height: 680px;
  margin-top: 64px;
  overflow: hidden;
  position: relative;
  padding-top: 48px; }
.home .ss-framer img {
  max-width: 1046px;
  max-height: 448px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -523px;
  width: 100%; }
.home .footer h1 {
  margin-top: 64px; }
.home .header,
.home .footer h2 {
  margin-bottom: 72px; }
.home .header h1 {
  margin-bottom: 24px; }
.home .framer-overview {
  margin-bottom: 64px; }
.home .screenshot-copy {
  margin-top: 48px; }
.home .examples {
  margin-bottom: calc(80px * 2);
  margin-top: calc(80px + 16px); }
.home .screenshot img.studio {
  max-width: 708px;
  width: 100%; }
.home .screenshot img.studio-600 {
  display: none; }
.home .screenshot .video-wrapper {
  width: 354px;
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%; }
.home .screenshot video {
  position: absolute;
  max-width: 111px;
  top: 159px;
  left: 114px; }
.home .screenshot-copy h3 {
  margin-bottom: 0; }
.home .screenshot-copy h6 {
  color: #666666; }
.home .framer-overview h5:before {
  content: "";
  display: inline-block;
  background: url("/static/images/home/sprite-icons-home.png") no-repeat;
  height: 16px;
  width: 16px;
  overflow: hidden;
  position: relative;
  margin-right: 16px; }
.home .framer-overview h5.green:before {
  background-position: -16px 0; }
.home .framer-overview h5.purple:before {
  background-position: -32px 0; }
.home .framer-overview h5.cyan:before {
  background-position: -48px 0; }
.home .used-by {
  text-align: center;
  color: #D3D8E1; }
.home .used-by img {
  position: relative;
  vertical-align: middle;
  height: auto; }
.home .used-by img + img {
  margin-left: 32px; }
.home .used-by img.facebook, .home #used-by img.apple {
  top: -2px; }
.home .used-by img.google, .home #used-by img.twitter {
  top: 3px; }
.home .used-by img.dropbox {
  width: 34px; }
.home .used-by img.google {
  width: 90px; }
.home .used-by img.twitter {
  width: 37px; }
.home .used-by img.facebook {
  width: 114px; }
.home .used-by img.apple {
  width: 27px; }
.home .used-by img.instagram {
  width: 114px;
  top: 4px; }
.home .used-by img.spotify {
  width: 30px; }
.home .used-by img.stripe {
  width: 66px; }
.home .used-by img.adobe {
  width: 32px; }
.home .used-by img.groupon {
  width: 108px; }
.home .examples {
  background: #28affa;
  height: 480px;
  position: relative;
  padding: 0; }
.home .examples a:hover {
  opacity: 1; }
.home .examples .devices {
  max-width: 755px;
  width: 100%;
  height: 480px;
  margin: 0 auto;
  position: relative; }
.home .examples .devices a {
  position: absolute; }
.home a.device-left img {
  width: 266px; }
.home a.device-mid img {
  width: 326px; }
.home a.device-right img {
  width: 274px; }
.home a.device-left {
  left: 0;
  top: -40px; }
.home a.device-mid {
  left: 50%;
  margin-left: -151px;
  z-index: 50;
  top: -80px; }
.home a.device-right {
  right: 0;
  top: -40px; }
.home .interaction {
  background: #22252C;
  padding: 100px 0 140px 0;
  margin: 80px 0 0 0;
  position: relative; }
.home .interaction h1 {
  color: #fff; }
.home .interaction p {
  color: #818B9E; }
.home .interaction h2 {
  color: #9095A1;
  margin-bottom: 32px; }
.home .interaction h5 {
  color: #fff;
  font-weight: 400; }
.home .interaction .ss-half {
  background: url("/static/images/ss-code.png") no-repeat;
  width: 100%;
  height: 657px; }
@media (-webkit-min-device-pixel-ratio: 1.5) {
  .home #interaction .ss-half {
    background: url("/static/images/ss-code@2x.png") no-repeat;
    background-size: cover; } }
.home .interaction li img,
.home .viewer li img {
  float: left;
  position: relative;
  top: 4px;
  margin-right: 16px; }
.home .viewer {
  padding: 100px 0 40px 0;
  /* The extra 20 is to fix the overflow bug */
  margin-bottom: 0px;
  position: relative;
  overflow: visible; }
.home .viewer h1 {
  color: #111; }
.home .viewer h2 {
  margin-bottom: 32px; }
.home .viewer h5 {
  color: #7DDC16;
  font-weight: 400; }
.home .viewer li:nth-child(2) h5 {
  color: #28affa; }
.home .viewer li:nth-child(3) h5 {
  color: #917BDF; }
.home .viewer li:last-child h5 {
  color: #616d85; }
.home .viewer .ss-half {
  background: url("/static/images/ss-viewer.png") no-repeat;
  width: 100%;
  height: 659px; }
@media (-webkit-min-device-pixel-ratio: 1.5) {
  .home #viewer .ss-half {
    background: url("/static/images/ss-viewer@2x.png") no-repeat;
    background-size: cover; } }
.home .footer-features li {
  list-style: none;
  color: #a1a8b6;
  white-space: nowrap; }
.home .footer-features ul {
  margin-bottom: 0; }
.home .footer-features section ul li:before {
  content: url("/static/images/icon-check.png");
  display: inline-block;
  margin-right: 8px;
  position: relative;
  top: 1px; }
.home .footer-features li + li {
  margin-top: 8px; }
@media screen and (max-width: 1060px) {
  .home .ss-framer img {
    left: 0;
    margin-left: 0; } }
@media screen and (max-width: 960px) {
  .home .header {
    height: 620px; } }

.docs .align-right {
  max-width: 750px;
  float: right;
  clear: both; }
.docs .content-inner:after {
  content: "";
  display: table;
  clear: both; }
.docs .sidebar {
  float: left;
  position: absolute;
  max-width: 210px; }
.docs .sidebar.sticky {
  position: fixed;
  top: 64px; }
.docs .sidebar li + li {
  margin-top: 8px; }
.docs .sidebar a {
  color: #999; }
.docs .sidebar a.active {
  color: #28affa; }
@media screen and (max-width: 1020px) {
  .docs .align-right {
    max-width: 100%;
    float: none;
    clear: auto; }
  .docs .sidebar {
    display: none; } }
@media screen and (max-width: 960px) {
  .docs .content-inner {
    max-width: 960px; } }

.learn .content-inner {
  max-width: 660px;
  margin: 0 auto; }
.learn .content-inner ul {
  margin-bottom: 32px; }
.learn .content-inner ul li {
  line-height: 1.6;
  font-size: 1em;
  color: #888;
  list-style-type: circle;
  position: relative;
  left: 16px;
  padding-left: 8px; }
.learn .content-inner ul li + li {
  margin-top: 8px; }
.learn .content-inner li ul li {
  list-style-type: none;
  padding: 0;
  left: 0;
  margin-top: 8px; }
.learn h3 {
  margin-bottom: 24px; }
.learn h4 {
  margin-bottom: 16px; }
