{% extends "subpage.html" %}
{% block title %}Framer - Teach{% endblock %}
{% block currentpage %}class="subpage teach"{% endblock currentpage %}


{% block pageheader %} <!--Header Text-->
<header class="page-header">
	<img src="/static/images/teach/teach-header-bg.jpg" srcset="/static/images/teach/teach-header-bg@2x.jpg 2x" draggable="false">
	<div class="content-inner">
		<h1>Teach Framer</h1>
		<h2 class="col-2">We're here to help you share your knowledge.</h2>
	</div>
</header> 
{% endblock pageheader %}

{% block body %}
<div class="why-teach-framer clearfix">
	<section class="col-4">
		<figure class="icon-meetups"></figure>
		<h4>Meetups</h4>
		<p class="small">
		If you create prototypes, you can share your knowledge with others by organising a local meetup.
		</p>
		<ul>
			<li>We can help with promotion</li>
			<li>We can review your assets</li>
		</ul>
	</section>

	<section class="col-4">
		<figure class="icon-conferences"></figure>
		<h4>Conferences</h4>

		<p class="small">
		Prototyping is a popular topic. Tools like Framer are exciting to include in talks about interaction design.
		</p>
		<ul>
			<li>We can help find speakers</li>
			<li>We can give presentations</li>
		</ul>
	</section>

	<section class="col-4">
		<figure class="icon-companies"></figure>
		<h4>Companies</h4>

		<p class="small">
		Companies that embrace prototyping are able to work more efficiently and attract interaction designers.</p>
		<ul>

			<li>We can review courses</li>
			<li>Volume licenses available</li>
		</ul>
	</section>

	<section class="col-4">
		<figure class="icon-universities"></figure>
		<h4>Universities</h4>
		<p class="small">
		Framer is a great tool to help teach User Interface Design and Development courses at Universities.</p>
		<ul>
			<li>We can connect universities</li>
			<li>Education pricing available</li>
		</ul>
	</section>
</div>

<div class="teach-cta center">
	<h4>We'd love to help you teach Framer</h4>
	<a class="btn blue" href="mailto:support@framerjs.com">Contact Us</a>
</div>

<hr>

<div class="teach-prototyping-classes clearfix">
	<section class="col-2">
		<h4>Prototyping Classes</h4>
		<p>Enable students to explore and invent interactions. Find out where Framer is being taught below.</p>
	</section> <!--col-2-->

	<section class="col-2">
		<p>If you’re interested in giving classes on prototyping, we can help review your courses. <a href="mailto:support@framerjs.com">Contact us</a>.</p>
	</section> <!--col-2-->
</div>

<div class="teach-logo-section clearfix">
	<div class="teach-logo-string">
		<div class="clearfix">
			<section class="col-2">
				<a class="logo" href="http://berkeley.edu" target="_blank"><img class="logo-berkeley" src="/static/images/teach/logo-berkeley.png" srcset="/static/images/teach/logo-berkeley@2x.png 2x" draggable="false"></a>
				<aside>
					<h5>Berkeley</h5>
					<p class="small">User Interface Design + Development Course taught by Professor <a href="http://www.paulos.net" target="_blank">Eric Paulos</a>.</p>
				</aside>
			</section> <!-- col-2 -->
 			<section class="col-2">
				<a class="logo" href="http://www.cmu.edu/index.shtml" target="_blank"><img class="logo-ga" src="/static/images/teach/logo-cmu.png" srcset="/static/images/teach/logo-cmu@2x.png 2x" draggable="false"></a>
				<aside>
					<h5>Carnegie Mellon</h5>
					<p class="small">Interaction Design Lab graduate course, taught by <a href="http://design.cmu.edu/user/318" target="_blank">Brian Staszel</a>.</p>
				</aside>
			</section> <!-- col-2 -->
		</div>
		<div class="clearfix">
			<section class="col-2">
				<a class="logo" href="http://www.ecuad.ca" target="_blank"><img class="logo-ga" src="/static/images/teach/logo-ec.png" srcset="/static/images/teach/logo-ec@2x.png 2x" draggable="false"></a>
				<aside>
					<h5>Emily Carr</h5>
					<p class="small">Interaction Design program, taught by Assistant Professor <a href="http://courses.haigarmen.com" target="_blank">Haig Armen</a>.</p>
				</aside>
			</section> <!-- col-2 -->
			<section class="col-2">
				<a class="logo" href="https://generalassemb.ly" target="_blank"><img class="logo-ga" src="/static/images/teach/logo-ga.png" srcset="/static/images/teach/logo-ga@2x.png 2x" draggable="false"></a>
				<aside>
					<h5>General Assembly</h5>
					<p class="small">A hands-on workshop taught at General Assembly with <a href="https://generalassemb.ly/education/prototyping-with-framerjs" target="_blank">multiple instructors</a>.</p>
				</aside>
			</section> <!-- col-2 -->
		
		</div>
		<div class="clearfix">
			<section class="col-2">
				<a class="logo" href="http://www.sd.polyu.edu.hk/en/study-detail/higher-diploma-in-multimedia-design-and-technology" target="_blank"><img class="logo-ga" src="/static/images/teach/logo-polyu.png" srcset="/static/images/teach/logo-polyu@2x.png 2x" draggable="false"></a>
				<aside>
					<h5>PolyU Design</h5>
					<p class="small">Prototyping for Interactivity graduate course, taught by visiting lecturer <a href="https://www.linkedin.com/pub/ken-yiu/54/b17/43b" target="_blank">Ken Yiu</a>.</p>
				</aside>
			</section> <!-- col-2 -->
			<section class="col-2">
				<a class="logo" href="http://www.hit.ac.il/en" target="_blank"><img class="logo-ga" src="/static/images/teach/logo-hit.png" srcset="/static/images/teach/logo-hit@2x.png 2x" draggable="false"></a>
				<aside>
					<h5>H.I.T.</h5>
					<p class="small">Prototyping class for design students, taught by Interface Designer <a href="http://il.linkedin.com/pub/udi-gindi/12/4ba/840" target="_blank">Udi Gindi</a>.</p>
				</aside>
			</section> <!-- col-2 -->
		</div>
	</div> <!-- teach-logo-string -->
</div> <!-- tech-logo-section -->

<hr>

<div class="resources">
	<section class="col-2">
		<h4>Presentations</h4>
		<a href="https://speakerdeck.com/stakes/prototyping-with-framer" target="_blank">
			<h5>Prototyping with Framer</h5> 
			<div class="author">by Jay Stakelon</div>
			<p class="small">“Start merely curious and finish having prototyped responsive interactions and a basic mobile app.”</p>
		</a>

		<a href="https://speakerdeck.com/stakes/designing-with-code" target="_blank">
			<h5>Designing with Code</h5> 
			<div class="author">by Jay Stakelon</div>
			<p class="small">“Creators need an immediate connection to what they're creating.”</p>

		</a>

		<a href="http://nlevin.com/framer/" target="_blank">
			<h5>Prototyping with Framer</h5> 
			<div class="author">by Noah Levin</div>
			<p class="small">“We have the look, let's dictate the feel. We don't have many great tools to do this easily.”</p>
		</a>

		<a href="http://www.slideshare.net/tackmobile/prototyping-with-framerjs">
			<h5>Prototyping with Framer</h5> 
			<div class="author">by Tackmobile</div>
			<p class="small">“Presentation on prototyping with Framer. Originally given at Devner Full Stack Meetup October 2014”</p>
		</a>
	</section>

	<section class="col-2">
		<h4>Articles</h4>
		<a href="https://medium.com/@kennycheny/creating-your-first-prototype-with-framer-c39221da7668" target="_blank">
			<h5>Creating your first prototype with Framer</h5> <div class="author">by Kenny Chen</div>
			<p class="small">“Beautiful, subtle movement enhances the user experience and makes products more engaging...”</p>
		</a>
		<a href="http://thatedchao.com/published/2014/09/27/framer.html" target="_blank">
			<h5>Framer Experiments</h5> <div class="author">by Ed Chao</div>
			<p class="small">“Experiments that hopefully serve as a resource of projects to help others in their Framer explorations.”</p>
		</a>

		<a href="https://medium.com/@drocarmo/why-framer-js-matters-93eb1206e606" target="_blank">
			<h5>Why Framer Matters</h5> 
			<div class="author">by Pedro Carmo</div>
			<p class="small">“We have the responsibility to fully understand how software works to be able to design for it.”</p>
		</a>

<!-- 		<a href="http://blog.tackmobile.com/article/prototyping-framer-js/" target="_blank">
			<h5>Prototyping with Framer</h5> 
			<div class="author">by Tackmobile</div>
			<p class="small">“Prototyping is a great way to explore ideas and learn from watching your designs be used by others.”</p>
		</a> -->

		<a href="https://blog.grandcentrix.net/motion-is-emotion/" target="_blank">
			<h5>Motion is Emotion</h5> 
			<div class="author">by Brian Louis Ramirez</div>
			<p class="small">“Whether a physically realistic bounce or an amusing animation – movement brings apps to life.”</p>
		</a>
	</section>
</div>


{% endblock body %}	