{% extends "subpage.html" %}
{% block title %}Framer - Educate{% endblock %}
{% block currentpage %}class="subpage teach"{% endblock currentpage %}


{% block pageheader %} <!--Header Text-->
<header class="page-header">
	<img src="/static/images/teach/teach-header-bg.jpg" srcset="/static/images/teach/teach-header-bg@2x.jpg 2x">
	<div class="content-inner">
		<h1>Teach Framer</h1>
		<h2 class="col-2">Discover where Framer is being taught, and how you can too.</h2>
	</div>
</header> 
{% endblock pageheader %}

{% block body %}
<div class="teach-logo-section clearfix">
	<h4>Start teaching Framer</h4>

	<p class="col-2 subtitle">
	Framer is currently being taught at universities, conferences and academies across the globe. 
	</p>

	<div class="teach-logo-string clearfix">
		<section class="col-2">
			<img class="logo-berkeley" src="/static/images/teach/logo-berkeley.png" draggable="false">
			<img class="logo-ga" src="/static/images/teach/logo-ga.png" draggable="false">
		</section>
	</div>
</div>

<div class="why-teach-framer clearfix">

	<section class="col-4">
		<figure class="icon-meetups"></figure>
		<h4>Meetups</h4>
		<p class="small">
		If you’re a prototyper, you can help others learn how to prototype by organizing a local meetup.
		</p>
		<ul>
			<li>We can help with promotion</li>
			<li>We can review your assets</li>
		</ul>
	</section>

	<section class="col-4">
		<figure class="icon-conferences"></figure>
		<h4>Conferences</h4>

		<p class="small">
		Prototyping is a popular topic. Tools like Framer are exciting to include in talks about interaction design.
		</p>
		<ul>
			<li>We can help find speakers</li>
			<li>We can give presentations</li>
		</ul>
	</section>

	<section class="col-4">
		<figure class="icon-companies"></figure>
		<h4>Companies</h4>

		<p class="small">
		Companies that embrace prototyping are able to work more efficiently and attract interaction designers.</p>
		<ul>

			<li>We can review courses</li>
			<li>Volume licenses available</li>
		</ul>
	</section>

	<section class="col-4">
		<figure class="icon-universities"></figure>
		<h4>Universities</h4>
		<p class="small">
		Framer is a great tool to help teach User Interface Design and Development courses at Universities.</p>
		<ul>
			<li>We can connect universities</li>
			<li>Education pricing available</li>
		</ul>
	</section>
</div>

<div class="center">
	<h4>Interested in teaching Framer? Let us know.</h4>
	<a class="btn blue" href="support@framerjs.com">Get in touch</a>
</div>

<hr>

<div class="resources">
	<section class="col-2">
		<h4>Event slides</h4>
		<a href="https://speakerdeck.com/stakes/prototyping-with-framer" target="_blank">
			<h5>Prototyping with Framer</h5> 
			<div class="author">by Jay Stakelon</div>
			<p class="small">“Start merely curious and finish having prototyped responsive interactions and a basic mobile app.”</p>
		</a>

		<a href="https://speakerdeck.com/stakes/designing-with-code" target="_blank">
			<h5>Designing with Code</h5> 
			<div class="author">by Jay Stakelon</div>
			<p class="small">“Creators need an immediate connection to what they're creating.”</p>

		</a>

		<a href="http://nlevin.com/framer/" target="_blank">
			<h5>Prototyping with Framer</h5> 
			<div class="author">by Noah Levin</div>
			<p class="small">“We have the look, let's dictate the feel. We don't have many great tools to do this easily.”</p>
		</a>

		<a href="http://www.slideshare.net/tackmobile/prototyping-with-framerjs">
			<h5>Prototyping with Framer</h5> 
			<div class="author">by Tackmobile</div>
			<p class="small">“Presentation on prototyping with Framer. Originally given at Devner Full Stack Meetup October 2014”</p>
		</a>
	</section>

	<section class="col-2">
		<h4>Articles</h4>
			<a href="http://thatedchao.com/published/2014/09/27/framer.html" target="_blank">
			<h5>Framer Experiments</h5> <div class="author">by Ed Chao</div>
			<p class="small">“Experiments that hopefully can serve as a resource of projects to help others in their Framer explorations.”</p>
		</a>

		<a href="https://medium.com/@drocarmo/why-framer-js-matters-93eb1206e606" target="_blank">
			<h5>Why Framer Matters</h5> 
			<div class="author">by Pedro Carmo</div>
			<p class="small">“We have the responsibility to fully understand how software works to be able to design for it.”</p>
		</a>

		<a href="http://blog.tackmobile.com/article/prototyping-framer-js/" target="_blank">
			<h5>Prototyping with Framer</h5> 
			<div class="author">by Tackmobile</div>
			<p class="small">“Prototyping is a great way to explore ideas and learn from watching your designs be used by others.”</p>
		</a>

		<a href="https://blog.grandcentrix.net/motion-is-emotion/" target="_blank">
			<h5>Motion is Emotion</h5> 
			<div class="author">by Brian Louis Ramirez</div>
			<p class="small">“Whether a physically realistic bounce or an amusing animation – movement brings apps to life.”</p>
		</a>
	</section>
</div>


{% endblock body %}	