{% extends "page.html" %}
{% block title %}Framer - Learn Basics{% endblock %}
{% block islearn %}active{% endblock %}
{% block basics %}active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<li><a href="/learn/basics">Layers</a></li>
		<li><a href="/learn/basics/animation">Animation</a></li>
		<li><a href="/learn/basics/states">States</a></li>
		<li><a href="/learn/basics/events">Events</a></li>
		<li><a href="/learn/basics/dragging">Dragging</a></li>
		<li><a class="active" href="/learn/basics/scrolling">Scrolling</a></li>
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block pagetitle %} <!--Header Text-->
<h1>Learn Framer</h1>
<h6 class="col-2">Start prototyping with Framer. Learn how easy it is to define animations and interactions in CoffeeScript.</h6>
{% endblock pagetitle %}


{% block body %}
{% filter pygmentify %}
{% filter markdown %}
#### Scrolling
A layer is just a rectangle that draws stuff in the browser. It has a set of basic properties like x, y, width and height. It also has other properties like opacity, scale, and blur. Layers can display images, text, or both.
<a name="basics"></a> 
<pre lang="coffeescript">
# Create a new layer
myLayer = new Layer width:128, height:128
myLayer.x = 100
</pre>

<hr>

#### Hierarchy
Layers can contain other layers. We call these subLayers. The parent of a layer is called a superLayer. Layers inherit from their superLayers. For example, if you change the opacity of a layer to 0.5, all subLayers will have opacity of 0.5.

A layer's coordinates are based on its superLayer. So with an x and y of zero, a layer gets placed in the top left corner of its superLayer.

You can manipulate the layer hierarchy as you need to.

<pre lang="coffeescript">
# Adds a subLayer to a layer
parentLayer.addSubLayer(childLayer)
</pre>

{% endfilter %}	
{% endfilter %}
{% endblock body %}	