{% extends "learnpage.html" %}
{% block title %}Framer - Learn Basics{% endblock %}
{% block currentpage %}class="subpage learn"{% endblock currentpage %}
{% block islearn %}active{% endblock %}
{% block basics %}active{% endblock %}
{% block basics2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<li><a href="/learn/basics">Layers <div class="small">Hierarchy and Properties</div></a></li>
		<li><a href="/learn/basics/animation">Animation <div class="small">Curves and Timing</div></a></li>
		<li><a href="/learn/basics/states">States <div class="small">Sets of properties</div></a></li>
		<li><a href="/learn/basics/events">Events <div class="small">Layer interactions</div></a></li>
		<li><a href="/learn/basics/dragging">Dragging <div class="small">Draggable layers</div></a></li>
		<li class="active"><a href="/learn/basics/scrolling">Scrolling <div class="small">Scrollable layers</div></a></li>
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### Scrolling

You can scroll a layer contained within a superLayer, as long as its height or width exceeds that of its parent.

<div class="with-illustration">
<pre lang="coffeescript">
# The superLayer
layerA = new Layer 
	height: 100

# The subLayer
layerB = new Layer 
	height: 200, superLayer: layerA

# Enable scrolling on the superLayer
layerA.scroll = true
</pre>
<img class="code-illustration-scrolling" src="/static/images/learn/scrolling.gif" srcset="/static/images/learn/scrolling@2x.gif 2x" draggable="false">
</div>


Alternatively, you can enable scrolling for a specific direction only:

<pre lang="coffeescript">
layerA.scrollHorizontal = true
layerA.scrollVertical = true
</pre>

There is one scrolling event, which you can also use to retreive the scrolling positions of a layer.

<pre lang="coffeescript">
# Scroll Event
layerA.on Events.Scroll, ->
	print layerA.scrollX
	print layerA.scrollY
</pre>


<section class="summary">
<figure class="icon-learn-summary"></figure><h3>Summary</h3>
<ul>
	<li>Superlayers with larger subLayers can be scrolled </li>
	<li>You can define a specific scroll direction </li>
	<li>Framer has scrolling Event </li>
</ul>
</section>

<section class="page-navigation">
    <a class="previous" href="/learn/basics/dragging">
        <h5>Previous:</h5>
        <figure class="icon-learn-previous-active"></figure>
        <h6 class="last">Dragging</h6> 
    </a> <!--next-->
</section>

{% endfilter %}	
{% endfilter %}
{% endblock body %}	