{% extends "learnpage.html" %}
{% block title %}Framer - Learn Basics{% endblock %}
{% block currentpage %}class="subpage learn"{% endblock currentpage %}
{% block islearn %}active{% endblock %}
{% block basics %}active{% endblock %}
{% block basics2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<li><a href="/learn/basics">Layers <div class="small">Hierarchy and Properties</div></a></li>
		<li class="active"><a href="/learn/basics/animation">Animation <div class="small">Curves and Timing</div></a></li>
		<li><a href="/learn/basics/states">States <div class="small">Sets of properties</div></a></li>
		<li><a href="/learn/basics/events">Events <div class="small">Layer interactions</div></a></li>
		<li><a href="/learn/basics/dragging">Dragging <div class="small">Draggable layers</div></a></li>
		<li><a href="/learn/basics/scrolling">Scrolling <div class="small">Scrollable layers</div></a></li>
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}

### Animation

Most properties of a layer can be animated: x, y, width, height, scale, opacity, etc. You can animate multiple properties at the same time.

<pre lang="coffeescript">
layerA.animate
	properties:
		opacity: 0.5
</pre>

##### Timing

Except when using spring curves, you can also define the duration of an animation and how often it repeats. 

<pre lang="coffeescript">
layerA.animate
	properties:
		opacity: 0.5
	curve: "ease"
    time: 1
</pre>

##### Curves

Animations optionally take a curve that describes the type of animation. You can use pre-defined curves like 'linear' or 'ease-in', custom ones, or spring animations. An overview of different curves:

<section class="clearfix">
<div class="col-4">
<img class="curve-animation" src="/static/images/learn/animation-linear.gif" draggable="false">
<img class="curve"src="/static/images/learn/animation-curve-linear.png" srcset="/static/images/learn/animation-curve-linear@2x.png 2x" draggable="false">

<div class="without-linenumbers without-border">
<pre lang="coffeescript">
# Linear curve
curve:"linear"
</pre>
</div>
</div> <!--col-4-->

<div class="col-4">
<img class="curve-animation" src="/static/images/learn/animation-easeinout.gif" draggable="false">
<img class="curve"src="/static/images/learn/animation-curve-easeinout.png" srcset="/static/images/learn/animation-curve-easeinout@2x.png 2x" draggable="false">

<div class="without-linenumbers without-border">
<pre lang="coffeescript">
# Easing curve
curve:"ease-in-out"
</pre>
</div>
</div> <!--col-4-->

<div class="col-4">
<img class="curve-animation" src="/static/images/learn/animation-spring.gif" draggable="false">
<img class="curve"src="/static/images/learn/animation-curve-spring.png" srcset="/static/images/learn/animation-curve-spring@2x.png 2x" draggable="false">

<div class="without-linenumbers without-border">
<pre lang="coffeescript">
# Easing curve
curve:"spring(200,15,0)"
</pre>
</div>
</div> <!--col-4-->
</section> <!--clearfix-->

<section class="summary">
<figure class="icon-learn-animation"></figure><h3>Summary</h3>
<ul>
    <li>Most properties of layers can be animated </li>
    <li>Animations can be timed and repeated </li>
    <li>Framer contains various animation curves, including spring physics </li>
</ul>
</section>

<hr>

<section class="page-navigation">
	<a class="previous" href="/learn/basics/layers">
		<h5>Previous:</h5>
		<figure class="icon-learn-previous"></figure>
		<h6>Layers</h6> 
	</a> 
	<a class="next" href="/learn/basics/states">
		<h5>Next:</h5>
		<h6>States</h6> 
		<figure class="icon-learn-next-active"></figure>
	</a> 
</section>

{% endfilter %}	
{% endfilter %}
{% endblock body %}	