{% extends "learnpage.html" %}
{% block title %}Framer - Learn Basics{% endblock %}
{% block currentpage %}class="subpage learn"{% endblock currentpage %}
{% block islearn %}active{% endblock %}
{% block basics %}active{% endblock %}
{% block basics2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<li><a href="/learn/basics">Layers <div class="small">Hierarchy and Properties</div></a></li>
		<li class="active"><a href="/learn/basics/animation">Animation <div class="small">Curves and Timing</div></a></li>
		<li><a href="/learn/basics/states">States <div class="small">Sets of properties</div></a></li>
		<li><a href="/learn/basics/events">Events <div class="small">Layer interactions</div></a></li>
		<li><a href="/learn/basics/dragging">Dragging <div class="small">Draggable layers</div></a></li>
		<li><a href="/learn/basics/scrolling">Scrolling <div class="small">Scrollable layers</div></a></li>
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}

### Animation

Most properties of a layer can be animated: x, y, width, height, scale, opacity, etc. You can animate multiple properties at the same time.

Animations optionally take a curve that describes the type of animation. You can use pre-defined curves like 'linear' or 'ease-in', custom ones, or spring animations.

<pre lang="coffeescript">
 layerA.animate
        properties:
            opacity: 0.5
</pre>

##### Timing

Except when using spring curves, you can also define the duration of an animation and how often it repeats. 

<pre lang="coffeescript">
 layerA.animate
        properties:
            opacity: 0.5
        curve: "ease"
        time: 1
</pre>

##### Curves

You can define pre-defined animation curves like 'linear' or 'ease-in', spring animations and more.

<pre lang="coffeescript">
# Default
curve: "linear"

# Easing curves
curve: "ease"
curve: "ease-in-out"

# Spring curve
curve: "spring(600,30,0)"
</pre>

{% endfilter %}	
{% endfilter %}
{% endblock body %}	