p {

}
.align-right {
	max-width: 750px;
	float: right;
	clear:both;
}
// Clearfix wrapper
.content-inner:after {
  content: "";
  display: table;
  clear: both;
}
.sidebar {
	float:left;
	position: absolute;
	max-width: 210px;
}
.sidebar.sticky {
	position: fixed;
	top:$space64;
}
.sidebar li+li {
	margin-top: $space8;
}
.sidebar a {
	color: #999;
}
.sidebar a.active {
	color: $blue;
}
@media screen and (max-width:1020px) {
	.align-right {
		max-width: 100%;
		float:none;
		clear:auto;
	}
	.sidebar {
		display: none;
	}
}
@media screen and (max-width: 960px) {
	.content-inner {
		max-width: 960px;
	}
}