.align-right {
	max-width: 750px;
	float: right;
	clear:both;
}
// Clearfix wrapper
.content-inner:after {
  content: "";
  display: table;
  clear: both;
}
.sidebar {
	float:left;
	position: absolute;
	max-width: 210px;
}
.sidebar.sticky {
	position: fixed;
	top:128px;
}
.sidebar li+li {
	margin-top: $space8;
}
.sidebar a,
.sidebar .title {
	color: $blue;
	text-transform: uppercase;
	font-weight: 600;
	font-size:12px;
	letter-spacing: 0.5px;
}
.sidebar .title {
	color: $black;
}
@media screen and (max-width:1020px) {
	.align-right {
		max-width: 100%;
		float:none;
		clear:both;
	}
	.sidebar {
		display: none;
	}
}
@media screen and (max-width: 980px) {
	.content-inner {
		max-width: 960px;
	}
}