p {

}
.align-right {
	max-width: 768px;
	float: right;
	clear:both;
}
// Clearfix wrapper
.content-inner:after {
  content: "";
  display: table;
  clear: both;
}
.sidebar {
	float:left;
	position: absolute;
}
.sidebar.sticky {
	position: fixed;
	top:$space64;
}
.sidebar ul li+li {
	margin-top: $space8;
}

@media screen and (max-width:1040px) {
	.align-right {
		max-width: 100%;
		float:none;
		clear:auto;
	}
	.sidebar {
		display: none;
	}
}