.examples {
	background: $header;
}
.examples .container {
	padding-bottom: 64px;
}
.examples-header {
	background: $header;
	color: #fff;
	padding-top: 40px;
	margin-top: $space64;
	position: relative;
}

// Grid
.examples .col-4:nth-child(4n) {
	margin-right: 0;
}
// Title
.examples-header section {
	float: left;
}
.examples h3 {
	margin-bottom: -8px;
}
.examples p {
	color: $text-on-dark;
	margin-bottom: 0;
}
.examples-header p {
	opacity: .8;
}
.examples figure img {
	width: 210px;
	height: 210px;
	border-radius: 3px;
}
.examples figure p {
	margin-top: $space16;
	margin-bottom: 4px;
	margin-bottom: 2px; // For line-height
	color: $text-on-dark;
	line-height: 1.4;
}
// Titles
.examples figure strong {
	margin-bottom: 4px;
	font-weight: 600;
	display: block;
	color: white;
	font-size: 13px;
}
// Authors
.examples figure .author,
.examples figure a {
	color: $blue80;
	font-size: 12px;
	font-weight: 600;
}
.examples figure a {
	@include transition(all, 0.2s, ease);
}
//Hover
.examples figure a:hover {
	opacity: .8;
}
// Spacing
.examples .col-4 {
	margin-bottom: $space48;
}

// Submit icon
.submit {
	color: #fff;
	float: right;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,.1);
	margin-top: 28px;
}
.submit img {
	margin-right: 8px;
	float: left;
	position: relative;
	top: 1px;
}
.submit:hover {
	box-shadow: none;
	background: rgba(255,255,255,0.1);
}
.submit:active {
	background: rgba(255,255,255,0.2);
}

// Examples Media Queries
@media screen and (max-width:980px) {
	.examples .content-inner {
		max-width: 810px;
	}
	.examples .col-4 {
		max-width:210px;
		margin-right: 60px;
	}
	// Reset
	.examples .col-4:nth-child(2n) {
		margin-left:0;
	}
	.examples .col-4:nth-child(2) {
		margin-bottom:0;
	}
	.examples .col-4:nth-child(4n) {
		margin-right: 60px;
	}
	// 3 Rows
	.examples .col-4:nth-child(3n) {
		margin-right: 0;
	}
}
@media screen and (max-width:880px) {
	.examples .content-inner {
		max-width: 750px;
	}
	.examples .col-4 {
		margin-right: 30px;
	}
	// Reset
	.examples .col-4:nth-child(2n) {
		margin-left:0;
	}
	.examples .col-4:nth-child(2) {
		margin-bottom:0;
	}
	.examples .col-4:nth-child(4n) {
		margin-right: 30px;
	}
	// 3 Rows
	.examples .col-4:nth-child(3n) {
		margin-right: 0;
	}
}
@media screen and (max-width:760px) {
	.examples .content-inner {
		max-width: 520px;
	}
	// Added specificity to avoid clash with 3n
	.examples .gallery .col-4 {
		margin-right: 40px;
	}
	.examples .gallery.col-4:nth-child(4n) {
		margin-right: 0;
	}
	.examples .col-4:nth-child(2n) {
		margin-left: 0;
		margin-right: 0;
	}
	.examples .col-4:nth-child(3) {
		margin-right: 40px;
	}

}



