.examples {
	background: $header;
}
.examples .container {
	padding-bottom: 32px;
}
.examples-header {
	background: $header;
	color: #fff;
	padding-top: 40px;
	margin-top: $space64;
	position: relative;
}
.examples h3 {
	margin-bottom: -8px;
}
.examples h6 {
	color: $text-on-dark;
	opacity: .8;
}
.examples figure img {
	width: 210px;
	height: 210px;
}
.examples figure p {
	margin-top: $space16;
	margin-bottom: $space8;
	margin-bottom: 6px; // For line-height
	color: $text-on-dark;
	line-height: 1.4;
}
// Titles
.examples figure strong {
	margin-bottom: 8px;
	font-weight: 600;
	display: block;
	color: white;
	font-size: 13px;
}
// Authors
.examples figure a {
	color: $blue80;
	font-size: 12px;
	font-weight: 600;
	@include transition(all, 0.2s, ease);
}

//Hover
.examples figure a:hover {
	opacity: .8;
}
// Spacing
.examples .gallery div+div {
	margin-top: $space48;
}