.examples {
	background: $header;
}
.examples .container {
	padding-bottom: 64px;
}
.examples-header {
	background: $header;
	color: #fff;
	padding-top: 40px;
	margin-top: $space64;
	position: relative;
}
// Title
.examples-header section {
	float: left;
}
.examples h3 {
	margin-bottom: -8px;
}
.examples p {
	color: $text-on-dark;
	margin-bottom: 0;
}
.examples-header p {
	opacity: .8;
}
.examples figure img {
	width: 210px;
	height: 210px;
}
.examples figure p {
	margin-top: $space16;
	margin-bottom: 4px;
	margin-bottom: 2px; // For line-height
	color: $text-on-dark;
	line-height: 1.4;
}
// Titles
.examples figure strong {
	margin-bottom: 4px;
	font-weight: 600;
	display: block;
	color: white;
	font-size: 13px;
}
// Authors
.examples figure a {
	color: $blue80;
	font-size: 12px;
	font-weight: 600;
	@include transition(all, 0.2s, ease);
}

//Hover
.examples figure a:hover {
	opacity: .8;
}
// Spacing
.examples .gallery div+div {
	margin-top: $space48;
}

// Submit icon
.submit {
	color: #fff;
	float: right;
	box-shadow: inset 0 0 0 1px rgba(255,255,255,.1);
	margin-top: 28px;
}
.submit img {
	margin-right: 8px;
	float: left;
	position: relative;
	top: 1px;
}
.submit:hover {
	box-shadow: none;
	background: rgba(255,255,255,0.1);
}
.submit:active {
	background: rgba(255,255,255,0.2);
}