// All selectors are prefixed with .home
.header {
	background: $header;
	color: #fff;
	height: 740px; // 800 - 60
	margin-top:64px;
	overflow: hidden;
	position: relative;
	padding-top:$space40;
}
.header p.copy {
	opacity: .75;
	font-size: 10px;
	margin-bottom: 16px;
}
.ss-framer {
	max-width: 1024px;
	max-height:440px;
	position: absolute;
	bottom: 0; left:50%;
	margin-left: -512px;
	width:100%;
}
.ss-framer img {
	box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}
.ss-video {
	position: absolute;
	top:calc(50% - 96px);
 	left:calc(75% - 70px);
	width:140px; height: auto;
}
.col-4 p {
	margin-bottom: 0;
}
// Vertical Spacing ------------------------------------
.footer h1 {
	margin-top: $space64;
}
.header {
	margin-bottom: $space72;
}
.header .btn {
	margin-bottom: $space16;
}
.screenshot-copy {
	margin-top: $space48;
}
.examples {
	margin-bottom: calc(#{$space80} * 2);
	margin-top: calc(#{$space80} + #{$space80});
}
.video-banner {
	margin-bottom: $space64;
}
.examples-caption, 
.logo-string, 
.feature-banners,
.feature-summary {
	margin-bottom: $space80;
}
// Icons infront of H5 Headlines
h5 figure {
	display: inline-block;
	margin-right: $space16;
}

// Logo string
.logo-string {
	text-align: center;
	color: #D3D8E1;
}
.logo-string figure {
	display: inline-block;
	position: relative;
	margin-bottom: 16px;
}
.logo-string figure+figure {
	margin-left: 80px;
}
// Vertical centering
.logo-google     { top:4px; }
.logo-twitter    { top:2px; }
.logo-facebook   { top:-2px; }
.logo-apple      { top:2px; }
.logo-instagram  { top:5px; }
.logo-spotify    { top:2px; }
.logo-adobe      { top:2px; }
.logo-groupon    { top:-4px; }
.logo-pinterest  { top:2px; }
.logo-slack      { top: 5px; }
.logo-soundcloud { top: 4px; }

// Examples Block
.examples {
	background: $examples-block;
	height: 560px;
	position:relative;
	padding: 0;
}
.examples a:hover {
	opacity: 1;
}
.examples .devices {
	margin: 0 auto;
	margin-left: -1000px;
	width:2000px; 
	height:560px;
	left: 50%;
	position: relative;
}
.examples .devices a {
	position: absolute; 
	@include transition(all, .16s, ease);
}
a.device-macbook,
a.device-htc,
a.device-iphone6,
a.device-iphone5c,
a.device-nexus9 {
	height: auto;
	top: 40px;
}
// Device video
.device-video {
	position: absolute;
	top:110px; left:50%;
	width:253px; margin-left:-125px;
}
// Sizes
a.device-macbook img { 
	width: 500px; 
}
a.device-htc img { 
	width: 238px; 
}
a.device-iphone6 img  { 
	width: 369px;
}
a.device-iphone5c img  { 
	width: 239px; 
}
a.device-nexus9 img {
	width: 501px;
}
// Positioning
a.device-macbook{ 
	top: 160px;
	left: 0px; 
}
a.device-htc{ 
	left: 530px; 
}
a.device-iphone6 {
	left: 50%; margin-left: -184px;
	z-index: 50; 
	top:-94px;
}
a.device-iphone5c { 
	right: 530px;
}
a.device-nexus9 {
	top: 120px;
	right: 0;
}
// Video Banner
.video-banner {
	background: $header url("/static/images/home/video-bg.png") no-repeat;
	height: 440px;
	width: 100%;
	display: block;
	border-radius: 3px;
	text-align: center;
	cursor: pointer;
}
.video-banner section {
	max-width: 440px;
	margin: 0 auto;
	padding-top:100px;
}
.video-banner img {
	margin-bottom: 24px;
}
.video-banner h4 {
	color: #fff;
	line-height: 1.4;
}
// Video Overlay
.video-overlay {
	position: fixed;
	top:0; 
	left:0; 
	width:100%;
	height:100%;
	background: rgba(255,255,255,0.95);
	z-index: 900;
	text-align: center;
	display: none;
}
// Video Wrapper
.video-position {
	max-width: 880px;
	margin: 0 auto;
	position: relative;
	top: 50%;
	display: block;
	margin-top: -220px;
}
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; 
	height: 0;
}
// Video iFrame
.video-overlay iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
// Close Icon
.video-overlay img {
	cursor: pointer;
	position: absolute;
	top: 32px;
	left: 32px;
	height: 30px;
	width: 30px;
}
.video-overlay.show {
	display: block;
}
// Feature Banners
.feature-banners {
	text-align: center;
}
.feature-banners a {
	position: relative;
	height: 480px;
	color: #fff;
	border-radius: 3px;
	overflow: hidden;
}
.feature-banners section {
	position: absolute;
	top: 30%;
	left: 50%;
	width: 80%;
	margin-left: -40%;
	z-index: 100;
}
.feature-banners h5 {
	margin-bottom: $space24;
}
.feature-banners div {
	display: inline-block;
	@include transition(all, 0.2s, ease);
}

// Hover
// .feature-banners a:after {
// 	content:""; position: absolute; top:0; left:0;
// 	background: rgba(0,0,0,0);
// 	width:100%; height:100%;
// 	@include transition(background, .2s, ease);
// }
// .feature-banners a:hover:after {
// 	background: rgba(0,0,0,0.2);
// }
// Feature Summary
.feature-summary li+li {
	margin-top: $space16;
}

// List fix
.content-inner ul li {
	list-style: none;
	padding:0;
	left:0;
}
// Media Queries
@media screen and (max-width:1080px) {
	.logo-string figure+figure {
		margin-left: 60px;
	}
	.feature-banners a {
		height:420px;
	}
	.feature-banners section {
		top: 30%;
		left: 50%;
		width: 90%;
		margin-left: -45%;
	}
	.banner-importing {
		background-size: 100%;
		background-position: center 320px;
	}
}
@media screen and (max-width:1030px) {
	.header {
		height: 720px;
	}
	.ss-framer {
		max-width: 980px; // scale by 0.957
		margin-left: -490px;
		padding: 0 $space16;
		box-shadow: none;
	}
	.ss-video {
		top:calc(50% - 88px);
	 	left:calc(75% - 73px);
		width: 130px;	
	}
	.ss-framer img {
		position: relative;
		bottom: -4px;
	}
}
@media screen and (max-width:980px) {
	.header {
		height:600px;
	}
	.ss-framer {
		max-width: 720px; // scale 0.7
		margin-left: -360px;
	}
	.ss-video {
		display: none;
	}
	// ****************
	// Vertical spacing
	.examples-caption, 
	.logo-string, 
	.feature-banners,
	.feature-summary {
		margin-bottom: $space40;
	}
	.logo-string figure {
		margin-bottom: $space24;
	}
	.feature-banners .col-2 {
		max-width: 100%;
	}
	.feature-banners .col-2 + .col-2 {
		margin-top: $space16;
	}
	.feature-banners a {
		height:360px;
	}
	.feature-banners section {
		margin-top: -$space64;
		width: 64%; margin-left: -32%;
	}
	.banner-importing {
		background-size: 518px 184px;
		background-position: center 220px;
	}
	.banner-mirror {
		background-position: 50% 80%;
		background-size: 100%;
	}
	// Logo string
	.logo-string figure+figure {
		margin-left: 30px;
	}
}
@media screen and (max-width: 736px) {
	.header {
		padding-bottom:45%;
		height:auto;
	}
	.ss-framer {
		max-width: 100%;
		margin-left: 0; left:0
	}
	.ss-video {
		display: none;
	}
	.examples {
		height: calc(480px * 0.8);
	}
	.devices {
		top: -49px;
	}
	a.device-left,
	a.device-mid,
	a.device-right { 
		@include scale(0.8)
	}
	a.device-left {
		left:-64px;
	}
	a.device-right {
		right:-64px;
	}
	.device-video {
		display: none;
	}
	.feature-banners section {
		margin-top: -$space64;
		width: 80%; margin-left: -40%;
	}
	// ****************
	// Vertical spacing T ~ 48px
	.examples {
		margin-bottom: calc(#{$space80} + #{$space40});
		margin-top: calc(#{$space80} + #{$space40});
	}
	.header {
		margin-bottom: $space48;
	}
}
@media screen and (max-width:660px) {
	// ****************
	// Vertical spacing
	.examples {
		height: calc(480px * 0.6);
		margin-bottom: 100px;
	}
	.devices {
		top: -99px;
	}
	a.device-left,
	a.device-mid,
	a.device-right { 
		@include scale(0.6);
	}
	a.device-left {
		left:-$space32;
	}
	a.device-right {
		right:-$space32;
	}
}
@media screen and (max-width: 560px) {
	.header {
		margin-top: 0; // Nav is now pos:relative instead of absolute
		margin-bottom: $space32;
		padding-top: 120px;
	}
	.ss-framer {
		margin-left: 0;
		left:0;
	}
	h5 figure {
		margin-bottom: -2px;
		margin-right: 12px;
	}
	.examples {
		margin-bottom: $space88;
	}
	.examples-caption {
		margin-bottom: $space32;
	}
	footer.footer img {
		margin-bottom: $space8;
		height: 64px;
		width: 64px;
	}
	// Feature list
	.feature-summary {
		margin-bottom: $space24;
	}
	// Logo string
	.logo-string figure {
		 @include scale(0.75);
		 margin-bottom: 8px;
	}
	.logo-string figure+figure {
		margin-left: 0;
	}
}
@media screen and (max-width: 480px) {
	.header {
		margin-bottom: 0;
		padding-top: 110px;
	}
	.screenshot-copy {
		margin-top: $space24;
	}
	.header .btn {
		margin-bottom: 8px;
	}
	.header p.copy {
		margin-bottom: 16px;
		font-size: 8px;
	}
	a.device-left,
	a.device-right {
		@include scale(0.44);
	}
	a.device-mid  {
		top:-60px; 
		margin-left:-150px;
		@include scale(0.56);
	}
	a.device-mid img {
		max-width: inherit;
		width: 300px;
	}
	a.device-left {
		left: -72px;
	}
	a.device-right {
		right: -72px;
	}
	// Feature Banners (Mirror & Importing)
	.feature-banners a {
		height:256px;
	}
	.feature-banners section {
		margin-top: -$space32;
		width: 84%;
		margin-left: -42%;
	}
	.feature-banners h5 {
		font-size: 16px;
	}
	.banner-importing {
		background-size: 100%;
		background-position: center 160px;
	}
	.banner-mirror {
		background-position: 50% 80%;
		background-size: 100%;
	}
	// Feature summary titles
	.feature-summary h5 {
		margin-bottom: $space16;
	}
	// ****************
	// Vertical spacing M
	.examples {
		margin-top: $space64;
		margin-bottom: $space56;
	}
	.feature-summary li+li {
		margin-top: 12px;
	}
	.logo-string figure {
		 @include scale(0.6);
		 margin-bottom: 4px;
	}
	.logo-string figure+figure {
		margin-left: -4px;
	}

}
@media screen and (max-width: 440px) {
	.banner-importing {
		background-size: 120%;
		background-position: center 168px;
	}
	.banner-mirror {
		background-size: 120%;
		background-position: center -64px;
	}
	.feature-banners section {
		margin-top: -$space40;
	}
	.feature-banners h5 {
		margin-bottom: $space16;
	}
}
