.header {
	@include framer-gradient; 
	color: #fff;
	height: 680px;
	margin-top:72px;
	overflow: hidden;
	position: relative;
	padding-top:$space48;
}

.ss-framer img {
	max-width: 1046px;
	max-height:448px;
	position: absolute;
	bottom: 0; left:50%;
	margin-left: -523px;
	width:100%;
}

// Spacing
.footer h1 {
	margin-top: $space64;
}
.header,
.footer h2 {
	margin-bottom: $space72;
}
.header h1 {
	margin-bottom: $space24;
}
// Block Spacing
.framer-overview {
	margin-bottom: $space64;
}
.screenshot-copy {
	margin-top: $space48;
}

.examples {
	margin-bottom: $space80;
}
// ---------------------
// Studio Screenshot Section
.screenshot img.studio {
	max-width: 708px; 
	width: 100%;
}
.screenshot img.studio-600 {
	display: none;
}
.screenshot .video-wrapper {
	width: 354px;
	position: absolute; 
	top: 0; left: 50%; 
	height: 100%;
}
.screenshot video {
	position: absolute; 
	max-width: 111px;
	top: 159px; left: 114px;
}

// Screenshot Copy
.screenshot-copy h3 {
	margin-bottom: 0;
}
.screenshot-copy h6 {
	color: $text;
}

// Framer Overview
.framer-overview h5:before {
	content:""; display:inline-block;
	background: url("/static/images/home/sprite-icons-home.png") no-repeat;
	height:16px; width:16px; overflow: hidden;
	position:relative;
	margin-right:$space16;
}
.framer-overview h5.green:before {
	background-position: -16px 0;
}
.framer-overview h5.purple:before {
	background-position: -32px 0;
}
.framer-overview h5.cyan:before {
	background-position: -48px 0;
}

// Used-By Block
.used-by {
	text-align: center;
	color: #D3D8E1;
}
.used-by img {
	position: relative;
	vertical-align: middle;
	height: auto;
}
.used-by img+img {
	margin-left: 21px;
}
.used-by img.facebook, #used-by img.apple { top: -2px; }
.used-by img.google, #used-by img.twitter { top: 2px; }
.used-by img.facebook { width: 99px; }
.used-by img.dropbox { width: 32px; }
.used-by img.google { width: 88px; }
.used-by img.apple { width: 26px; }
.used-by img.groupon { width: 111px; }
.used-by img.twitter { width: 35px; }
.used-by img.stripe { width: 60px; }
.used-by img.spotify { width: 96px; }
.used-by img.adobe { width: 101px; }
.used-by img.instagram { width: 106px; top: 4px; }

// Examples Block
.examples {
	@include purple-gradient;
	height: 480px;
	position:relative;
	padding: 0;
}

.examples a:hover {
	opacity: 1;
}
.examples .devices {
	width:755px;
	height:480px;
	margin: 0 auto;
	position: relative;
}
.examples .devices a {
	position: absolute; 
}
a.device-left img { 
	width: 266px; 
}
a.device-mid img  { 
	width: 326px; 
}
a.device-right img  { 
	width: 274px; 
}
a.device-left{ 
	left: 0; 
	top:-10px;
}
a.device-mid {
	left: 50%; margin-left: -151px;
	z-index: 50; 
	top:-60px;
}
a.device-right { 
	right: 0;
	top:-10px;
}

// Interaction block
.interaction {
	background: #22252C;
	padding: 100px 0 140px 0;
	margin: 80px 0 0 0;
	position: relative;
}
.interaction h1 {
	color:#fff;
}
.interaction p {
	color: #818B9E; 
}
.interaction h2 {
	color: #9095A1;
	margin-bottom: $space32;
}
.interaction h5 {
	color: #fff;
	font-weight: 400;
}
.interaction .ss-half {
	background: url('/static/images/ss-code.png') no-repeat;
	width: 100%; height: 657px;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
	#interaction .ss-half {
		background: url('/static/images/ss-code@2x.png') no-repeat;
		background-size: cover;
	}
}
.interaction li img,
.viewer li img {
	float: left; position: relative; 
	top: 4px;
	margin-right: $space16; 
}

// Viewer block
.viewer {
	padding: 100px 0 40px 0; /* The extra 20 is to fix the overflow bug */
	margin-bottom: 0px;
	position: relative;
	overflow: visible;
}
.viewer h1 {
	color: #111;
}
.viewer h2 {
	margin-bottom: $space32;
}
.viewer h5 {
	color: #7DDC16;
	font-weight: 400;
}
.viewer li:nth-child(2) h5 {
	color: $blue;
}
.viewer li:nth-child(3) h5{
	color: #917BDF;
}
.viewer li:last-child h5{
	color: $graphite;
}
.viewer .ss-half {
	background: url('/static/images/ss-viewer.png') no-repeat; 
	width: 100%; height: 659px;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
	#viewer .ss-half {
		background: url('/static/images/ss-viewer@2x.png') no-repeat;
		background-size: cover;
	}
}

// Footer features
.footer-features li{
	list-style: none; 
	color: $graphite60;
	white-space: nowrap;
}
.footer-features ul {
	margin-bottom: 0;
}
.footer-features section ul li:before {
	content: url("/static/images/icon-check.png");
	display: inline-block; margin-right: $space8; position: relative; top: 1px;
}

.footer-features li+li {
	margin-top:$space8;
}

// Media Queries
@media screen and (max-width:1060px) {
	.header {
	}
	.ss-framer img {
		left:0;
		margin-left: 0;
	}
}
@media screen and (max-width:960px) {
	.header {
		height:620px;
	}
}


