// All selectors are prefixed with .home
.header {
	background: $black; // not 14171C
	color: #fff;
	height: 680px;
	margin-top:64px;
	overflow: hidden;
	position: relative;
	padding-top:$space48;
}

.ss-framer img {
	max-width: 1046px;
	max-height:448px;
	position: absolute;
	bottom: 0; left:50%;
	margin-left: -523px;
	width:100%;
}

.col-4 p {
	margin-bottom: 0;
}

// Vertical Spacing ------------------------------------
.footer h1 {
	margin-top: $space64;
}
.header,
.footer h2 {
	margin-bottom: $space72;
}
.header h1 {
	margin-bottom: $space24;
}
// Block Spacing
.framer-overview {
	margin-bottom: $space64;
}
.screenshot-copy {
	margin-top: $space48;
}
.examples {
	margin-bottom: calc(#{$space80} * 2);
	margin-top: calc(#{$space80} + #{$space40});
}
// ---------------------
// Studio Screenshot Section
.screenshot img.studio {
	max-width: 708px; 
	width: 100%;
}
.screenshot .video-wrapper {
	width: 354px;
	position: absolute; 
	top: 0; left: 50%; 
	height: 100%;
}
.screenshot video {
	position: absolute; 
	max-width: 111px;
	top: 159px; left: 114px;
}

// Screenshot Copy
.screenshot-copy h3 {
	margin-bottom: 0;
}
.screenshot-copy h6 {
	color: $text;
}

// Framer Overview
.framer-overview h5 figure {
	display: inline-block;
	margin-right: $space16;
}

// Used-By Block
.used-by {
	text-align: center;
	color: #D3D8E1;
}
.used-by figure {
	display: inline-block;
	position: relative;
}
.used-by figure+figure {
	margin-left: $space32;
}
// Vertical centering
.logo-google     { top:4px; }
.logo-twitter    { top:2px; }
.logo-facebook   { top:-2px; }
.logo-apple      { top:2px; }
.logo-instagram  { top:7px; }
.logo-spotify    { top:4px; }
.logo-adobe      { top:2px; }
.logo-groupon    { top:-2px; }

.used-by .footnote {
	margin-top:$space64;
	padding:0 $space24;
	background: #fff;
	display: inline-block;
	position: relative;
	z-index: 30;
}

.used-by .footnote-line {
	width:100%; 
	height:1px; 
	background: 
	$graphite20;
	opacity:0.5; 
	margin-top: -35px;
}
// Examples Block
.examples {
	background: $blue;
	height: 480px;
	position:relative;
	padding: 0;
}
.examples a:hover {
	opacity: 1;
}
.examples .devices {
	max-width:755px; 
	width:100%; 
	height:480px;
	margin: 0 auto;
	position: relative;
}
.examples .devices a {
	position: absolute; 
	@include transition(all, 0.2s, ease);
}
.shrink {
	@include scale(0.975);
}
a.device-left,
a.device-mid,
a.device-right {
	height: auto;
}
a.device-left img { 
	width: 266px; 
}
a.device-mid img  { 
	width: 326px;
}
a.device-right img  { 
	width: 274px; 
}
a.device-left{ 
	left: 0; 
	top:-40px;
}
a.device-mid {
	left: 50%; margin-left: -163px;
	z-index: 50; 
	top:-80px;
}
a.device-right { 
	right: 0;
	top:-40px;
}

// Interaction block
.interaction {
	background: #22252C;
	padding: 100px 0 140px 0;
	margin: 80px 0 0 0;
	position: relative;
}
.interaction h1 {
	color:#fff;
}
.interaction p {
	color: #818B9E; 
}
.interaction h2 {
	color: #9095A1;
	margin-bottom: $space32;
}
.interaction h5 {
	color: #fff;
	font-weight: 400;
}
.interaction .ss-half {
	background: url('/static/images/ss-code.png') no-repeat;
	width: 100%; height: 657px;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
	#interaction .ss-half {
		background: url('/static/images/ss-code@2x.png') no-repeat;
		background-size: cover;
	}
}
.interaction li img,
.viewer li img {
	float: left; position: relative; 
	top: 4px;
	margin-right: $space16; 
}

// Viewer block
.viewer {
	padding: 100px 0 40px 0; /* The extra 20 is to fix the overflow bug */
	margin-bottom: 0px;
	position: relative;
	overflow: visible;
}
.viewer h1 {
	color: #111;
}
.viewer h2 {
	margin-bottom: $space32;
}
.viewer h5 {
	color: #7DDC16;
	font-weight: 400;
}
.viewer li:nth-child(2) h5 {
	color: $blue;
}
.viewer li:nth-child(3) h5{
	color: #917BDF;
}
.viewer li:last-child h5{
	color: $graphite;
}
.viewer .ss-half {
	background: url('/static/images/ss-viewer.png') no-repeat; 
	width: 100%; height: 659px;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
	.viewer .ss-half {
		background: url('/static/images/ss-viewer@2x.png') no-repeat;
		background-size: cover;
	}
}

// Footer features
.footer-features li{
	list-style: none; 
	color: $graphite60;
	white-space: nowrap;
}
.footer-features ul {
	margin-bottom: 0;
}
.footer-features section ul li:before {
	content: url("/static/images/icon-check.png");
	display: inline-block; margin-right: $space8; position: relative; top: 1px;
}
.footer-features li+li {
	margin-top:$space8;
}

// Media Queries
@media screen and (max-width:1080px) {
	.used-by figure+figure {
		margin-left: $space24;
	}
}
@media screen and (max-width:1060px) {
	.header {
	}
	.ss-framer img {
		left:0;
		margin-left: 0;
	}
}
@media screen and (max-width:980px) {
	.header {
		height:620px;
	}
	// ****************
	// Vertical spacing
	.used-by figure {
		margin-bottom: $space24;
	}
	.used-by .footnote {
		margin-top: $space40;
	}
}
@media screen and (max-width: 720px) {
	.examples {
		height: calc(480px * 0.8);
	}
	.devices {
		top: -49px;
	}
	a.device-left,
	a.device-mid,
	a.device-right { 
		@include scale(0.8)
	}
	a.device-left {
		left:-64px;
	}
	a.device-right {
		right:-64px;
	}
}
@media screen and (max-width:660px) {
	// ****************
	// Vertical spacing
	.examples {
		height: calc(480px * 0.6);
		margin-bottom: 100px;
	}
	.used-by .footnote {
		margin-top: $space32;
	}
	.devices {
		top: -99px;
	}
	a.device-left,
	a.device-mid,
	a.device-right { 
		@include scale(0.6);
	}
	a.device-left {
		left:-$space32;
	}
	a.device-right {
		right:-$space32;
	}
	.used-by .footnote-line {
		display: none;
	}
}

@media screen and (max-width: 480px) {
	a.device-left,
	a.device-right {
		@include scale(0.44);
	}
	a.device-mid  {
		top:-60px; 
		margin-left:-150px;
	}
	a.device-mid img {
		max-width: initial;
		width: 300px;
	}
	a.device-left {
		left: -72px;
	}
	a.device-right {
		right: -72px;
	}
	// Logos block
	.used-by figure {
		 @include scale(0.75);
		 margin-bottom: $space8;
	}
	.used-by figure:last-child {
		display: none;
	}
	.used-by figure+figure {
		margin-left: 0;
	}

	// ****************
	// Vertical spacing M
	.used-by .footnote {
		margin-top: $space16;
		font-size: 10px;
		padding: 0;
	}
	// Examples block
	.examples {
		margin-top: $space16;
		margin-bottom: $space72;
	}
}

