// All selectors are prefixed with .home
.header {
	background: $header;
	color: #fff;
	height: 740px; // 800 - 60
	margin-top:64px;
	overflow: hidden;
	position: relative;
	padding-top:$space40;
}
.header p.copy {
	opacity: .75;
	font-size: 10px;
}
.ss-framer {
	max-width: 1024px;
	max-height:440px;
	position: absolute;
	bottom: 0; left:50%;
	margin-left: -512px;
	width:100%;
}
.ss-framer img {
	box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}
.ss-video {
	position: absolute;
	top:calc(50% - 96px);
 	left:calc(75% - 70px);
	width:140px; height: auto;
}
.col-4 p {
	margin-bottom: 0;
}

// Vertical Spacing ------------------------------------
.footer h1 {
	margin-top: $space64;
}
.header {
	margin-bottom: $space72;
}
.header h1 {
	margin-bottom: $space24;
}
.header .btn {
	margin-bottom: $space16;
}
// Block Spacing
.framer-overview {
	margin-bottom: $space64;
}
.screenshot-copy {
	margin-top: $space48;
}
.examples {
	margin-bottom: calc(#{$space80} * 2);
	margin-top: calc(#{$space80} + #{$space80});
}
.examples-caption, 
.used-by, 
.feature-banners,
.more-features {
	margin-bottom: $space80;
}
// ---------------------
// Studio Screenshot Section
.screenshot img.studio {
	max-width: 708px; 
	width: 100%;
}
.screenshot .video-wrapper {
	width: 354px;
	position: absolute; 
	top: 0; left: 50%; 
	height: 100%;
}
.screenshot video {
	position: absolute; 
	max-width: 111px;
	top: 159px; left: 114px;
}
// Screenshot Copy
.screenshot-copy h3 {
	margin-bottom: $space8;
	line-height: 1.8;
}
// Icons infront of H5 Headlines
h5 figure {
	display: inline-block;
	margin-right: $space16;
}
// High Fidelity prototypes block
.examples-caption {
	max-width:480px;
	margin-left: auto; margin-right: auto;
}
// Used-By Block
.used-by {
	text-align: center;
	color: #D3D8E1;
}
.used-by figure {
	display: inline-block;
	position: relative;
}
.used-by figure+figure {
	margin-left: 37px;
}
// Vertical centering
.logo-google     { top:4px; }
.logo-twitter    { top:2px; }
.logo-facebook   { top:-2px; }
.logo-apple      { top:2px; }
.logo-instagram  { top:7px; }
.logo-spotify    { top:4px; }
.logo-adobe      { top:2px; }
.logo-groupon    { top:-2px; }

.used-by .footnote {
	margin-bottom:$space24;
	padding:0 $space24;
	background: #fff;
	display: inline-block;
	position: relative;
	z-index: 30;
}
.used-by .footnote-line {
	width:100%; 
	height:1px; 
	background: $graphite20;
	opacity:0.5; 
	margin-bottom:-9px;
}
// Examples Block
.examples {
	background: $examples-block;
	height: 480px;
	position:relative;
	padding: 0;
}
.examples a:hover {
	opacity: 1;
}
.examples .devices {
	max-width:755px; 
	width:100%; 
	height:480px;
	margin: 0 auto;
	position: relative;
}
.examples .devices a {
	position: absolute; 
	@include transition(all, .16s, ease);
}
.examples .devices a:hover {
	@include scale(0.975);
}

a.device-left,
a.device-mid,
a.device-right {
	height: auto;
}
a.device-left img { 
	width: 266px; 
}
a.device-mid img  { 
	width: 326px;
}
a.device-right img  { 
	width: 274px; 
}
a.device-left{ 
	left: 0; 
	top:-40px;
}
a.device-mid {
	left: 50%; margin-left: -163px;
	z-index: 50; 
	top:-80px;
}
// Device video
.device-video {
	position: absolute;
	top:110px; left:50%;
	width:253px; margin-left:-125px;
}
a.device-right { 
	right: 0;
	top:-40px;
}
// Footer features
.footer-features li{
	list-style: none; 
	color: $graphite60;
	white-space: nowrap;
}
.footer-features ul {
	margin-bottom: 0;
}
.footer-features section ul li:before {
	content: url("/static/images/icon-check.png");
	display: inline-block; margin-right: $space8; position: relative; top: 1px;
}
.footer-features li+li {
	margin-top:$space8;
}

// Feature Banners
.feature-banners {
	text-align: center;
}
.feature-banners a {
	position: relative;
	height: 480px;
	color: #fff;
	border-radius: 3px;
	overflow: hidden;
}
.feature-banners section {
	position: absolute;
	top: 30%;
	left: 50%;
	width: 80%;
	margin-left: -40%;
	z-index: 100;
}
.feature-banners h5 {
	margin-bottom: $space24;
}
.feature-banners div {
	display: inline-block;
	@include transition(all, 0.2, ease);
}
.feature-banners a.is-active div {
	background: rgba(255,255,255,0.25);
}
.banner-importing {
	background: $banner-importing url("/static/images/home/banner-importing.jpg") no-repeat;
	background-size: 518px 184px;
	background-position: center 340px;
}
.banner-mirror {
	background: $banner-importing url("/static/images/home/banner-mirror.jpg") no-repeat;
	background-size: 100%;
	background-position: bottom center;
}
// Retina
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	.banner-importing {
		background: $banner-importing url("/static/images/home/banner-importing@2x.jpg") no-repeat;
		background-size: 518px 184px;
		background-position: center 340px;
	}
	.banner-mirror {
		background: $banner-importing url("/static/images/home/banner-mirror@2x.jpg") no-repeat;
		background-size: 100%;
		background-position: bottom center;
	}
}
// Hover
.feature-banners a:after {
	content:""; position: absolute; top:0; left:0;
	background: rgba(0,0,0,0);
	width:100%; height:100%;
	@include transition(background, .2s, ease);
}
.feature-banners a:hover:after {
	background: rgba(0,0,0,0.2);
}
// More features list
.more-features li+li {
	margin-top: $space16;
}
// Home footer
footer.footer {
	margin: $space80 0 $space80 0;
}
// Media Queries
@media screen and (max-width:1080px) {
	.used-by figure+figure {
		margin-left: $space24;
	}
	.feature-banners a {
		height:420px;
	}
	.feature-banners section {
		top: 30%;
		left: 50%;
		width: 90%;
		margin-left: -45%;
	}
	.banner-importing {
		background-size: 100%;
		background-position: center 320px;
	}
}
@media screen and (max-width:1030px) {
	.header {
		height: 720px;
	}
	.ss-framer {
		max-width: 980px; // scale by 0.957
		margin-left: -490px;
		padding: 0 $space16;
		box-shadow: none;
	}
	.ss-video {
		top:calc(50% - 96px);
	 	left:calc(75% - 78px);
		@include scale(0.96);
	}
	.ss-framer img {
		position: relative;
		bottom: -4px;
	}
}
@media screen and (max-width:980px) {
	.header {
		height:600px;
	}
	.ss-framer {
		max-width: 720px; // scale 0.7
		margin-left: -360px;
	}
	.ss-video {
		@include scale(0.675);
		top:calc(50% - 104px);
	}
	// ****************
	// Vertical spacing
	.examples-caption, 
	.used-by, 
	.feature-banners,
	.more-features {
		margin-bottom: $space40;
	}
	.used-by figure {
		margin-bottom: $space24;
	}
	.feature-banners .col-2 {
		max-width: 100%;
	}
	.feature-banners .col-2 + .col-2 {
		margin-top: $space16;
	}
	.feature-banners a {
		height:360px;
	}
	.feature-banners section {
		margin-top: -$space64;
		width: 64%; margin-left: -32%;
	}
	.banner-importing {
		background-size: 518px 184px;
		background-position: center 220px;
	}
	.banner-mirror {
		background-position: 50% 80%;
		background-size: 100%;
	}
}
@media screen and (max-width: 720px) {
	.header {
		padding-bottom:45%;
		height:auto;
	}
	.ss-framer {
		max-width: 100%;
		margin-left: 0; left:0
	}
	.ss-video {
		display: none;
	}
	.examples {
		height: calc(480px * 0.8);
	}
	.devices {
		top: -49px;
	}
	a.device-left,
	a.device-mid,
	a.device-right { 
		@include scale(0.8)
	}
	a.device-left {
		left:-64px;
	}
	a.device-right {
		right:-64px;
	}
	.feature-banners section {
		margin-top: -$space64;
		width: 80%; margin-left: -40%;
	}
	// ****************
	// Vertical spacing T ~ 48px
	.examples {
		margin-bottom: calc(#{$space80} + #{$space40});
		margin-top: calc(#{$space80} + #{$space40});
	}
	.header {
		margin-bottom: $space48;
	}
}
@media screen and (max-width:660px) {
	// ****************
	// Vertical spacing
	.examples {
		height: calc(480px * 0.6);
		margin-bottom: 100px;
	}
	.devices {
		top: -99px;
	}
	a.device-left,
	a.device-mid,
	a.device-right { 
		@include scale(0.6);
	}
	a.device-left {
		left:-$space32;
	}
	a.device-right {
		right:-$space32;
	}
	.used-by .footnote-line {
		display: none;
	}
	// Home footer
	footer.footer {
		margin-top: 0;
		margin-bottom: $space48;
	}
}
@media screen and (max-width: 560px) {
	.header {
		margin-top: 0; // Nav is now pos:relative instead of absolute
		margin-bottom: $space32;
		padding-top: 120px;
	}
	.ss-framer {
		margin-left: 0;
		left:0;
	}
}
@media screen and (max-width: 480px) {

	a.device-left,
	a.device-right {
		@include scale(0.44);
	}
	a.device-mid  {
		top:-60px; 
		margin-left:-150px;
	}
	a.device-mid img {
		max-width: initial;
		width: 300px;
	}
	a.device-left {
		left: -72px;
	}
	a.device-right {
		right: -72px;
	}
	// Extra padding @ lists on mobile
	// Framer overview
	.framer-overview section,
	.more-features section {
		padding: 0 $space24;
	}
	// Feature Banners (Mirror & Importing)
	.feature-banners a {
		height:256px;
	}
	.feature-banners section {
		margin-top: -$space32;
	}
	.feature-banners h5 {
		font-size: 1.2em;
	}
	.banner-importing {
		background-size: 100%;
		background-position: center 160px;
	}
	.banner-mirror {
		background-position: 50% 80%;
		background-size: 100%;
	}
	// More features titles
	.more-features h5 {
		margin-bottom: $space16;
	}
	// Logos block
	.used-by figure {
		 @include scale(0.75);
		 margin-bottom: $space8;
	}
	.used-by figure:last-child {
		display: none;
	}
	.used-by figure+figure {
		margin-left: 0;
	}

	// ****************
	// Vertical spacing M
	.used-by .footnote {
		margin-bottom: $space16;
		font-size: 10px;
		padding: 0;
	}
	// Examples block
	.examples {
		margin-top: $space16;
		margin-bottom: $space72;
	}
	// More features list
	.more-features li+li {
		margin-top: $space8;
	}
}

