// All selectors are prefixed with .home
.header {
	background: $header;
	color: #fff;
	height: calc(800px - 56px);
	margin-top:56px;
	overflow: hidden;
	position: relative;
	padding-top:$space56;
}
.ss-framer img {
	max-width: 1024px;
	max-height:440px;
	position: absolute;
	bottom: 0; left:50%;
	margin-left: -512px;
	width:100%;
	box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}
@media screen and (min-width: 720px) {
	.ss-framer:after {
		content:"";
		background: url("/static/images/home/icon-bounce-lossy.gif");
		position: absolute;
		top:calc(50% + 128px);
		left:calc(50% + 128px + 64px);
		height:128px;
		width:128px;
		overflow: hidden;
		background-position: 50%;
		background-size: cover;
	}
}

.col-4 p {
	margin-bottom: 0;
}

// Vertical Spacing ------------------------------------
.footer h1 {
	margin-top: $space64;
}
.header,
.footer h2 {
	margin-bottom: $space72;
}
.header h1 {
	margin-bottom: $space24;
}
// Block Spacing
.framer-overview {
	margin-bottom: $space64;
}
.screenshot-copy {
	margin-top: $space48;
}
.examples {
	margin-bottom: calc(#{$space80} * 2);
	margin-top: calc(#{$space80} + #{$space80});
}
.used-by {
	margin-bottom: $space80;
}
// ---------------------
// Studio Screenshot Section
.screenshot img.studio {
	max-width: 708px; 
	width: 100%;
}
.screenshot .video-wrapper {
	width: 354px;
	position: absolute; 
	top: 0; left: 50%; 
	height: 100%;
}
.screenshot video {
	position: absolute; 
	max-width: 111px;
	top: 159px; left: 114px;
}
// Screenshot Copy
.screenshot-copy h3 {
	margin-bottom: $space8;
	line-height: 1.8;
}

// Framer Overview
.framer-overview h5 figure {
	display: inline-block;
	margin-right: $space16;
}

// Used-By Block
.used-by {
	text-align: center;
	color: #D3D8E1;
}
.used-by figure {
	display: inline-block;
	position: relative;
}
.used-by figure+figure {
	margin-left: $space32;
}
// Vertical centering
.logo-google     { top:4px; }
.logo-twitter    { top:2px; }
.logo-facebook   { top:-2px; }
.logo-apple      { top:2px; }
.logo-instagram  { top:7px; }
.logo-spotify    { top:4px; }
.logo-adobe      { top:2px; }
.logo-groupon    { top:-2px; }

.used-by .footnote {
	margin-bottom:$space24;
	padding:0 $space24;
	background: #fff;
	display: inline-block;
	position: relative;
	z-index: 30;
}

.used-by .footnote-line {
	width:100%; 
	height:1px; 
	background: 
	$graphite20;
	opacity:0.5; 
	margin-bottom:-9px;
}
// Examples Block
.examples {
	background: $examples-block;
	height: 480px;
	position:relative;
	padding: 0;
}
.examples a:hover {
	opacity: 1;
}
.examples .devices {
	max-width:755px; 
	width:100%; 
	height:480px;
	margin: 0 auto;
	position: relative;
}
.examples .devices a {
	position: absolute; 
	@include transition(all, .2s, ease);
}
.shrink {
	@include scale(0.96);
}
a.device-left,
a.device-mid,
a.device-right {
	height: auto;
}
a.device-left img { 
	width: 266px; 
}
a.device-mid img  { 
	width: 326px;
}
a.device-right img  { 
	width: 274px; 
}
a.device-left{ 
	left: 0; 
	top:-40px;
}
a.device-mid {
	left: 50%; margin-left: -163px;
	z-index: 50; 
	top:-80px;
}
a.device-right { 
	right: 0;
	top:-40px;
}

// Interaction block
.interaction {
	background: #22252C;
	padding: 100px 0 140px 0;
	margin: 80px 0 0 0;
	position: relative;
}
.interaction h1 {
	color:#fff;
}
.interaction p {
	color: #818B9E; 
}
.interaction h2 {
	color: #9095A1;
	margin-bottom: $space32;
}
.interaction h5 {
	color: #fff;
	font-weight: 400;
}
.interaction .ss-half {
	background: url('/static/images/ss-code.png') no-repeat;
	width: 100%; height: 657px;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
	#interaction .ss-half {
		background: url('/static/images/ss-code@2x.png') no-repeat;
		background-size: cover;
	}
}
.interaction li img,
.viewer li img {
	float: left; position: relative; 
	top: 4px;
	margin-right: $space16; 
}
// Viewer block
.viewer {
	padding: 100px 0 40px 0; /* The extra 20 is to fix the overflow bug */
	margin-bottom: 0px;
	position: relative;
	overflow: visible;
}
.viewer h1 {
	color: #111;
}
.viewer h2 {
	margin-bottom: $space32;
}
.viewer h5 {
	color: #7DDC16;
	font-weight: 400;
}
.viewer li:nth-child(2) h5 {
	color: $blue;
}
.viewer li:nth-child(3) h5{
	color: #917BDF;
}
.viewer li:last-child h5{
	color: $graphite;
}
.viewer .ss-half {
	background: url('/static/images/ss-viewer.png') no-repeat; 
	width: 100%; height: 659px;
}
@media (-webkit-min-device-pixel-ratio: 1.5) {
	.viewer .ss-half {
		background: url('/static/images/ss-viewer@2x.png') no-repeat;
		background-size: cover;
	}
}
// Footer features
.footer-features li{
	list-style: none; 
	color: $graphite60;
	white-space: nowrap;
}
.footer-features ul {
	margin-bottom: 0;
}
.footer-features section ul li:before {
	content: url("/static/images/icon-check.png");
	display: inline-block; margin-right: $space8; position: relative; top: 1px;
}
.footer-features li+li {
	margin-top:$space8;
}

// Feature Banners
.feature-banners {
	text-align: center;
}
.feature-banners a {
	position: relative;
	height: 480px;
	color: #fff;
	border-radius: 3px;
	overflow: hidden;
}
.feature-banners section {
	position: absolute;
	top: 50%;
	left: 50%;
	@include translate(-50%, -50%);
	width: 80%;
	z-index: 100;
}
.banner-importing {
	background: $banner-importing url("/static/images/home/banner-importing.png") no-repeat;
	background-size: 512px 224px;
	background-position: center 320px;
}
.banner-mirror {
	background: $banner-importing url("/static/images/home/banner-mirror.png") no-repeat;
	background-size: cover;
	background-position: bottom center;
}
// Hover
.feature-banners a:after {
	content:""; position: absolute; top:0; left:0;
	background: rgba(0,0,0,0);
	width:100%; height:100%;
	@include transition(background, .2s, ease);
}
.feature-banners a:hover:after {
	background: rgba(0,0,0,0.2);
}
// Media Queries
@media screen and (max-width:1080px) {
	.used-by figure+figure {
		margin-left: $space24;
	}
	.feature-banners a {
		height:420px;
	}
	.banner-importing {
		background-size: 100%;
		background-position: center 288px;
	}
}
@media screen and (max-width:1030px) {
	.header {
		height: 720px;
	}
	.ss-framer img {
		max-width: 980px; // scale by 0.957
		margin-left: -490px;
		padding: 0 $space16;
	}
	.ss-framer:after {
		@include scale(0.96);
		top:calc(50% + 128px);
		left:calc(50% + 128px + 44px);
	}
}
@media screen and (max-width:980px) {
	.header {
		height:600px;
	}
	.ss-framer img {
		max-width: 720px; // scale 0.7
		margin-left: -360px;
	}
	.ss-framer:after {
		@include scale(0.7);
		top:calc(50% + 116px);
		left:calc(50% + 108px);
	}
	// ****************
	// Vertical spacing
	.used-by {
		margin-bottom: $space40;
	}
	.used-by figure {
		margin-bottom: $space24;
	}
	.feature-banners .col-2 {
		max-width: 100%;
	}
	.feature-banners .col-2 + .col-2 {
		margin-top: $space16;
	}
	.feature-banners a {
		height:360px;
	}
	.feature-banners section {
		margin-top: -$space64;
	}
	.banner-importing {
		background-size: 512px 224px;
		background-position: center 200px;
	}
	.banner-mirror {
		background-position: 50% 80%;
		background-size: 100%;
	}
}
@media screen and (max-width: 720px) {
	.header {
		padding-bottom:50%;
		height:auto;
	}
	.ss-framer img {
		max-width: 100%;
		margin-left: 0; left:0
	}
	.examples {
		height: calc(480px * 0.8);
	}
	.devices {
		top: -49px;
	}
	a.device-left,
	a.device-mid,
	a.device-right { 
		@include scale(0.8)
	}
	a.device-left {
		left:-64px;
	}
	a.device-right {
		right:-64px;
	}
}
@media screen and (max-width:660px) {
	// ****************
	// Vertical spacing
	.examples {
		height: calc(480px * 0.6);
		margin-bottom: 100px;
	}
	.devices {
		top: -99px;
	}
	a.device-left,
	a.device-mid,
	a.device-right { 
		@include scale(0.6);
	}
	a.device-left {
		left:-$space32;
	}
	a.device-right {
		right:-$space32;
	}
	.used-by .footnote-line {
		display: none;
	}
}
@media screen and (max-width: 560px) {
	.header {
		margin-top: 0; // Nav is now pos:relative instead of absolute
		padding-top: $space32;
		margin-bottom: $space32;
	}
	.ss-framer img {
		margin-left: 0;
		left:0;
	}
}
@media screen and (max-width: 480px) {
	.header {
		height: 340px;
		padding-top: $space8;
	}
	a.device-left,
	a.device-right {
		@include scale(0.44);
	}
	a.device-mid  {
		top:-60px; 
		margin-left:-150px;
	}
	a.device-mid img {
		max-width: initial;
		width: 300px;
	}
	a.device-left {
		left: -72px;
	}
	a.device-right {
		right: -72px;
	}
	// Logos block
	.used-by figure {
		 @include scale(0.75);
		 margin-bottom: $space8;
	}
	.used-by figure:last-child {
		display: none;
	}
	.used-by figure+figure {
		margin-left: 0;
	}
	// Feature Banners (Mirror & Importing)
	.feature-banners a {
		height:256px;
	}
	.feature-banners section {
		margin-top: -$space32;
		width:92%;
	}
	.feature-banners h5 {
		font-size: 1.2em;
	}
	.banner-importing {
		background-size: 100%;
		background-position: center 160px;
	}
	.banner-mirror {
		background-position: 50% 80%;
		background-size: 100%;
	}

	// ****************
	// Vertical spacing M
	.used-by .footnote {
		margin-bottom: $space16;
		font-size: 10px;
		padding: 0;
	}
	// Examples block
	.examples {
		margin-top: $space16;
		margin-bottom: $space72;
	}
}

