// All selectors are prefixed with .learn
.content-inner {
	max-width: 660px;
	margin: 0 auto;
}

.content-inner ul {
	margin-bottom: $space32;
}
// Lists on Pages
.content-inner ul li {
	line-height: 1.5;
	font-size: 1em;
	font-weight: 400;
	color: $black40;
	list-style-type: circle; 
	position: relative; 
	left: $space16;
	padding-left: $space8; 
}
.content-inner ul li+li {
	margin-top: $space8;
}
.content-inner li ul li {
	list-style-type: none;
	padding: 0; left: 0; 
	margin-top: $space8;
}
// Type - Vertical spacing
h3 {
	margin-bottom: $space24;
}
h4 {
	margin-bottom: $space16;
}
