// Type - Vertical spacing
h3 {
	margin-bottom: $space24;
}
h4 {
	margin-bottom: $space16;
}

.align-right {
	max-width: 750px;
	float: right;
	clear:both;
}
// Clearfix wrapper
.content-inner:after {
  content: "";
  display: table;
  clear: both;
}
.sidebar {
	float:left;
	position: absolute;
	max-width: 210px;
}
.sidebar.sticky {
	position: fixed;
	top: 128px;
}

.sidebar ul li {
	list-style: none;
	padding: 0; left: 0;
}
.sidebar li+li {
	margin-top: $space8;
}
.sidebar a,
.sidebar .title {
	color: $blue;
	text-transform: uppercase;
	font-weight: 600;
	font-size:12px;
	letter-spacing: 0.5px;
}
.sidebar .title {
	color: $black;
}
@media screen and (max-width:1020px) {
	.content-inner {
		max-width: 600px;
		margin: 0 auto;
		float:none;
		clear:both;
	}
	.align-right {
		max-width: 100%;
		float: none;
	}
	.sidebar {
		position: relative;
		max-width: 100%; width:100%;
		padding-bottom:$space24;
		margin-bottom: $space56;
		border-bottom: 1px solid #eee;
	}
	.sidebar.sticky {
		position: relative;
		top: 0;
	}
	.sidebar li {
		display: inline-block;
	}
	.sidebar li+li {
		margin-top: 0;
		margin-left: $space24;
	}
}
@media screen and (max-width: 720px) {
	.sidebar {
		padding-bottom:$space16;
		margin-bottom: $space56;
	}	
}
@media screen and (max-width:560px) {
	.sidebar {
		padding-bottom:0;
		margin-bottom: $space40;
	}

	.sidebar .title {
		display: none;
	}
	.sidebar li {
		display: block;
	}
	.sidebar li+li {
		margin-top: 0;
		margin-left: 0;
	}
}