img + p,
img + ul,
img + h3,
img + h4,
img + h5 {
	margin-top: $space24;
}
// Type - Vertical spacing
h3 {
	margin-bottom: $space24;
}
h4 {
	margin-bottom: $space16;
}
// Spacing Code blocks
pre {
	margin-bottom: $space24;
}
.with-illustration + h4,
.with-illustration + h5,
.highlight + h4,
.highlight + h5 {
	margin-top: $space80;
}
// Page header 
.page-header {
	background: $header;
	color: #fff;
	height: 376px; // 440px if nav is included
	padding-top: 80px;
	margin-top: $space64;
	position: relative;
}
.docs .page-header,
.faq .page-header {
	height:320px;
}
.learn .page-header h1 {
	margin-bottom: $space8;
}
.page-header h2 {
	color: $graphite-blue;
}
.page-header .content-inner {
	position: relative;
	height: 296px;
}
.page-header img {
	position: absolute;
	bottom:0;
	right:176px;
	max-height: 420px;
	max-width: 340px;
	z-index: 400;
}
// Link jumps
.subpage a[name] {
	position: relative; 
	top: -346px;
	display: block;
}
.faq p,
.faq table,
.faq ul {
	max-width: 750px;
}
.align-right {
	max-width: 750px;
	width: 100%;
	float: right;
	clear:both;
}
.align-right p {
	max-width: 580px;
	width: 100%;
	text-align: left;
}
// Clearfix wrapper
.content-inner:after {
  content: "";
  display: table;
  clear: both;
}
// Learn nav
.learn-nav {
	border-bottom: 1px solid $separator;
	margin-bottom: $space80;
	padding-top: $space40;
	position: relative;
}
.learn-nav a {
	color: $sidebar-links;
	position: relative;
	padding-bottom: $space48;
}
.learn-nav .active {
	border-bottom: 1px solid $blue;
	height: 180px;
	margin-bottom: -1px;
	z-index: 200;
}
.learn-nav .active.importing {
	border-color: $green;
}
.learn-nav .active.mirror {
	border-color: $purple;
}
.learn-nav .active.coffeescript {
	border-color: $cyan;
}
.learn-nav a * {
	@include transition(all, 0.1s, ease);
}
.learn-nav .nav-title {
	margin: $space24 0 $space16 0;
}
.learn-nav .active .nav-title {
	color: #222;
}
.learn-nav a:hover .nav-title {
	color: $blue;
}
.learn-nav .importing:hover .nav-title {
	color: $green;
}
.learn-nav .mirror:hover .nav-title {
	color: $purple;
}
.learn-nav .coffeescript:hover .nav-title {
	color: $cyan;
}
.learn-nav span {
	line-height: 1.5;
	opacity: 0.8;
}
.learn-nav a:hover,
.learn-nav a:hover span {
	opacity: 1;
}
.learn-nav .active span {
	opacity: 1;
}
.learn-nav figure {
	display: inline-block;
}
.learn-nav .hover {
	position: absolute;
	top:0; left:0;
	opacity: 0;
}
// Fade old, bring in new
.learn-nav a:hover figure {
	opacity: 0;
}
.learn-nav a:hover .hover{
	opacity: 1;
}
// Sidebar
.sidebar {
	float:left;
	position: absolute;
	max-width: 210px;
	margin-top: 32px;
	width: 100%;
}
.learn .sidebar {
	margin-top: 310px;
}
.sidebar.sticky,
.learn .sidebar.sticky {
	position: fixed;
	margin-top: 0;
	top: 32px;
}
.sidebar ul li {
	list-style: none;
	left: 0;
	padding: $space8;
	padding-left: 16px;
	border-radius: 3px;
	margin-bottom: $space8;
}
.sidebar a {
	color: $black;
	text-transform: uppercase;
	font-weight: 600;
	font-size:12px;
	letter-spacing: 0.5px;
	line-height: 1.25;
}
.sidebar a div {
	color: $sidebar-links;
}
.sidebar .active {
	background: $blue;
}
.sidebar .active a {
	color: #fff;
}
.sidebar ul li.active:before {
	color: #fff;
}
.sidebar .active div {
	color: #fff;
}

// Page summaries
.summary {
	margin: $space80 0;
}
.summary ul {
	margin-bottom: 0;
}
.summary ul li {
	opacity: .9;
	font-size: 18px;
	line-height: 1.4;
}
.summary figure {
	float:left;
	margin-right: $space24;
	position: relative;
	top: 6px;
}
.summary h3 {
	margin-bottom: $space16;
}

// Page-to-page navigation
.page-navigation {
	margin-top: $space80;
}
.page-navigation .next {
	float: right;
}
.page-navigation .next h5 {
	text-align: right;
}
.page-navigation .previous {
	float: left;
	color: $graphite80;
}
.page-navigation h5 {
	color: $black;
	margin-bottom: 4px;
}
.page-navigation h6.last {
	color: $blue;
}
.page-navigation a h6, .page-navigation a figure {
	display: inline-block;
}
.page-navigation .next figure {
	margin-left: $space8;
}
.page-navigation .previous figure {
	margin-right: $space8;
}
// Inline images
.inline-left {
	float: left;
	margin-right: 60px;
}
.icon-mirror {
	margin-right:$space40;
	position: relative;
	top:4px;
}
.align-right img + p {
	max-width: 660px;
}
.ss-mirror-iphone {
	margin-bottom: $space48;
}
@media screen and (max-width:1080px) {
	.page-header img {
		right:130px;
	}
	.align-right {
		max-width: 650px;
	}
}
@media screen and (max-width:980px) {
	.page-header img {
		right:0px;
	}
	.sidebar {
		display: none;
	}
	.learn-nav .active {
		border-bottom: none;
		height: auto;
		margin-bottom: 0;
	}
}
@media screen and (max-width:960px) {
	.page-header img {
		max-width: 300px;
		right: 24px;
	}
}
@media screen and (max-width: 720px) {
	.page-header {
		text-align: center;
		height: 460px;
		padding-top:24px;
	}
	.page-header .content-inner {
		height: 436px;
	}
	.page-header img {
		max-width: 210px;
		right: 50%;
		margin-right:-105px;
	}
}
@media screen and (max-width:560px) {
	.sidebar {
		padding-bottom:0;
		margin-bottom: $space40;
	}
	.sidebar .title {
		display: none;
	}
	.sidebar li {
		display: block;
	}
	.sidebar li+li {
		margin-top: 0;
		margin-left: 0;
	}
}