// Page header 
.page-header {
	background: $header;
	color: #fff;
	height: 376px; // 440px if nav is included
	padding-top: 80px;
	margin-top: $space64;
}
.page-header h1 {
	margin-bottom: $space8;
}
.page-header h2 {
	color: $graphite-blue;
}
.page-header .content-inner {
	position: relative;
}
.page-header img {
	position: absolute;
	bottom:-120px;
	right:176px;
	max-height: 420px;
	max-width: 340px;
	z-index: 400;
}
a[name] {
	position: relative; top: -228px;
	display: block;
}
// Type - Vertical spacing
h3 {
	margin-bottom: $space24;
}
h4 {
	margin-bottom: $space16;
}
// Spacing Code blocks
pre {
	margin-bottom: $space24;
}
.highlight + h5 {
	margin-top: $space80;
}
.align-right {
	max-width: 750px;
	width: 100%;
	float: right;
	clear:both;
}
.align-right p {
	max-width: 620px;
	text-align: left;
}
// Clearfix wrapper
.content-inner:after {
  content: "";
  display: table;
  clear: both;
}
// Learn nav
.learn-nav {
	border-bottom: 2px solid $separator;
	margin-bottom: $space80;
}
.learn-nav a {
	color: $subnav-links;
}
.learn-nav .active {
	border-bottom: 2px solid $blue;
	padding-bottom: $space48;
	margin-bottom: -2px;
}
.learn-nav .nav-title {
	margin: $space24 0 $space16 0;
}
.learn-nav .active .nav-title {
	color: #222;
}
.learn-nav span {
	line-height: 1.5;
	opacity: 0.7;
}
.learn-nav .active span {
	opacity: 1;
}
.learn
.learn-nav figure {
	display: inline-block;
	margin-bottom: $space16;
}
// Sidebar
.sidebar {
	float:left;
	position: absolute;
	max-width: 210px;
	width: 100%;
}
.learn .sidebar {
	margin-top: 262px;
}
.sidebar.sticky {
	position: fixed;
	margin-top: 0;
	top: 128px;
}
.sidebar ul li {
	list-style: none;
	padding: 0; left: 0;
	padding: $space8;
	padding-left:14px;
	border-radius: 3px;
	margin-bottom: $space16;
}

.docs .sidebar li {
	padding-left: 0; left:0;
}
.sidebar a {
	color: $black;
	text-transform: uppercase;
	font-weight: 600;
	font-size:12px;
	letter-spacing: 0.5px;
	line-height: 1.25;
}
// Custom Numbers
.sidebar ul {
    counter-reset: numbers;
}
.sidebar li:before {
    content: counter(numbers);
    counter-increment: numbers;
    margin-right: 14px;
    font-size: 16px;
    position: relative;
    margin-top: 12px;
    float: left;
    font-weight: 400;
    -webkit-user-select: none; 
    -moz-user-select: none;  
    -ms-user-select: none;     
    color: $blue;
    border-radius: 50%;
    // box-shadow: 0 0 0 1px $blue60;
    width:18px; height:18px; line-height: 20px;
  	text-align: center;
}
.sidebar a div {
	color: $text;
}
.sidebar .active {
	background: $blue;
}
.sidebar .active a {
	color: #fff;
}
.sidebar ul li.active:before {
	color: #fff;
}
.sidebar .active div {
	color: #fff;
}
@media screen and (max-width:1020px) {
	.content-inner {
		max-width: 600px;
		margin: 0 auto;
		float:none;
		clear:both;
	}
	.align-right {
		max-width: 100%;
		float: none;
	}
	.sidebar {
		position: relative;
		max-width: 100%; width:100%;
		padding-bottom:$space24;
		margin-bottom: $space56;
		border-bottom: 1px solid #eee;
	}
	.sidebar.sticky {
		position: relative;
		top: 0;
	}
	.sidebar li {
		display: inline-block;
	}
	.sidebar li+li {
		margin-top: 0;
		margin-left: $space24;
	}
}
@media screen and (max-width: 720px) {
	.sidebar {
		padding-bottom:$space16;
		margin-bottom: $space56;
	}	
}
@media screen and (max-width:560px) {
	.sidebar {
		padding-bottom:0;
		margin-bottom: $space40;
	}
	.sidebar .title {
		display: none;
	}
	.sidebar li {
		display: block;
	}
	.sidebar li+li {
		margin-top: 0;
		margin-left: 0;
	}
}