{% extends "docs.html" %}
{% block title %}Framer - FAQs{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>
		<a class="section" href="/"><li>FAQs</li></a>
		<a class="sub-section" href="#compatibility"><li>Compatibility</li></a>
		<a class="sub-section" href="#debugging"><li>Debugging</li></a>
		<a class="sub-section" href="#help"><li>Help</li></a>
	</ul>
</div> <!--sidebar-->
{% endblock %}


{% block body %}
{% filter markdown %}

### Questions
<a name="questions"></a>

There is an active and helpful <a href="https://www.facebook.com/groups/framerjs/" target="_blank">Framer Community</a> on Facebook.

##### Framer on Windows
The core of Framer is a Javascript library that works on all platforms. We're working on Photoshop compatibility.</li>

##### Framer Studio Volume Licensing
For 50 licenses or less you can go directly through our online store. If you need more than 50 copies and have special requests please <a href="mailto:koen+framervolume@madebysofa.com">contact us</a>. You can find the Framer end user license agreement <a href="/static/downloads/eula.pdf">here</a>.</li>

##### Framer Studio Support
Framer comes with personal support for technical application issues (crashes, etc.). If you need help learning Framer you can ask questions in our <a href="https://www.facebook.com/groups/framerjs/">group</a>, where we and other users try to help each other out.


{% endfilter %}	
{% endblock body %}