{% extends "learn.html" %}
{% block title %}Framer - Templates{% endblock %}
{% block islearn %}active{% endblock %}
{% block importing %}active{% endblock %}
{% block importing2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<a href="/learn/import"><li>Overview <div class="small">Introduction</div></li></a>
		<a href="/learn/import/sketch-tips"><li>Sketch Tips<div class="small">Canvas, Artboards</div></li></a>
		<a href="/learn/import/templates"><li class="active">Templates <div class="small">Example files</div></li></a>
		<a href="/learn/import/after-effects"><li>After Effects <div class="small">Import videos</div></li></a>		
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### Starter Templates

These templates allow you to focus more on exploring concepts and ideas, and less on how to set-up your files. Including both Photoshop and Sketch files, designed specifically for Framer. They aim to make it effortless for you to start with your next prototype.
 
The templates can also serve as guides, showcasing how we recommend to prepare files for importing. They're organised, labeled and designed for various iOS and Android device resolutions.

<section class="summary small">
<ul>
	<li>iPhone 5 and iPhone 6</li>
	<li>iPad Mini and iPad Air</li>
	<li>Nexus 5 and Nexus 9 </li>
</ul>
</section> <!--summary-->
<a class="btn btn-line blue" target="_blank" href="/static/downloads/templates/StarterTemplates.zip">Download .ZIP</a>

<hr>

<h3>Sketch Templates</h3>
<p>Use these templates to learn how to build common interaction patterns using Sketch and Framer. Each template includes a well-documented Framer file and a Sketch file based on the iPhone 6 Template. </p>
<br> 
<br> 
<section class="ss-title">
	<img class="learn-app-icon" src="/static/images/learn/icon-sketch-app.png" srcset="/static/images/learn/icon-sketch-app@2x.png 2x" draggable="false">
	<h5>Artboards</h5>
	<p class="left-to-btn">Swipe between multiple artboards.</p>
</section>

<section class="right-btn">
	<a class="btn btn-line blue" target="_blank" href="/static/downloads/templates/Artboards.zip">Download .ZIP</a>
</section>

<div class="inline-image"><img src="/static/images/learn/ss-artboardtemplate.png" srcset="/static/images/learn/ss-artboardtemplate@2x.png 2x" draggable="false"></div>

<section class="ss-title">
	<img class="learn-app-icon" src="/static/images/learn/icon-sketch-app.png" srcset="/static/images/learn/icon-sketch-app@2x.png 2x" draggable="false">
	<h5>Scrollable</h5>
	<p class="left-to-btn">Turn a list of images into a scrollable feed.</p>
</section>

<section class="right-btn">
	<a class="btn btn-line blue" target="_blank" href="/static/downloads/templates/Scrollable.zip">Download .ZIP</a>
</section>

<div class="inline-image"><img src="/static/images/learn/ss-scrollabletemplate.png" srcset="/static/images/learn/ss-scrollabletemplate@2x.png 2x" draggable="false"></div>

<hr>

<section class="subpage-nav">
	<a class="previous" href="/learn/import/sketch-tips">
		<figure class="icon-learn-previous"></figure>
		<h6>Sketch Tips</h6> 
	</a> <!--next-->
	<a class="next" href="/learn/import/after-effects">
		<h6>After Effects</h6> 
		<figure class="icon-learn-next-active"></figure>
	</a> <!--next-->
</section>

{% endfilter %}	
{% endfilter %}	
{% endblock body %}
