nav.top {
	width: 100%;
	height: 60px;
	line-height:66px;
	vertical-align:middle;
	position: relative;
	background-color: $dark;
	color: $white;
	z-index: 100;
}
nav.top ul {
	max-width:100%;
	margin: 0 auto;
	padding: 0 20px;
}
nav.top ul li {
	float: left;
	font-size:14px;
	font-weight:500;
	line-height: inherit;

}
nav.top ul li+li {
	padding-left: 30px;
}

nav.top ul li a {
	color:#fff;
}
.framer {
	font-weight:600;
}