{% extends "learn.html" %}
{% block title %}Framer - Sketch Tips{% endblock %}
{% block islearn %}active{% endblock %}
{% block importing %}active{% endblock %}
{% block importing2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<a href="/learn/import"><li>Overview <div class="small">Introduction</div></li></a>
		<a href="/learn/import/sketch-tips"><li class="active">Sketch Tips <div class="small">Canvas, Artboards</div></li></a>
		<a href="/learn/import/templates"><li>Templates <div class="small">Example files</div></li></a>	
		<a href="/learn/import/after-effects"><li>After Effects <div class="small">Import videos</div></li></a>		
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### Sketch Tips


##### Position on Canvas
The x and y positions of your layers on the canvas are respected. This causes layers with negative coordinates to appear off-canvas in Framer. Make sure that the x and y position of your parent layer group are both set to 0. Note that this this doesn’t apply when designing within Artboards.

<div class="inline-image"><img src="/static/images/learn/ss-xandy.png" srcset="/static/images/learn/ss-xandy@2x.png 2x" draggable="false"></div>

##### Hidden Layers

Hidden layers are also imported, but with visibility set to false by default. The opacity property is left unchanged. Only in Sketch Beta for now.

Only in <a href="http://www.bohemiancoding.com/sketch/beta/" target="_blank">Sketch Beta</a> for now.
<div class="inline-image"><img src="/static/images/learn/ss-visibility.png" srcset="/static/images/learn/ss-visibility@2x.png 2x" draggable="false"></div>

##### Artboards
Only the first artboard will be visible by default. All other artboards will be hidden, and their x and y positions are set to 0 by default.
<div class="inline-image"><img src="/static/images/learn/ss-artboards.png" srcset="/static/images/learn/ss-artboards@2x.png 2x" draggable="false"></div>

---

<section class="subpage-nav">
	<a class="previous" href="/learn/import">
		<figure class="icon-learn-previous"></figure>
		<h6>Overview</h6> 
	</a> <!--next-->
	<a class="next" href="/learn/import/templates">
		<h6>Templates</h6> 
		<figure class="icon-learn-next-active"></figure>
	</a> <!--next-->
</section>

{% endfilter %}	
{% endfilter %}	
{% endblock body %}
