{% extends "learn.html" %}
{% block title %}Framer - Sketch Tips{% endblock %}
{% block islearn %}active{% endblock %}
{% block importing %}active{% endblock %}
{% block importing2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<a href="/learn/import"><li>Overview <div class="small">Introduction</div></li></a>
		<a href="/learn/import/sketch-tips"><li class="active">Sketch Tips <div class="small">Canvas, Artboards</div></li></a>
		<a href="/learn/import/templates"><li>Templates <div class="small">Example files</div></li></a>	
		<a href="/learn/import/after-effects"><li>After Effects <div class="small">Import videos</div></li></a>		
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### Sketch Tips

##### Position on Canvas
The x and y position of your layers are turned into <a href="/docs/#layer.x" target="_blank">x and y properties</a>.  

In the example below, the layer group <span class="emphasize">Screen</span> is correctly positioned at 0,0 and will appear at the top left in Framer. This also means that layers with *negative* coordinates are positioned outside the canvas. This doesn’t apply when you use Artboards (more below).

<div class="inline-image"><img src="/static/images/learn/ss-xandy.png" srcset="/static/images/learn/ss-xandy@2x.png 2x" draggable="false"></div>

##### Hidden Layers

Layers that you’ve hidden are also imported, but with <a href="/docs/#layer.visible" target="_blank">visibility</a> set to "false" by default. The opacity property is left unchanged. This feature is currently only available in <a href="http://www.bohemiancoding.com/sketch/beta/" target="_blank">Sketch Beta</a>.
<div class="inline-image"><img src="/static/images/learn/ss-visibility.png" srcset="/static/images/learn/ss-visibility@2x.png 2x" draggable="false"></div>

##### Artboards
Only the first artboard will be visible by default. All other artboards are hidden, and positioned on top of eachother. The x and y properties of imported artboards are always set to 0.

<div class="inline-image"><img src="/static/images/learn/ss-artboards.png" srcset="/static/images/learn/ss-artboards@2x.png 2x" draggable="false"></div>

---

<section class="subpage-nav">
	<a class="previous" href="/learn/import">
		<figure class="icon-learn-previous"></figure>
		<h6>Overview</h6> 
	</a> <!--next-->
	<a class="next" href="/learn/import/templates">
		<h6>Templates</h6> 
		<figure class="icon-learn-next-active"></figure>
	</a> <!--next-->
</section>

{% endfilter %}	
{% endfilter %}	
{% endblock body %}
