{% extends "subpage.html" %}
{% block title %}Framer - About{% endblock %}
{% block currentpage %}class="subpage about"{% endblock currentpage %}


{% block pageheader %} <!--Header Text-->
<header class="page-header">
	<div class="content-inner">
		<h1>About</h1>
		<h2 class="col-2">Learn more about the origins of Framer and the team behind it.</h2>
	</div>
</header> 
{% endblock pageheader %}

{% block body %}

<div class="about-us clearfix">
<section class="col-2">
	<h6>Framer began as an open source prototyping framewor, for animations and interactions.</h6>
	<p>In June 2014, we released Framer Studio, a prototyping application for Mac, built on Framer.js, complete with its own code editor, instant visual feedback, Photoshop & Sketch integration and much more.</p>
</section>

<section class="col-2">
	<h6>We’re creating a prototyping tool to help designers create better products.</h6>
	<p>We’re excited about the future of interaction design tools. We believe prototyping encourages exploration, helps designers effectively communicate concepts and helps engineers implement them. </p>
</section>
</div>

<img src="/static/images/about/about-office.png">

<section class="col-4">
<h5>Location</h5>
<p class="small">Brouwersgracht 130, <br> 1013 HA, Amsterdam <br> Netherlands</p>
</section>

<section class="contact-links col-4">
<h5>Contact</h5>
<a href="https://www.facebook.com/groups/framerjs/">Community</a> <br>
<a href="https://twitter.com/framerjs">Twitter</a> <br> 
<a href="mailto:info@framerjs.com">Email</a>
</section>

<section class="col-4">
<h5>Presskit</h5>
<p class="small"><a href="#">Download</a> our presskit, containing our application icon and screenshots.</p>
</section>

<section class="col-4">
<h5>Join us</h5>
<p class="small">Have a look at our <a href="#">Careers page</a> to see all current openings.</p>
</section>
{% endblock body %}	