pre {
    word-wrap: break-word;
    font-size: 13px;
    font-weight: normal;
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased;
    // Spacing
    padding: $space16;
    margin-bottom: $space32;
    display:block;

    // Default
    color: #616D85; 
    background: #fff; 
    box-shadow: inset 0 0 0 1px #E4EBF2, inset 40px 0 0 #FBFCFE, inset 41px 0 0 #E4EBF2;
}
pre, code {
    font-family: 'Menlo', 'Monaco', Courier, monospace; 
}
// Inline code
.inline {
	font-size: 14px;
	color: #333;
    font-family: 'Menlo', 'Monaco', Courier, monospace;
	border-bottom: 1px dotted #ddd;
	padding-bottom: 2px;
}
.o { color: #616D85; } 
.nf { color: #616D85; } // Name.Function 
.k { color: #FF9740;} // Orange

.c, 
.cm,
.cp,
.c1,
.cs { color: #B0B6C2; }  // Comment 

.mi, .mf { color: #5BC1F0 } // Blue
.s { 
    color: #8DDE19; 
    color: #6ED300; // Green
} 

// Custom Line Numbers
pre ol {
    counter-reset: linenumbers;
}
pre ol li {
    line-height: 1.6;
}
pre ol li:before {
    content: counter(linenumbers);
    counter-increment: linenumbers;
    float:left;
    margin-right: $space40;
    font-size: 10px;
    color: #B0B6C2;
    position: relative;
    top:1px;
    -webkit-user-select: none; 
    -moz-user-select: none;  
    -ms-user-select: none;     
}
@media screen and (max-width: 660px) {
    pre ol li:before {
        content:"";
    }
}