pre {
    word-wrap: break-word;
    -webkit-font-smoothing: subpixel-antialiased;
    // Spacing
    padding: $space16;
    padding-left: 21px;
    padding-bottom: 14px;
    display:block;
    // Default
    color: #788D9E; 
    background: #fff; 
    box-shadow: inset 0 0 0 1px #E4EBF2, inset 49px 0 0 #FBFDFE, inset 50px 0 0 #E4EBF2; // To-do: make this variables
    border-radius: 4px;
    overflow: hidden;
}
// Docs pre space
.docs p + h6,
.docs p + h3,
.docs table + h6,
.docs table + h3,
.docs .highlight + h3,
.docs .highlight + h6{
    margin-top: $space80;
}
pre ol {
    margin-bottom: 0;
    margin-top: 0;
}
pre ol li {
    font-size: 13px;
    font-weight: normal;
    -webkit-font-smoothing: subpixel-antialiased;
}
pre, code {
    font-family: 'Menlo', 'Monaco', Courier, monospace; 
}
// Code blocks with illustrations
.with-illustration {
    position: relative;
    overflow: hidden;
}
.with-full-illustration {
    width:100%;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}
.dragging pre {
    min-height: 200px;
}
.dragging-events pre {
    min-height: 200px;
}
.with-illustration .highlight pre {
     border-radius: 3px 0 0 3px;
}
// Illustrations
.code-illustration {
    position: absolute;
    top:0; right:0;
    padding: 16px;
    border-radius: 0 3px 3px 0;
    display: inline-block;
    box-shadow: inset 0 0 0 1px #E4EBF2;
    z-index: 100;
}
.code-illustration.no-border {
    padding:0; box-shadow: none;
}
// Line-specific
.with-illustration.four-lines div + .code-illustration {
    padding:26px;
}
.with-illustration.layer-positioning-minmax pre {
    min-height: 160px;
}

// Specifics
.code-illustration-states,
.code-illustration-dragging,
.code-illustration-scrolling {
    position: absolute;
    top: 0;
    right: 0;
}
.code-illustration-states {
    max-width: 274px;
}
.code-illustration-dragging {
    max-width: 300px;
}
.code-illustration-scrolling {
    max-width: 232px; 
}
// Inline code
.inline {
	font-size: 14px;
	color: #333;
    font-family: 'Menlo', 'Monaco', Courier, monospace;
	border-bottom: 1px dotted #ddd;
	padding-bottom: 2px;
}
.o,
.nf,
.content-inner pre ol li { 
    color: #788D9E; // Default
} 
.k { color: #FF9740;} // Orange
.c, 
.cm,
.cp,
.c1,
.cs { color: #A4BDD1; }  // Comment 

.mi, .mf { color: #5BC1F0 } // Blue
.s { 
    color: #8DDE19; // Original Green
    color: #6ED300; // Darker Green
} 

// Custom Line Numbers
.content-inner pre ol {
    counter-reset: linenumbers;
}
.content-inner pre ol li {
    line-height: 1.6;
    text-align: left;
}
.content-inner pre ol li:before {
    content: counter(linenumbers);
    counter-increment: linenumbers;
    float:left;
    margin-right: $space40;
    font-size: 10px;
    color: #B7CADA;
    position: relative;
    top:3px;
    -webkit-user-select: none; 
    -moz-user-select: none;  
    -ms-user-select: none;     
    text-align: right;
}
.docs .content-inner pre ol li:before {
    width:12px;
    left:-4px;
    white-space: nowrap;
}
.without-linenumbers pre {
    box-shadow: inset 0 0 0 1px #E4EBF2;
    border-radius: 0 0 3px 3px;
    margin-top: -5px;
    padding:14px;
}
.without-linenumbers pre ol li:before {
    content:""; margin-right: 0;
}
.animation pre {
    border-radius: 0 0 3px 3px;
}
.animation.spring pre {
    white-space: nowrap;
}
// Curves
.animation-curves .col-4 {
    border-radius: 3px; 
    overflow: hidden;
}
img.curve-animation {
    position: relative;
    z-index: 10;
}
img.curve {
    margin-top: -5px;
}
@media screen and (max-width: 1080px) {
    .without-linenumbers pre {
        box-shadow: none;
        margin-top: 20px;
        padding:0;
    }
}
@media screen and (max-width: 720px) {
    .with-illustration,
    .with-full-illustration {
        text-align: center;
    }
    .code-illustration,
    .code-illustration-states,
    .code-illustration-dragging,
    .code-illustration-scrolling {
        position: relative;
    }
    .basics .code-illustration {
        position: absolute;
    }
    .code-illustration-states {
        max-width: 274px; 
    }
    .with-illustration pre,
    .with-full-illustration pre {
        margin-top: 0;
    }
    .with-illustration figure,
    .with-full-illustration figure {
        background: $blue;
        margin-bottom: -1px;
        position: relative;
        z-index: 100;
        border-radius: 3px 3px 0 0;
        overflow: hidden;
    }
    .content-inner pre ol li:before {
        content:"";
    }
     pre {
        box-shadow: inset 0 0 0 1px #E4EBF2;
    }
}
@media screen and (max-width: 560px) {
    pre {
        box-shadow: inset 0 0 0 1px #E4EBF2;
    }
    // Remove min-width for mobile
    .dragging pre,
    .dragging-events pre {
        min-height: initial;
    }
     // Docs pre space
    .docs p + h6,
    .docs p + h3,
    .docs table + h6,
    .docs table + h3,
    .docs .highlight + h3,
    .docs .highlight + h6{
        margin-top: $space48;
    }
    .docs .highlight + h5 {
        margin-top: $space48;
    }
}
@media screen and (max-width: 440px) {
    .basics .code-illustration {
        display: none;
    }
    pre ol li {
        font-size: 11px;
    }
    .with-illustration.layer-positioning-minmax pre {
        min-height: 40px;
    }
}