pre {
    word-wrap: break-word;
    font-size: 13px;
    font-weight: normal;
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased;
    // Spacing
    padding: $space16;
    padding-left: 21px;
    margin-bottom: $space32;
    display:block;
    // Default
    color: #788D9E; 
    background: #fff; 
    box-shadow: inset 0 0 0 1px #E4EBF2, inset 46px 0 0 #FBFDFE, inset 47px 0 0 #E4EBF2; // To-do: make this variables
}
pre, code {
    font-family: 'Menlo', 'Monaco', Courier, monospace; 
}
// Code blocks with illustrations
.with-illustration {
    position: relative;
}
.with-full-illustration {
    width:100%;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}
.dragging pre {
    min-height: 200px;
}
.with-illustration .highlight pre {
     border-radius: 3px 0 0 3px;
}
.code-illustration {
    position: absolute;
    top:0; right:0;
    padding: 16px;
    border-radius: 0 3px 3px 0;
    display: inline-block;
    box-shadow: inset 0 0 0 1px #E4EBF2;
    z-index: 30;
}
.code-illustration.no-border {
    padding:0; box-shadow: none;
}
// Line-specific
.with-illustration.four-lines {
}
.with-illustration.four-lines + .code-illustration {
    padding:26px;
}
.with-illustration.layer-positioning-minmax pre {
    min-height: 160px;
}

// Specifics
.code-illustration-states {
    position: absolute;
    top:0; right:0;
    max-width: 274px; height: auto;
}
.code-illustration-dragging {
    position: absolute;
    top:0; right:0;
    max-width: 300px; height: auto;
}
// Inline code
.inline {
	font-size: 14px;
	color: #333;
    font-family: 'Menlo', 'Monaco', Courier, monospace;
	border-bottom: 1px dotted #ddd;
	padding-bottom: 2px;
}
.o,
.nf { 
    color: #788D9E; // Default
} 
.k { color: #FF9740;} // Orange
.c, 
.cm,
.cp,
.c1,
.cs { color: #A4BDD1; }  // Comment 

.mi, .mf { color: #5BC1F0 } // Blue
.s { 
    color: #8DDE19; // Original Green
    color: #6ED300; // Darker Green
} 

// Custom Line Numbers
pre ol {
    counter-reset: linenumbers;
}
pre ol li {
    line-height: 1.6;
}
pre ol li:before {
    content: counter(linenumbers);
    counter-increment: linenumbers;
    float:left;
    margin-right: $space40;
    font-size: 10px;
    color: #B7CADA;
    position: relative;
    top:1px;
    -webkit-user-select: none; 
    -moz-user-select: none;  
    -ms-user-select: none;     
}
.without-linenumbers pre {
    box-shadow: inset 0 0 0 1px #E4EBF2;
    border-radius: 0 0 3px 3px;
    margin-top: -5px;
}
.without-linenumbers pre ol li:before {
    content:""; margin-right: 0;
}
.without-border pre {
    box-shadow: none;
    padding-left:0;
    padding-top: $space32;
}
// Curves
img.curve-animation {
    border-radius: 3px 3px 0 0;
    position: relative;
    z-index: 10;
}
img.curve {
    margin-top: -5px;
}
@media screen and (max-width: 660px) {
    pre ol li:before {
        content:"";
    }
}