pre {
    word-wrap: break-word;
    font-size: 13px;
    font-weight: normal;
    border-radius: 3px;
    -webkit-font-smoothing: subpixel-antialiased;
    // Spacing
    padding: $space16;
    padding-left: 21px;
    margin-bottom: $space32;
    display:block;
    // Default
    color: #788D9E; 
    background: #fff; 
    box-shadow: inset 0 0 0 1px #E4EBF2, inset 46px 0 0 #FBFDFE, inset 47px 0 0 #E4EBF2; // To-do: make this variables
}
pre, code {
    font-family: 'Menlo', 'Monaco', Courier, monospace; 
}
// Code blocks with illustrations
.with-illustration {
    max-width:638px;
    width:100%;
    display: inline-block;
}
.with-illustration .highlight pre {
     min-height: 108px;
     max-height: 108px;
}
.code-illustration {
    float:right;
    padding: $space24;
    box-shadow: inset 0 0 0 1px #E4EBF2;
    border-radius: 3px;
}
// Inline code
.inline {
	font-size: 14px;
	color: #333;
    font-family: 'Menlo', 'Monaco', Courier, monospace;
	border-bottom: 1px dotted #ddd;
	padding-bottom: 2px;
}
.o,
.nf { 
    color: #788D9E; // Default
} 
.k { color: #FF9740;} // Orange
.c, 
.cm,
.cp,
.c1,
.cs { color: #A4BDD1; }  // Comment 

.mi, .mf { color: #5BC1F0 } // Blue
.s { 
    color: #8DDE19; // Original Green
    color: #6ED300; // Darker Green
} 

// Custom Line Numbers
pre ol {
    counter-reset: linenumbers;
}
pre ol li {
    line-height: 1.6;
}
pre ol li:before {
    content: counter(linenumbers);
    counter-increment: linenumbers;
    float:left;
    margin-right: $space40;
    font-size: 10px;
    color: #B7CADA;
    position: relative;
    top:1px;
    -webkit-user-select: none; 
    -moz-user-select: none;  
    -ms-user-select: none;     
}
@media screen and (max-width: 660px) {
    pre ol li:before {
        content:"";
    }
}