pre {
    background: #1d2026; 
    word-wrap: break-word;
    color: #fff; 
    font-size: 12px;
    font-weight: normal;
    line-height: 1.5;
    border-radius: 4px;
    -webkit-font-smoothing: subpixel-antialiased;
    // Spacing
    padding: $space16;
    margin-bottom: $space32;
    display:block;
}
pre, code {
    font-family: 'Menlo', 'Monaco', Courier, monospace; 
}
code.inline {
	font-size: 14px;
	color: #333;
    font-family: 'Menlo', 'Monaco', Courier, monospace;
	border-bottom: 1px dotted #ddd;
	padding-bottom: 2px;
}
.o { color: #fff; } 
.nf { color: #fff; } // Name.Function 
.k { color: #FF9740;} // Orange
.c { color: #616D85; } // Comment 
.cm { color: #616D85;} // Comment Multiline
.cp { color: #616D85; } // Comment Prepoc
.c1 { color: #616D85; } // Comment Single
.cs { color: #616D85;  } // Comment Special
.mi, .mf { color: #5BC1F0 } // Blue
.s { color: #8DDE19 } // Green

// Custom Line Numbers
pre ol {
    counter-reset: linenumbers;
}
pre ol li:before {
    content: counter(linenumbers);
    counter-increment: linenumbers;
    float:left;
    margin-right: $space16;
    font-size: 10px;
    color: #576172;
    position: relative;
    top:1px;
}


