$text: #666;
$nav-links: #788D9E;
$header: #232C39;
$examples-block: #E8ECEF;
$header-green: #6FC90D;
$banner-importing: #92B0C8;
$logos: #D2D9DF;
$input-button: #C9D7E3;
$sidebar-links: #8EA0AE;

$graphite-blue: #A4BDD1;
$separator: #EFF1F3;

$black: #15181D;
	$black80: #4B4D52;
	$black60: #787A7D;
	$black40: #A5A6A9;
	$black20: #D2D3D4;

$graphite: #616D85; 
	$graphite80: #818B9E;
	$graphite60: #A1A8B6;
	$graphite40: #C0C5CF;
	$graphite20: #E0E2E7;

$blue: #28AFFA;
	$blue80: #53BFFB;
	$blue60: #7ECFFC;
	$blue40: #A9DFFD;
	$blue20: #D4EFFE;

$green: #7DDC16;
	$green80: #97E345;
	$green60: #B1EA74;
	$green40: #CBF1A2;
	$green20: #E5F8D1;

$cyan: #2DD7AA;
	$cyan80: #57DFBB;
	$cyan60: #81E7CC;
	$cyan40: #ABEFDD;
	$cyan20: #D5F7EE;

$purple: #9178E2;
	$purple80: #A793E8;
	$purple60: #BDAEEE;
	$purple40: #D3C9F4;
	$purple20: #E9E4FA;

$white: #fff;
	$white80: rgba( $white, 0.8 );
	$white60: rgba( $white, 0.6 );
	$white40: rgba( $white, 0.4 );
	$white20: rgba( $white, 0.2 );

// Color helper classes
.graphite { color: $graphite; }
.blue { color: $blue; }
.green { color: $green; }
.purple { color: $purple; }
.cyan { color: $cyan; }
nav.top a.green { color: $green; }
nav.top a.blue { color: $blue; }
