body.docs {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	min-width: 600px;
}
// SPACING
.docs p {
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 16px;
}
.docs .highlight + p {
	margin-top: 24px;
}
.docs p.small {
	font-size: 10px;
	color: #a1a8b6;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: .5px;
	font-weight: bold;
	margin-top: -16px; 
}
.docs h3 {
	font-size: 24px;
	font-weight: 300;
	letter-spacing: 0;
}
.docs.subpage h3 {
	margin-bottom: 8px;
}
.docs.subpage h5 {
	font-size: 12px;
}
.docs h6 {
	letter-spacing: 0.2;
	font-size: 17px;
	font-weight: 400;
}
nav.top {
	display: none;
}
.subpage.docs .container {
	padding: 0;
	padding-top: 24px;
	padding-bottom: 24px;
}
.subpage.docs .sidebar {
	margin-top: 0;
	padding-top: 16px;
	padding-left: 16px;
	// height: calc(100% - 64px);
	height: 100%;
	top: 0;
	background: #fff;

	// Match with colors below
	box-shadow: 3px 0 0 #fff, 4px 0 0 #E8E8E8;
	max-width: 240px;
}
.subpage.docs .sidebar::-webkit-scrollbar {
    background: #fff;
	width: 8px;
	box-shadow: -3px 0 0 #fff, -4px 0 0 #E8E8E8;
}
.subpage.docs .sidebar::-webkit-scrollbar-thumb {
	background: #C1C1C1;
	border-radius: 88px;
	width: 8px;
}
.subpage.docs .sidebar::-webkit-scrollbar-track {
	border-radius: 0;
	box-shadow: none;
	background: #fff;
	width:8px;
	margin-top: 3px;
	margin-bottom: 3px;
}
.subpage.docs ul a li {
	font-size: 13px;
	letter-spacing: 0.2px;
	font-weight: 400;
	color: $text;
	@include transition(all, 0.1s, ease);
}
.subpage.docs ul a.section li {
	font-weight: 500;
	font-size: 13px;
	margin-bottom: 8px;
	letter-spacing: 0px;
	text-transform: none;
	opacity: 1;
	color: $black;
}
.subpage.docs ul a:hover li {
	color: $blue;
}
.docs .content-inner {
	max-width: 100%;
	width:100%;
	padding: 0;
}
.docs .align-right {
	max-width: 500px;
	float: none; 
	margin-left: 266px;
}

// Sidebar spacing
.docs .sidebar ul {
	margin-bottom: $space16;
}
.docs .sidebar .section li {
	margin-bottom: $space16;
}

// Link jumps
.docs a[id] {
	position: relative; 
	top: -48px;
	display: block;
	height:0;
}
.docs a[name] {
	position: relative; 
	top: -56px;
	display: block;
	height:0;
}
// Docs pre space
.docs p + h6,
.docs p + h3,
.docs table + h6,
.docs table + h3,
.docs .highlight + h3,
.docs .highlight + h6,
.docs .highlight + h5 {
    margin-top: $space40;
}
// TABLES
.docs table {
	font-size:12px;
	font-weight: 400;
	box-shadow: none;
	padding:0;
}
.docs td:first-child {
	padding-left:0;
}
.docs thead th,
.docs th,
.docs table td.group {
	font-size: 10px;
	font-weight: 600;
	line-height: 1.2;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	background: transparent;
}
.docs thead th, 
.docs th,
.docs table td.group  {
	padding: 8px 16px;
}
.docs th:first-child,
.docs thead th:first-child,
.docs table td.group:first-child {
	padding-left: 0;
}
.docs table td.group {
	padding-bottom: 12px;
}
.docs th {
	opacity: .4;
}
.docs pre ol li {
	font-size: 11px;
}

@media screen and (max-width:980px) {
	 .docs .sidebar {
	 	display: block;
	}
}
@media screen and (max-width: 560px) {
    .content-inner pre ol li:before {
        content: counter(linenumbers);
    }
}
