.full-height { // HTML Class
	height: 100%;
}
body.download {
	background: $header;
	height: 100%;
	min-width: 720px;
	min-height:500px;
}
.download .container {
	height: 100%;
	position: relative;
} 
.download .message {
	text-align: center;
	position: relative;
  	top: 50%;
  	margin: 0 auto;
}
.download .message.register {
	height: 400px;
  	margin-top: -200px;
}
.download .message.thank-you {
	height: 300px;
  	margin-top: -150px;
}
.download p {
	color: $graphite80;
	margin-bottom: $space40;
}
.download p a {
	color: #fff;
}
.download footer {
	display: none;
}
.download img {
	margin-bottom: $space32;
}

.download h5 {
	color: #fff;
	margin-bottom: 4px;
}
.download p {
	color: $text-on-dark;
	opacity: .8;
	max-width: 400px;
	margin: 0 auto $space40 auto;
	line-height: 1.4;
}
.download input {
	outline: none;
	-webkit-appearance: none;
}
.form {
	position: relative;
	margin-top: 40px;
}

.download input {
	border: none;
	width: 380px;
	height: 40px;
	margin: 0 auto;
	border-radius: 3px;
	box-sizing: border-box;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 6px;
	font:14px/1.2 "Fakt", "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: block;
	color: #616367;
	position: relative;
	z-index: 50;
}
.download input ~ input {
	margin-top: 8px;
}
::-webkit-input-placeholder {
   padding-top: 0px;
}
.download input::selection {
    background: #28AFFA;
    color: #fff;
}
.download button {
	background: #28AFFA;
	font: 600 12px/1 "Fakt", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 1px;
	border: none;
	height: 40px;
	width: 120px;
	padding-top:7px;
	border-radius: 3px;
	cursor: pointer;
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	margin-top: 40px;
}
// Blue button
.download button:hover {
	background: #3EB7FB;
}
.download button:active {
	background: #28AFFA;
}
// Green button
.download button.green {
	background: #6FC90D;
	width:120px;
}
.download button.green:hover {
	background: #7DDC16;
}
.download button.green:active {
	background: #6FC90D;
}
/* Error States */
.submit-error {
	background: #393440;
	color: #FF8080;
	font-size: 12px; 
	font-weight: 600;
	border-radius:3px;
	box-sizing: border-box;
	padding: 16px 0 0 16px;
	text-align: left;
	z-index: 10;

	width: 380px;
	height: 40px;
	margin: 0 auto;
	margin-top: -40px;

	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.submit-error.show {
	margin-top: 8px;
}