.full-height { // HTML Class
	height: 100%;
}
body.error {
	background: $header;
	height: 100%;
}
.error .container {
	height: 100%;
	position: relative;
} 
.error .message {
	text-align: center;
	height: 120px;
	position: relative;
  	top: 50%;
  	@include transform(translateY(-50%));
  	margin: 0 auto;
}
.error h2 {
	color: #fff;
	margin-bottom: $space24;
}
.error footer {
	display: none;
}