table {
	width:100%;
	font-size:16px;
	line-height:1.6;
	border-radius: 4px;
	border-spacing: 0;
	margin-bottom: $space24;
	border-collapse: collapse;
	border-style: hidden;
	box-shadow: 0 0 0 1px #E4EBF2;
}
td {
	padding:$space8 $space16; 
	color: $text;
	position: relative;
}
td, th {
	border:1px solid $separator;
}
thead th, th {
	text-align:left;
	padding:12px 15px 9px;
	font-size:12px; 
	font-weight:600;
	cursor:default; 
	white-space:nowrap;
	line-height: 1.2; 
	border-radius: 3px 3px 0 0; 
	text-transform: uppercase;
	letter-spacing: 0.5px;
	background: #FBFDFE;
}
table .dim {
	color: #999;
}
table td:first-child {
	color: #333; font-size: 13px; font-weight:400;
	font-family: 'Menlo', 'Monaco', Courier, monospace;
}
table.compatibility td:first-child {
	color: #666;
}
table.api td.group, table.compatibility td.group {
	text-transform: uppercase;
	font-size: 12px; 
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 2; 
	padding: $space16;
	position: relative;
	bottom: -2px;
	color: #333;
}
tbody {
	position: relative;
}
th.examples {
	position: absolute; right: 0; 
}
td.examples {
	width: auto; 
	text-align: right;
	white-space: nowrap;
}
td a {
	font-weight: 600;
}
td a+a:before {
	content: "\b7"; display: inline-block; margin-right: 4px; font-weight: 500; opacity: .5;
}
@media screen and (max-width: 440px) {
	table, thead, tbody, th, td, tr { 
		display: block; 
		border: none;
		box-shadow: none;
	}
	th, 
	th.examples, 
	td.examples,
	tr:first-child,
	td:after  { 
		display:none;
	}

	table td, td {
		padding-left:0; 
	}
	table:first-child {
		margin-top: -$space32;
	}
	table.api td.group, table.compatibility td.group {
		position: static;
		padding:$space8 0; 
	}
	td { 
		border: none;
		position: relative;
		padding-left: 0;
	}
	table.api td:first-child {
		color: $black; font-size: 12px; 
	}
	tr>td {
		border-top:none;
	}
	tr {
		padding:10px 0; 
		border-bottom: 1px solid #eee;
	}
	tr:last-child {
		border-bottom: none;
		padding-bottom: 0;
	}
	table td, td {
		padding:0; 
	}
}
