table {
	width:100%;
	border-collapse: separate;
	font-size:14px;
	line-height:1.6;
	border: 1px solid #eee;
	border-radius: 6px;
	overflow: hidden;
	font-weight: 400;
	vertical-align: bottom;
	position: relative;
}
table td, td {
	border-spacing:none; 
	border-style:solid;
	padding:$space8 $space16; 
	color: $text;
	position: relative;
}
tr>td {
	border-top:1px solid #eee;
}
// Faking borders on all elements - hacky
td:after {
	content: ""; display: inline-block;
	width: 300%; height: 1px; 
	background: #eee; position: absolute; top: -1px; 
	right: -200px; z-index: 300;
}
thead th, th {
	text-align:left;
	padding:12px 15px 9px;
	font-size:12px; 
	font-weight:600;
	color:#bbb; 
	cursor:default; 
	white-space:nowrap;
	line-height: 1.2; 
	border-radius: 6px 6px 0 0; 
	text-transform: uppercase;
	letter-spacing: 0.5px;
}
table .dim {
	color: #999;
}
table.api td:first-child {
	color: #333; font-size: 13px; font-weight:400;
	font-family: 'Menlo', 'Monaco', Courier, monospace;
}
table.compatibility td:first-child {
	color: #666;
}
table.api td.group, table.compatibility td.group {
	text-transform: uppercase;
	font-size: 12px; 
	font-weight: 600;
	letter-spacing: 1px;
	line-height: 2; 
	padding: $space16;
	position: relative;
	bottom: -2px;
	color: #333;
}
tbody {
	position: relative;
}
th.examples {
	position: absolute; right: 0; 
}
td.examples {
	width: auto; 
	text-align: right;
	white-space: nowrap;
}
td a {
	font-weight: 600;
}
td a+a:before {
	content: "\b7"; display: inline-block; margin-right: 4px; font-weight: 500; opacity: .5;
}