$space-8:   8px;
$space-16: 16px;
$space-24: 24px;
$space-32: 32px;
$space-40: 40px;
$space-48: 48px;
$space-56: 56px;
$space-64: 64px;
$space-72: 72px;
$space-80: 80px;
$space-88: 88px;
$space-88: 96px;
