{% extends "base.html" %}
{% block content %}

<script type="text/javascript" charset="utf-8">
	
	// Redirect table
	var redirects = {
		"/learn.html": "/learn",
		"/more.html": "/faq",
		"/docs.html": "/docs",
		"/framerjs": "/",
	}

	// Location path without trailing slash (eg: "/learn/" -> "/learn")
	var path = window.location.pathname.replace(/\/$/, "")
	var hash = window.location.hash

	if (redirects.hasOwnProperty(path)) {
		window.location.replace(redirects[path] + hash)
	}

</script>

<div class="content-inner">
<p>
	Sorry this page could not be found on this server.
</p>
</div>
{% endblock %}
