{% extends "base.html" %}
{% block currentpage %}class="home"{% endblock currentpage %}
{% block hide %}hide{% endblock hide %}

{% block content %}

	<header class="block header">
		<div class="content-inner center">
			<h1>Invent, design and experiment with interaction</h1>
			<a class="btn green" href="http://studio.update.framerjs.com/static/downloads/Framer%20Studio-1.0.156.tar.gz">Free Trial</a>
			<form method="POST" action="http://sites.fastspring.com/podium/product/framerstudio?action=order" target="_top">
				<input class="blue" type="submit" value="Buy $79.99" />
			</form>

			<figure class="ss-framer">
				<img src="/static/images/home/ss-framer.png" srcset="/static/images/home/ss-framer@2x.png 2x" draggable="false">
				<!--<figure class="code-draw"></figure> <figure class="code-draw-two"></figure>-->
			</figure>
				
				<!--<section class="video-wrapper">
					<video id="carousel-inapp" width="100%">
						<source src="/static/images/carousel-inapp.mp4" type="video/mp4" />
						<source src="/static/images/carousel-inapp.ogv" type="video/ogg">
					</video>
				</section>-->
		</div> <!--inner-->
	</header>
	
	<div class="content-inner">
		<section class="screenshot-copy clearfix">
			<li class="col-2 center">
				<h3>Innovative Prototyping</h3>
				<p class="subtitle">Framer is a new type of creative tool to build interaction and animation prototypes.</p>
				<a class="btn btn-line blue" href="/learn.html">Learn Framer</a>
			</li>
			<li class="col-2 center">
				<h3>Rapid Experimentation</h3>
				<p class="subtitle">Connect pixels to behavior and discover exciting new forms of product design.</p>
				<a class="btn btn-line blue" target="_blank" href="http://examples.framerjs.com">View Examples</a>
			</li>		
		</section> <!--screenshot-copy-->
			
		<hr>
			
		<section class="framer-overview clearfix">
			<section class="col-4">
				<h5 class="blue"><figure class="icon-code"></figure>Code</h5>
				<p>Built on <a href="#">Framer.js</a>, an open source framework for rapid prototyping. Low learning curve with CoffeeScript.</p>
			</section>
			<section class="col-4">
				<h5 class="green"><figure class="icon-preview"></figure>Preview</h5>
				<p>Instant visual feedback while you're working. Runs great on iOS and Android with a WebKit browser.</p>
			</section>
			<section class="col-4">
				<h5 class="purple"><figure class="icon-interaction"></figure>Interaction</h5>
				<p>Use state machines to define properties and set up complex interactions. Full gesture support.</p>
			</section>
			<section class="col-4">
				<h5 class="cyan"><figure class="icon-animation"></figure>Animation</h5>
				<p>Animate any object in 3D space with spring physics. Hardware accelerated for 60 frames per second. </p>
			</section>
		</section> <!--framer-overview-->
		
	</div> <!--content-inner-->
	
	<section class="block examples">
		<div class="content-inner">
			<section class="devices">
				<a class="device-left" target="_blank" href="http://examples.framerjs.com/#google-now-overview.framer">
					<img src="/static/images/home/device-left.png" srcset="/static/images/home/device-left@2x.png 2x" draggable="false">
				</a>
				<a class="device-mid" target="_blank" href="http://examples.framerjs.com/#carousel-onboarding.framer">
					<img src="/static/images/home/device-mid.png" srcset="/static/images/home/device-mid@2x.png 2x" draggable="false">
				</a>
				<a class="device-right" target="_blank" href="http://examples.framerjs.com/#potluck-onboarding.framer">
					<img src="/static/images/home/device-right.png" srcset="/static/images/home/device-right@2x.png 2x" draggable="false">
				</a>
			</section>
		
		</div> <!--content-inner-->
	</section> <!--example-block-->

	<section class="used-by content-inner clearfix">
		<div class="footnote-line"></div>
		<p class="footnote">Companies that prototype with Framer</p>
		<section>
			<figure class="logo-dropbox"></figure>
			<figure class="logo-google"></figure>
			<figure class="logo-twitter"></figure>
			<figure class="logo-facebook"></figure>
			<figure class="logo-apple"></figure>
			<figure class="logo-instagram"></figure>
			<figure class="logo-spotify"></figure>
			<figure class="logo-stripe"></figure>
			<figure class="logo-adobe"></figure>
			<figure class="logo-groupon"></figure>
		</section>
	</section> <!--used-by-->

		<hr>
		
	<section class="feature-banners content-inner clearfix">
		<figure class="banner-importing col-2">
			<h5>Import files from Sketch, Photoshop or After Effects and turn them into interactive prototypes.</h5>
			<a class="btn btn-line white" href="#">Learn More</a>
		</figure>
		<figure class="banner-mirror col-2">
			<h5>Preview your prototype in realtime on any iOS or Android device with a WebKit browser.</h5>
			<a class="btn blue" href="#">Learn More</a>
		</figure>
	</section>

	<!-- 	<footer class="footer center">
				<h1><span>Innovative</span> Prototyping</h1>
				<h2>Start working with Framer Studio today</h2>
				<a class="btn blue" href="http://studio.update.framerjs.com/static/downloads/Framer%20Studio-1.0.156.tar.gz">Free Trial</a>
		
				<form method="POST" action="http://sites.fastspring.com/podium/product/framerstudio?action=order" target="_top">
					<input type="submit" value="Buy $79" /> </form>
				<section>
					<a href="/framerjs" class="small">Framer.js is open source</a>
				</section>
		</footer> -->

	</div> <!--content-inner-->

{% endblock content%}