{% extends "base.html" %}
{% block currentpage %}class="home"{% endblock currentpage %}
{% block ishome %}active{% endblock %}
{% block hide %}hide{% endblock hide %}

{% block content %}
	<header class="block header">
		<div class="content-inner center">
			<h1>Invent, design and experiment with interaction</h1>
			<a class="btn green prepare-download" href="http://studio.update.framerjs.com/archive">Free Trial</a>
			<form method="POST" action="http://sites.fastspring.com/podium/product/framerstudio?action=order" target="_top">
				<input class="blue" type="submit" value="Buy $79.99" />
			</form>
			<p class="copy">Available on Mac</p>
			<figure class="ss-framer">
				<img src="/static/images/home/ss-framer.jpg" srcset="/static/images/home/ss-framer@2x.jpg 2x" draggable="false">
				<section class="ss-video">
					<video width="100%" autoplay>
						<source src="/static/images/home/carousel-inapp.mp4" type="video/mp4">
						<source src="/static/images/home/carousel-inapp.ogv" type="video/ogg">
					</video>
				</section> <!--video-wrapper-->
			</figure>
		</div> <!--content-inner-->
	</header>
	
	<div class="content-inner">
		<section class="screenshot-copy clearfix">
			<li class="col-2 caption center">
				<h4>Innovative Prototyping</h4>
				<p class="subtitle">Framer is a new creative tool to build interaction and animation prototypes.</p>
				<a class="btn btn-line blue" href="/learn/basics">Learn Framer</a>
			</li>
			<li class="col-2 caption center">
				<h4>Rapid Experimentation</h4>
				<p class="subtitle">Connect pixels to behavior and discover exciting new ways of interaction design.</p>
				<a class="btn btn-line blue" href="/docs">Read Docs</a>
			</li>		
		</section> <!--screenshot-copy-->
			
		<hr>
			
		<section class="framer-overview clearfix">
			<section class="col-4">
				<h5 class="blue"><figure class="icon-code"></figure>Code</h5>
				<p>Built on <a href="https://github.com/koenbok/Framer">Framer.js</a>, an open source prototyping framework. Low learning curve with CoffeeScript.</p>
			</section>
			<section class="col-4">
				<h5 class="green"><figure class="icon-preview"></figure>Preview</h5>
				<p>Instant visual feedback while you're working. Runs great on iOS and Android with a WebKit browser.</p>
			</section>
			<section class="col-4">
				<h5 class="purple"><figure class="icon-interaction"></figure>Interaction</h5>
				<p>Use state machines to define properties and set up complex interactions. Full gesture support.</p>
			</section>
			<section class="col-4">
				<h5 class="cyan"><figure class="icon-animation"></figure>Animation</h5>
				<p>Animate any object in 3D space with spring physics. Hardware accelerated for 60 frames per second. </p>
			</section>
		</section> <!--framer-overview-->
	</div> <!--content-inner-->
	
	<section class="block examples">
		<div class="content-inner">
			<section class="devices">
				<a class="device-left" target="_blank" href="http://examples.framerjs.com/#google-now-overview.framer">
					<img src="/static/images/home/device-left.png" srcset="/static/images/home/device-left@2x.png 2x" draggable="false">
				</a>
				<a class="device-mid" target="_blank" href="http://examples.framerjs.com/#carousel-onboarding.framer">
					<img src="/static/images/home/device-mid.png" srcset="/static/images/home/device-mid@2x.png 2x" draggable="false">
					<section class="device-video">
						<video width="100%" id="carousel-video-examples">
							<source src="/static/images/home/carousel.mp4" type="video/mp4">
							<source src="/static/images/home/carousel.ogv" type="video/ogg">
						</video>
					</section> <!--device-video-->
				</a>
				<a class="device-right" target="_blank" href="http://examples.framerjs.com/#potluck-onboarding.framer">
					<img src="/static/images/home/device-right.png" srcset="/static/images/home/device-right@2x.png 2x" draggable="false">
				</a>
			</section>
		</div> <!--content-inner-->
	</section> <!--example-block-->

<div class="content-inner">

	<section class="examples-caption caption center">
		<h4>High Fidelity Prototypes</h4>
		<p class="subtitle">Prototyping encourages exploration and helps designers at <a href="http://examples.framerjs.com/#google-now-overview.framer" target="_blank">Google</a>, <a href="http://examples.framerjs.com/#carousel-onboarding.framer" target="_blank">Dropbox</a> and <a href="https://dribbble.com/tags/framer" target="_blank">tons of others</a> to effectively communicate concepts.</p>
		<a class="btn btn-line blue" href="http://examples.framerjs.com">View examples</a>
	</section>

	<section class="feature-banners clearfix">
		<a href="/learn/import" class="banner-importing col-2">
			<section>
				<h5>Import files from Sketch, Photoshop or After Effects and turn them into interactive prototypes.</h5>
				<div class="btn btn-line white">Learn more</div>
			</section>
		</a>
		<a href="/learn/preview" class="banner-mirror col-2">
			<section>
				<h5>Preview your prototype in realtime on any iOS or Android device with a WebKit browser.</h5>
				<div class="btn btn-line white">Learn more</div>
			</section>
		</a>
	</section>

	<section class="feature-summary clearfix">
			<section class="col-4">
				<ul>
					<li><h5 class="blue"><figure class="icon-general"></figure>General</h5></li>
					<li>
						<p class="title">Visual Feedback</p>
						<p>Changes are rendered in the viewer and on the device.</p>
					</li>
					<li>
						<p class="title">Present</p>
						<p>Use the full screen mode for an immersive demo.</p>
					</li>
					<li>
						<p class="title">Multiple Devices</p>
						<p>iPhones, iPads, Nexus, HTC One, Apple Watch and more.</p>
					</li>
					<li>
						<p class="title">Zoom &amp; Rotate</p>
						<p>Work in any orientation, specific pixel density or zoom to fit.</p>
					</li>
				<ul>
			</section>
			<section class="col-4">
				<ul>
					<li><h5 class="green"><figure class="icon-workflow"></figure>Workflow</h5></li>
					<li>
						<p class="title">Snippets</p>
						<p>Small re-usable codeblocks to speed up your workflow.</p>
					</li>
					<li>
						<p class="title">CoffeeScript</p>
						<p>A much more legible and minimal way to write JavaScript.</p>
					</li>
					<li>
						<p class="title">Inline Errors</p>
						<p>Discover errors and inspect them with Web Inspector.</p>
					</li>
					<li>
						<p class="title">Auto-Complete</p>
						<p>Including functions, properties and variables you define.</p>
					</li>
				<ul>
			</section>
			<section class="col-4">
				<ul>
					<li><h5 class="purple"><figure class="icon-features"></figure>Features</h5></li>
					<li>
						<p class="title">Filters</p>
						<p>Blur, brightness, contrast, hue, invert and saturation.</p>
					</li>
					<li>
						<p class="title">Spring Physics</p>
						<p>Linear, easing and three different spring physic engines.</p>
					</li>
					<li>
						<p class="title">3D Effects</p>
						<p>All properties can be manipulated in 3D space.</p>
					</li>
					<li>
						<p class="title">State Machine</p>
						<p>Set up complex interactions with multiple animating properties.</p>
					</li>
				<ul>
			</section>
			<section class="col-4">
				<ul>
					<li><h5 class="cyan"><figure class="icon-more"></figure>More</h5></li>
					<li>
						<p class="title">Webkit 2.0</p>
						<p>Built on the latest, fastest web technology.</p>
					</li>
					<li>
						<p class="title">Export</p>
						<p>Share your .framer project folder for quick and easy collaboration.</p>
					</li>   
					<li>
						<p class="title">Midi-Support</p>
						<p>Connect a device and control your prototypes live.</p>
					</li>
					<li>
						<p class="title">Drag &amp; Drop</p>
						<p>Images from Desktop or Sketch directly on the viewer.</p>
					</li>

				<ul>
			</section>
		</section> <!--framer-overview-->

		<section class="logo-string clearfix">
			<section>
				<figure class="logo-dropbox"></figure>
				<figure class="logo-google"></figure>
				<figure class="logo-twitter"></figure>
				<figure class="logo-facebook"></figure>
				<figure class="logo-apple"></figure>
				<figure class="logo-instagram"></figure>
				<figure class="logo-spotify"></figure>
				<figure class="logo-stripe"></figure>
				<figure class="logo-adobe"></figure>
				<figure class="logo-groupon"></figure>
				<figure class="logo-pinterest"></figure>
			</section>
		</section> <!--used-by-->

		<hr>
		
	 	<footer class="footer center">
	 		<img src="/static/images/home/app-icon.png" srcset="/static/images/home/app-icon@2x.png 2x" draggable="false">
			
			<h2>Start building prototypes today</h2>

			<a class="btn green prepare-download" href="http://studio.update.framerjs.com/archive">Free Trial</a>
			<form method="POST" action="http://sites.fastspring.com/podium/product/framerstudio?action=order" target="_top">
				<input class="btn blue" type="submit" value="Buy $79.99" /> 
			</form>
		</footer> 
	</div> <!--content-inner-->
{% endblock content%}