{% extends "base.html" %}
{% block currentpage %}class="home"{% endblock currentpage %}
{% block hide %}hide{% endblock hide %}

{% block content %}

	<header class="block header">
		<div class="content-inner center">
			<h1>Innovative Prototyping</h1>
			<a class="btn  btn-line blue" href="http://studio.update.framerjs.com/static/downloads/Framer%20Studio-1.0.156.tar.gz">Free Trial</a>
			<form method="POST" action="http://sites.fastspring.com/podium/product/framerstudio?action=order" target="_top">
				<input class="btn-line green" type="submit" value="Buy $79.99" />
			</form>

			<figure class="ss-framer">
				<img src="/static/images/home/ss-framer.png" srcset="/static/images/home/ss-framer@2x.png 2x">
				<!--<figure class="code-draw"></figure> <figure class="code-draw-two"></figure>-->
			</figure>
				
				<!--<section class="video-wrapper">
					<video id="carousel-inapp" width="100%">
						<source src="/static/images/carousel-inapp.mp4" type="video/mp4" />
						<source src="/static/images/carousel-inapp.ogv" type="video/ogg">
					</video>
				</section>-->
		</div> <!--inner-->
	</header>
	
	<div class="content-inner">
		<section class="screenshot-copy clearfix">
			<li class="col-2">
				<h2>Innovative Prototyping</h2>
				<p class="subtitle">Framer is a new type of creative tool to build interaction and animation prototypes.</p>
				<a class="btn btn-line blue" href="#">Learn more</a>
			</li>
			<li class="col-2">
				<h2>Experiment Rapidly</h2>
				<p class="subtitle">Connect pixels to behavior and discover exciting new forms of product design.</p>
				<a class="btn btn-line blue" href="#">Documentation</a>
			</li>		
		</section> <!--screenshot-copy-->
			
		<hr>
			
		<section class="framer-overview clearfix">
			<section class="col-4">
				<h5 class="blue"><figure class="icon-code"></figure>Code</h5>
				<p>Built on <a href="#">Framer.js</a>, an open source framework for rapid prototyping. Low learning curve with CoffeeScript.</p>
			</section>
			<section class="col-4">
				<h5 class="green"><figure class="icon-preview"></figure>Preview</h5>
				<p>Instant visual feedback while you're working. Runs great on iOS and Android with a WebKit browser.</p>
			</section>
			<section class="col-4">
				<h5 class="purple"><figure class="icon-interaction"></figure>Interaction</h5>
				<p>Use state machines to define properties and set up complex interactions. Full gesture support.</p>
			</section>
			<section class="col-4">
				<h5 class="cyan"><figure class="icon-animation"></figure>Animation</h5>
				<p>Animate any object in 3D space with spring physics. Hardware accelerated for 60 frames per second. </p>
			</section>
		</section> <!--framer-overview-->
		
	</div> <!--content-inner-->
	
	<section class="block examples">
		<div class="content-inner">
			<section class="devices">
				<a class="device-left" target="_blank" href="http://examples.framerjs.com/#google-now-overview.framer">
					<img src="/static/images/home/device-left.png" srcset="/static/images/home/device-left@2x.png 2x">
				</a>
				<a class="device-mid" target="_blank" href="http://examples.framerjs.com/#carousel-onboarding.framer">
					<img src="/static/images/home/device-mid.png" srcset="/static/images/home/device-mid@2x.png 2x">
				</a>
				<a class="device-right" target="_blank" href="http://examples.framerjs.com/#potluck-onboarding.framer">
					<img class="2x" src="/static/images/home/device-right.png" srcset="/static/images/home/device-right@2x.png 2x">
				</a>
			</section>
		
		</div> <!--content-inner-->
	</section> <!--example-block-->

	<section class="used-by content-inner clearfix">
		<figure class="logo-dropbox"></figure>
		<figure class="logo-google"></figure>
		<figure class="logo-twitter"></figure>
		<figure class="logo-facebook"></figure>
		<figure class="logo-apple"></figure>
		<figure class="logo-instagram"></figure>
		<figure class="logo-spotify"></figure>
		<figure class="logo-stripe"></figure>
		<figure class="logo-adobe"></figure>
		<figure class="logo-groupon"></figure>
		<p class="footnote">Companies that prototype with Framer</p>
		<div class="footnote-line"></div>
	</section> <!--used-by-->

	<div class="content-inner clearfix">	
	</div> <!--inner-->

	<div class="content-inner">
		<hr>

		<h2>When prototyping, you're not only considering how your design looks, but also how it feels.</h2>

		<hr>
		
		<section class="start clearfix">
			<section class="col-2">
				<img class="2x" src="/static/images/generate.png">
			</section>

			<section class="col-2">
				<h3>Integrated Workflow</h3>
				<p>Framer Studio has Photoshop & Sketch integration, allowing you to import layers directly from your static designs and turn them into interactive prototypes.</p>
			</section>
		</section> <!--start block -->
			
	</div> <!--inner-->
	
	<section class="block interaction">
		<div class="content-inner clearfix">
			<h1>Invent Interactions</h1>
			
			<div class="module-600">
				<h2>Embrace code for flexibility with an editor that makes coding efficient and enjoyable.</h2>
			</div>

			<section class="col-2"><figure class="ss-half"></figure></section>
			<section class="col-2">
				<li class="feature"><img class="2x" src="/static/images/icon-cs.png" width="14px">
				<h5>CoffeeScript</h5>
				<p>Framer Studio uses CoffeeScript, a much more legible and minimal way to write JavaScript.</p></li>
				
				<li class="feature"><img class="2x" src="/static/images/icon-snippets.png" width="20">
				<h5>Snippets</h5>
				<p>Framer Studio comes with a built-in snippet library. Add layers and interactions with a single click.</p></li>
				
				<li class="feature"><img class="2x" src="/static/images/icon-autocomplete.png" width="16px">
				<h5>Auto-Complete</h5>
				<p>Optimized for Framer. Includes all functions, properties, variables and layer names you have set.</p></li>
				
				<li class="feature"><img class="2x" src="/static/images/icon-errors.png" width="16px">
				<h5>Inline Errors</h5>
				<p>Quickly find out what is going wrong. Dive deep with the built-in JavaScript console.</p></li>
			</section> <!--col-2-->
		</div> <!--inner-->
	</section> <!--interaction-block -->
	
	<section class="viewer">
		<div class="content-inner clearfix">
			<h1>Create Anything</h1>
			<h2>Instant interactive visual feedback, multiple devices and a full-screen presentation mode.</h2>
		
			<section class="col-2"><figure class="ss-half col-2"></figure></section>
			<section class="col-2">
				<li class="feature"><img class="2x" src="/static/images/icon-present.png" width="16px">
				<h5>Present</h5>
				<p>Use the full screen presentation mode for an immersive demo of your prototype.</p></li>
				
				<li class="feature"><img class="2x" src="/static/images/icon-preview.png" width="20px">
				<h5>Preview</h5>
				<p>Get instant pixel perfect previews while you are building. Customize view modes per project.</p></li>
				
				<li class="feature"><img class="2x" src="/static/images/icon-devices.png" width="12px">
				<h5>Devices</h5>
				<p>Preview your prototypes on iPhone, iPad, Android or full-screen.</p></li>
				
				<li class="feature"><img class="2x" src="/static/images/icon-share.png" width="14px">
				<h5>Share</h5>
				<p>Quickly export your project to upload anywhere. Share Framer projects for easy collaboration.</p></li>
			</section><!--right-->
			
		</div> <!--inner-->
		</section> <!--viewer-block -->
	
	<div class="content-inner">		
	
	<hr>
	<h2>Prototyping encourages exploration and helps designers effectively communicate concepts.</h2>
	<hr>
	

	<section class="footer-features clearfix">
		<div class="grid">
			<section class="col-4">
				<ul>
					<li>Visual feedback</li>
					<li>Presentation Mode</li>
					<li>Multiple Devices</li>
					<li>Zoom & Scale</li>
					<li>Web Inspector</li>
					<li>Generator</li>
				</ul>
			</section>
			<section class="col-4">
				<ul>
					<li>Snippets</li>
					<li>CoffeeScript</li>
					<li>Drag ’n Drop Images</li>
					<li>Inline Errors</li>
					<li>Auto-Complete</li>
					<li>State Machine</li>
				</ul>
			</section>
			
			<section class="col-4">
				<ul>
					<li>Midi-Support</li>
					<li>Self-contained projects</li>
					<li>Adjust Auto-Refresh</li>
					<li>Full Javascript console</li>
					<li>Export to .framer</li>
					<li>Based on WebKit</li>
				</ul>
			</section>

			<section class="col-4">
				<ul>
					<li>Midi-Support</li>
					<li>Self-contained projects</li>
					<li>Adjust Auto-Refresh</li>
					<li>Full Javascript console</li>
					<li>Export to .framer</li>
					<li>Based on WebKit</li>
				</ul>
			</section>
		</div> <!--grid-->
	</section> <!--footer-features-->
	
	<hr>
	
	<footer class="footer center">
			<h1><span>Innovative</span> Prototyping</h1>
			<h2>Start working with Framer Studio today</h2>
			<a class="btn blue" href="http://studio.update.framerjs.com/static/downloads/Framer%20Studio-1.0.156.tar.gz">Free Trial</a>
	
			<form method="POST" action="http://sites.fastspring.com/podium/product/framerstudio?action=order" target="_top">
				<input type="submit" value="Buy $79" /> </form>
			<section>
				<a href="/framerjs" class="small">Framer.js is open source</a>
			</section>
	</footer>
	</div> <!--inner-->

{% endblock content%}