<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">
	<link rel="stylesheet" href="{% static '/css/style.css' %}">

	{% block header %}
	<title>{% block title %}Framer Style Guide{% endblock %}</title>
	{% endblock header %}

</head>
<body {% block isindex %}class="home"{% endblock %}>
	<nav class="top">
		<ul>
			<li class="framer">Framer</li>
			<section class="right">
				<li><a href="#">Features</a></li>
				<li><a href="#">Examples</a></li>
				<li><a href="#">Learn</a></li>
				<li><a href="#">Docs</a></li>
				<li><a href="#">Buy $79.99</a></li>
			</section>
		</ul>
	</nav>

	<section class="container">
	{% block content %}
	{% endblock content %}
	</section>

	{% block scripts %}
	<script src="//code.jquery.com/jquery.min.js"></script>
	<script src="{% static '/js/main.js' %}"></script>
	{% endblock scripts%}
</body>
</html>