<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	{% include 'social.html' %}
	<link rel="shortcut icon" href="/static/images/favicon.ico?v=">
	<link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">
	<link rel="stylesheet" href="{% static '/css/style.css' %}">

	<title>{% block title %}Framer – Innovative Prototyping{% endblock %}</title>

	<script type="text/javascript">
		window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["identify","track"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
		heap.load("1699555609");
	</script>
</head>

<body {% block currentpage %}{% endblock %}>
	<nav class="top">
		<ul class="content-inner">
			<li class="framer"><a href="/">Framer</a></li>
			<li class="{% block islearn %}{% endblock %}"><a href="/learn.html">Learn</a></li>
				<li class="{% block isdocs %}{% endblock %}"><a href="/docs.html">Docs</a></li>
				<li><a href="http://examples.framerjs.com" target="_blank">Examples</a></li>
				<li class="community"><a href="https://www.facebook.com/groups/framerjs/" target="_blank">Community</a></li>
				<li class="github"><a href="https://github.com/koenbok/Framer" target="_blank">Github</a></li>
			<section class="right">
				<li class="download"><a class="green" href="#">Free Trial</a></li>
				<li class="buy"><form method="POST" action="http://sites.fastspring.com/podium/product/framerstudio?action=order" target="_top"><input type="submit" value="Buy $79.99" /></form></li>
			</section> <!--right-->
			<!-- <li><a href="http://framerjs.tumblr.com" target="_blank">Blog</a></li>
				<li class="{% block ismore %}{% endblock %}"><a href="/more.html">More</a></li>-->			
		</ul>
	</nav>

	<section class="container">
		{% block content %}
		{% endblock content %}
		<div class="content-inner">
			{% block pages %}
			{% endblock pages %}
		</div>
	</section>

	<footer class="global">
		<div class="content-inner">
			<p class="small">Framer.js is <a href="https://github.com/koenbok/Framer">open source</a> – Site built with <a href="http://www.cactusformac.com" target="_blank">Cactus</a><br>Copyright &copy; 2014 Podium BV</p>
		</div>
	</footer>

	{% block scripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static '/js/main.js' %}"></script>
	<script src="{% static '/js/analytics.js' %}"></script>
	<script src="{% static '/js/srcset.min.js' %}"></script>
	{% endblock scripts %}
</body>
</html>