<!doctype html>
<html {% block height %}{% endblock %}>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	
	{% include 'social.html' %}

	<link rel="shortcut icon" href="/static/images/favicon.ico">
	<link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">
	
	{% include 'fonts.html' %}

	<link rel="stylesheet" href="{% static '/css/style.css' %}">

	<title>{% block title %}Framer - Prototype Interaction and Animation{% endblock %}</title>

</head>

<body {% block currentpage %}{% endblock %}>
	<nav class="top">
		<ul>
			<li class="{% block ishome %}{% endblock %} framer"><a href="/">Framer</a></li>
			<section class="nav-items">
				<li class="{% block islearn %}{% endblock %}"><a href="/learn/basics">Learn</a></li>
					<li class="{% block isdocs %}{% endblock %}"><a href="/docs">Docs</a></li>
					<li><a href="http://examples.framerjs.com" target="_blank">Examples</a></li>
					<li class="community"><a href="https://www.facebook.com/groups/framerjs/" target="_blank">Community</a></li>
					<li class="github"><a href="https://github.com/koenbok/Framer" target="_blank">Github</a></li>

				<section class="right">
					<li class="download prepare-download"><a class="green" href="http://studio.update.framerjs.com/archive">Free Trial</a></li>
					<li class="buy">
						<form method="POST" action="http://sites.fastspring.com/podium/product/framerstudio?action=order" target="_top"><input type="submit" value="Buy $79.99" />
						</form>
					</li>
				</section> <!--right-->
			</section> <!--nav-items-->	
		</ul>
	</nav> <!--nav.top-->

	<section class="container">
		{% block content %}
		{% endblock content %}
		<div class="content-inner">
			{% block pages %}
			{% endblock pages %}
		</div>
	</section>

	<footer class="global">
		<div class="content-inner">
			<section class="right">
				<form action="http://podium.createsend.com/t/d/s/jujtid/" method="post">
			        <input id="fieldEmail" name="cm-jujtid-jujtid" type="email" placeholder="Enter email for updates" required />
			        <button type="submit"><div class="icon-arrow"></div></button>
				</form>
				<p class="copy">Secure and spam-free</p>
			</section>
			<section class="left">
				<nav>
					<li><a href="http://framerjs.tumblr.com" target="_blank">Blog</a></li>
					<li><a href="https://twitter.com/framerjs" target="_blank">Twitter</a></li>
					<li><a href="https://vimeo.com/channels/framer" target="_blank">Vimeo</a></li>
					<li><a href="/faq">FAQ</a></li>
				</nav>
				<p class="copy">Copyright &copy; 2014 Podium BV</p>
			</section>
		</div>
	</footer> <!--footer.global-->

	{% block scripts %}
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="{% static '/js/main.js' %}"></script>
	<script src="{% static '/js/analytics.js' %}"></script>
	<script src="{% static '/js/srcset.min.js' %}"></script>
	{% endblock scripts %}
</body>
</html>