{% extends "base.html" %}
{% block currentpage %}class="subpage docs"{% endblock currentpage %}

{% block pageheader %}
<header class="page-header">
	<div class="content-inner">
		<h1>Documentation</h1>
		<h2 class="col-2">A complete reference</h2>
	</div>
</header>
{% endblock pageheader %}

{% block content %}
<div class="content-inner">
{% block sidebar %}
{% endblock sidebar %}

<div class="align-right clearfix">
{% block body %}
{% endblock body %}
</div> <!--align-right-->
</div> <!--content-inner-->
{% endblock content %}
