{% extends "base.html" %}
{% block currentpage %}class="subpage learn"{% endblock currentpage %}

{% block pageheader %}
<header class="page-header">
	<div class="content-inner">
		<h1>Start prototyping</h1>
		<h2 class="col-2">Learn how to create interactive prototypes with Framer</h2>
		<img class="learn-banner" src="/static/images/learn/learn-banner.png" srcset="/static/images/learn/learn-banner@2x.png 2x" draggable="false">
	</div>
</header>
{% endblock pageheader %}

{% block content %}
<div class="content-inner">
{% block sidebar %}
{% endblock sidebar %}


{% block learnnav %}
<nav class="learn-nav clearfix">
		<a class="col-4 {% block basics %}{% endblock %} basics" href="/learn/basics/">
			<figure class="icon-learn-basics{% block basics2 %}{% endblock %}"></figure>
			<figure class="icon-learn-basics-active hover"></figure>
			<div class="nav-title">Framer Basics</div>
			<span class="small">Learn how to start creating interactive prototypes with Framer</span>
		</a>
		<a class="col-4 {% block importing %}{% endblock %} importing" href="/learn/importing">
			<figure class="icon-learn-importing{% block importing2 %}{% endblock %}"></figure>
			<figure class="icon-learn-importing-active hover"></figure>
			<div class="nav-title importing">Import Designs</div>
			<span class="small">Learn how to import layer groups directly from Photoshop or Sketch</span>
		</a>
		<a class="col-4 {% block mirror %}{% endblock %} mirror" href="/learn/mirror">
			<figure class="icon-learn-mirror{% block mirror2 %}{% endblock %}"></figure>
			<figure class="icon-learn-mirror-active hover"></figure>
			<div class="nav-title mirror">Preview Prototypes</div>
			<span class="small">Learn how to preview your prototypes any mobile device</span>
		</a>
		<a class="col-4 {% block coffeescript %}{% endblock %} coffeescript" href="/learn/coffeescript">
			<figure class="icon-learn-coffeescript{% block coffeescript2 %}{% endblock %}"></figure>
			<figure class="icon-learn-coffeescript-active hover"></figure>
			<div class="nav-title coffeescript">CoffeeScript Basics</div>
			<span class="small">Learn all you need to know of CoffeeScript for Framer</span>
		</a>
</nav> 
{% endblock learnnav %}

<div class="align-right clearfix">
{% block body %}
{% endblock body %}
</div> <!--align-right-->
</div> <!--content-inner-->
{% endblock content %}
