<!-- Facebook -->
<meta property="og:url" content="http://framerjs.com/">
<meta property="og:title" content="Framer - Prototype Interaction and Animation">
<meta property="og:description" content="Framer is a new creative tool to build interaction and animation prototypes.">
<meta property="og:image" content="http://framerjs.com/static/images/social/card.png">

<!-- Twitter -->
<meta name="twitter:card" content="photo">
<meta name="twitter:site" content="@framerjs">
<meta name="twitter:creator" content="@framerjs">
<meta name="twitter:title" content="Framer - Prototype Interaction and Animation">
<meta name="twitter:image:src" content="http://framerjs.com/static/images/social/card.png">
<meta name="twitter:domain" content="http://framerjs.com/">