{% extends "subpage.html" %}
{% block title %}Framer - Pricing {% endblock %}
{% block currentpage %}class="subpage pricing"{% endblock currentpage %}


{% block pageheader %} <!--Header Text-->
<header class="page-header">
<!-- 	<img src="/static/images/jobs/careers-header-bg.jpg" srcset="/static/images/jobs/careers-header-bg@2x.jpg 2x" draggable="false">
 -->	<div class="content-inner">
		<h1>Pricing</h1>
		<h2 class="col-2">We offer volume discount and educational pricing.</h2>
	</div>
</header> 
{% endblock pageheader %}

{% block body %}

<div class="clearfix">
<section class="col-2">
	<figure class="icon-volumelicenses"></figure>
	<h4>Volume Discounts</h4>
	<p>We offer a discount per license, when you purchase Framer Studio in higher volume. The discount per license increases with the number of licenses purchased. <a href="mailto:support@framerjs.com">Contact us</a>, if you have special licensing needs.</p>
	<table>
    <thead>
        <tr>
            <th>Amount</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1 - 2</td>
            <td>$79.99</td>
        </tr>
        <tr>
            <td>3 - 4</td>
            <td>$74.99</td>
        </tr>
        <tr>
            <td>5 - 9</td>
            <td>$69.99</td>
        </tr>
        <tr>
            <td>10 - 24</td>
            <td>$64.99</td>
        </tr>
        <tr>
            <td>25 - 49</td>
            <td>$59.99</td>
        </tr>
         <tr>
            <td>50 - 99</td>
            <td>$54.99</td>
        </tr>
         <tr>
            <td>100+</td>
            <td>$49.99</td>
        </tr>
    </tbody>
</table>

</section>

<section class="col-2">
	<figure class="icon-educationpricing"></figure>
	<h4>Educational Pricing</h4>
	<p>A 50% discount is available to students. Send us proof of your enrollment at a university or college and we'll review your application and send you  a coupon code.</p>

	<p>If you're a teacher and you're looking for licenses for your class, see our <a href="/teach">Teach page</a> for more information.</p>

	<a class="btn blue" href="mailto:support@framerjs.com">Contact us</a>

	<h4>License</h4>
	<p>Your license is personal, so one per user. If you have multiple machines (for example one at home and one at the office) you are free to use Framer Studio on both. If you use your license on more machines than what we consider fair use, we might disable your license.</p>
</section>
</div> <!--clearfix-->

{% endblock body %}	