{% extends "subpage.html" %}
{% block title %}Framer - Pricing {% endblock %}
{% block currentpage %}class="subpage pricing"{% endblock currentpage %}


{% block pageheader %} <!--Header Text-->
<header class="page-header">
    <div class="content-inner">
		<h1>Pricing</h1>
		<h2 class="col-2">We offer volume pricing and educational discounts.</h2>
	</div>
</header> 
{% endblock pageheader %}

{% block body %}

<div class="clearfix">
<section class="col-2">
	<figure class="icon-volumelicenses"></figure>
 
	<figure class="icon-volumediscounts"></figure>
	<h4>Volume Pricing</h4>
	<p>We offer volume pricing when you purchase multiple licenses. Select the amount of copies you need in the store, and the price will reflect the tiers below. <a href="mailto:support@framerjs.com">Contact us</a> if you have additional volume licensing needs.</p>
	<table>
    <thead>
        <tr>
            <th>Amount</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1 - 2</td>
            <td>$79.99</td>
        </tr>
        <tr>
            <td>3 - 4</td>
            <td>$74.99</td>
        </tr>
        <tr>
            <td>5 - 9</td>
            <td>$69.99</td>
        </tr>
        <tr>
            <td>10 - 24</td>
            <td>$64.99</td>
        </tr>
        <tr>
            <td>25 - 49</td>
            <td>$59.99</td>
        </tr>
         <tr>
            <td>50 - 99</td>
            <td>$54.99</td>
        </tr>
         <tr>
            <td>100+</td>
            <td>$49.99</td>
        </tr>
    </tbody>
</table>

</section>

<section class="col-2">
	<figure class="icon-educationpricing"></figure>

	<figure class="educationalpricing"></figure>
	<h4>Educational Discount</h4>
	<p>We offer a 50% discount to all students and teachers. To apply, please send us a copy of your enrollment in (or connection to) the school that you attend. <a href="mailto:support@framerjs.com">Contact us</a> if you have additional educational licensing needs.</p>

	<a class="btn blue" href="mailto:support@framerjs.com">Apply</a>

	<h4 class="license">License</h4>
	<p>The Framer license is on a per user base. If you have multiple machines (for example one at home and one at work) you are free to use Framer on both. Licensing a large number of machines may conflict with our fair-use policy and result in a disabled license. See our <a href="/static/downloads/eula.pdf" target="_blank">End User License Agreement</a>.

</section>
</div> <!--clearfix-->

{% endblock body %}	