$text: #666;


$dark: #1E1F25;
	$dark80: rgba( $dark, 0.8 );
	$dark60: rgba( $dark, 0.6 );
	$dark40: rgba( $dark, 0.4 );
	$dark20: rgba( $dark, 0.2 );

$graphite: #616D85; 
	$graphite80: rgba( $graphite, 0.8 );
	$graphite60: rgba( $graphite, 0.6 );
	$graphite40: rgba( $graphite, 0.4 );
	$graphite20: rgba( $graphite, 0.2 );

$blue: #4CB4EC;
	$blue80: rgba( $blue, 0.8 );
	$blue60: rgba( $blue, 0.6 );
	$blue40: rgba( $blue, 0.4 );
	$blue20: rgba( $blue, 0.2 );

$green: #7DDC16;
	$green80: rgba( $green, 0.8 );
	$green60: rgba( $green, 0.6 );
	$green40: rgba( $green, 0.4 );
	$green20: rgba( $green, 0.2 );

$orange: #F68426;
	$orange80: rgba( $orange, 0.8 );
	$orange60: rgba( $orange, 0.6 );
	$orange40: rgba( $orange, 0.4 );
	$orange20: rgba( $orange, 0.2 );

$white: #FFF;
	$white80: rgba( $white, 0.8 );
	$white60: rgba( $white, 0.6 );
	$white40: rgba( $white, 0.4 );
	$white20: rgba( $white, 0.2 );

