/* Code */
pre {
    color: #fff;
    word-wrap: break-word;
    font-size: 13px;
    line-height: 1.55;
    font-weight: normal;
    padding:8px 16px 16px 24px;
    /* letter-spacing: -0.2px; */
    tab-size: 3;
    -webkit-font-smoothing: subpixel-antialiased;
}
pre, code {
    font-family: 'Menlo', 'Monaco', Courier, monospace;
    word-break: normal;
	white-space: pre-wrap;
}
pre .comment {
    color: #748197; /* Comments */
}
pre .keyword, pre .selector {
    color: #FA9630; /* Orange */
}
pre .constant.numeric { /* Numbers */
	color: #5BC1F0;
}
span.constant.numeric > span.keyword.operator {
    color: #5BC1F0; /* Blue */
}
pre .constant.language {
    color: #91fcf3; /* Javascript, so the ".on" in imageLayer.on */
    color: #fff;
}
pre .string, pre .comment.docstring {
    color: #8DDE19; /* Strings (green) */
}
pre .keyword.operator {
	color: #fff;
}

pre .comment a {
    color: #748197; /* Comments */
}

::selection {
    background:rgba(158, 204, 255, 0.12);
}

/* Retina Displays */
@media screen and (-webkt-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    pre {
        font-size: 12px;
    }
}