#code,
#example {
	position: absolute; top: 0; 
	height: 100%; border: none;
	overflow-y:hidden;
}
#example {
	width:100%;
	right: 0;
	-webkit-transition: width 0.2s;
	-moz-transition: width 0.2s;
	transition: width 0.2s;
}
#code { 
	width: 50%; 
	left: -50%;
	background: #1E1F25; 
	box-shadow: inset 0 40px 0 rgba(0,0,0,0.25);
	-webkit-transition: left 0.2s;
	-moz-transition: left 0.2s;
	transition: left 0.2s;
	padding-top: 40px;
	box-sizing: border-box;
}
.top-right {
	position: absolute;
	top:8px; right:8px;
}
[class*='btn-'] {
	box-sizing: border-box;
	height:24px; width:24px;
	border-radius: 3px;
	background: rgba(0,0,0,0.2);
	cursor:pointer;
	text-align: center;
	z-index: 9000;
	-webkit-font-smoothing: antialiased;
	padding-top: 4px;
	-webkit-user-select: none;  
	-moz-user-select: none;     
	-ms-user-select: none;     
	user-select: none;  
}
.btn-dl, .btn-open {
	position: relative;
}
.btn-open {
	position: absolute;
	top: 8px; right: 38px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#fff;
	font-size: 10px;
	letter-spacing: 0.5px;
	font-weight: 600;
	text-transform: uppercase;
	padding-top:6px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 0px;
	width: auto;
}
.btn-dl {
	position: absolute;
	top: 8px; right: 8px;
	height:24px; width:24px;
}
.btn-code,
.btn-close {
	position: absolute;
	top:8px; left:8px;	
	padding-top: 3px;
}
.btn-code img,
.btn-dl img,
.btn-close img {
	display: inline-block;
}
.btn-close {
	background: transparent;
}
[class*='btn-']:hover {
	background: rgba(0,0,0,0.4);
}
#code.show-code {
	left:0;
}
#code.with-code {
	left:0;
	box-shadow: none;
	padding-top:0;
}
#example.with-code {
	width:50%;
}
#code::-webkit-scrollbar {
	background: #1E1F25;
	width: 6px;
}
#code::-webkit-scrollbar-thumb {
	background: #000;
	box-shadow: 0 0 0 1px rgba(255,255,255,.15);
	border-radius: 10px;
}
#code::-webkit-scrollbar-track {
	border-radius: 0;
	box-shadow: none;
	background: #1E1F25;
	margin-top: 24px;
	margin-bottom: 24px;
}

#code :
