{% extends "learnpage.html" %}
{% block title %}Framer - Learn Basics{% endblock %}
{% block currentpage %}class="subpage learn"{% endblock currentpage %}
{% block islearn %}active{% endblock %}
{% block basics %}active{% endblock %}
{% block basics2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<li><a href="/learn/basics">Layers <div class="small">Hierarchy and Properties</div></a></li>
		<li><a href="/learn/basics/animation">Animation <div class="small">Curves and Timing</div></a></li>
		<li><a href="/learn/basics/states">States <div class="small">Sets of properties</div></a></li>
		<li class="active"><a href="/learn/basics/events">Events <div class="small">Layer interactions</div></a></li>
		<li><a href="/learn/basics/dragging">Dragging <div class="small">Draggable layers</div></a></li>
		<li><a href="/learn/basics/scrolling">Scrolling <div class="small">Scrollable layers</div></a></li>
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### Events
Events are things that can happen to a layer, often caused by user interaction. 
They include a click, mouse over, a scroll and more.

To listen to an event, use <code class="inline">layer.on event, → ...</code><br>
To stop listening you can use <code class="inline">layer.off event, → ...</code>

<pre lang="coffeescript">
# Listen to multiple events
layerA.on Events.Click, -> 
    ...
layerA.on Events.TouchStart, -> 
    ...
layerA.on Events.TouchMove, -> 
    ...
layerA.on Events.TouchEnd, -> 
    ...
</pre>

One of the most common uses of Events in Framer is switching between a set of states:

<pre lang="coffeescript">
# Toggle states on click
layerA.on Events.Click, -> 
    imageLayer.states.next()
</pre>

##### Animation Chaining
Events can also be used to chain animations, either via states or layer animations. With these events, you can start a new animation after another one ends. Note that the animation events also work if you've only defined states. The animation that occurs after switching states also fires an AnimationEnd event.

<pre lang="coffeescript">
# Animation Events
layerA.on Events.AnimationStart, ->
	...
layerA.on Events.AnimationEnd, ->
	...

# States Events
layerA.on Events.StateWillSwitch, ->
	...
layerA.on Events.StateDidSwitch, ->
	...
</pre>



{% endfilter %}	
{% endfilter %}
{% endblock body %}	