{% extends "learn.html" %}
{% block title %}Framer - Events{% endblock %}
{% block currentpage %}class="subpage learn"{% endblock currentpage %}
{% block islearn %}active{% endblock %}
{% block basics %}active{% endblock %}
{% block basics2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
    <ul>    
        <a href="/learn/basics"><li>Layers <div class="small">Hierarchy and Properties</div></li></a>
        <a href="/learn/basics/animation"><li>Animation <div class="small">Curves and Timing</div></li></a>
        <a href="/learn/basics/states"><li>States <div class="small">Sets of properties</div></li></a>
        <a href="/learn/basics/events"><li class="active">Events <div class="small">Layer interactions</div></li></a>
        <a href="/learn/basics/dragging"><li>Dragging <div class="small">Draggable layers</div></li></a>
        <a href="/learn/basics/scrolling"><li>Scrolling <div class="small">Scrollable layers</div></li></a>
    </ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### Events
Events are things that can happen to a layer, mostly triggered by user interaction. With events, you can animate layers based on these interactions. Framer contains many events: click events, touch events, scroll events, drag events and more.

To start listening to an event, write: <code class="inline">layer.on event, → ...</code><br>
To stop listening you can write: <code class="inline">layer.off event, → ...</code>

<div class="with-illustration nine-lines">
<figure><img class="code-illustration no-border animation-events" src="/static/images/learn/animation-events.gif" srcset="/static/images/learn/animation-events@2x.gif 2x" draggable="false"></figure>

<pre lang="coffeescript">
# Listen to multiple events
layerA.on Events.Click, -> 
    ...
layerA.on Events.TouchStart, -> 
    ...
layerA.on Events.TouchMove, -> 
    ...
layerA.on Events.TouchEnd, -> 
    ...
</pre>
</div>

One of the most common use cases of events is toggling between a set of states on click.

<pre lang="coffeescript">
# Toggle states on click
layerA.on Events.Click, -> 
    imageLayer.states.next()
</pre>

##### Example: Animation Chaining
Events can also be used to chain animations. With these events, you can start a new animation after another one ends by listening for the AnimationEnd event.

<pre lang="coffeescript">
# Animation Events
layerA.on Events.AnimationStart, ->
	...
layerA.on Events.AnimationEnd, ->
	...
</pre>

Below is a simple example of a chained animation. Every animation gets an AnimationEnd event, so they can be chained infinitely.

<div class="with-illustration ten-lines">
<figure><img class="code-illustration no-border animation-chaining" src="/static/images/learn/animation-chaining.gif" srcset="/static/images/learn/animation-chaining@2x.gif 2x" draggable="false"></figure>

<pre lang="coffeescript">
layerA.animate 
	properties:
		x:200
	curve: "ease-in-out"
		
layerA.on Events.AnimationEnd, ->
	layerA.animate
		properties:
			x:100
		curve: "ease-in-out"
</pre>
</div>

<section class="summary">
<h5>Summary</h5>
<ul>
    <li>Events are things that can happen to a layer </li>
    <li>Events are often used to toggle states </li>
    <li>Animations can be chained with the AnimationEnd event </li>
</ul>
</section>

<hr>

<section class="subpage-nav">
	<a class="previous" href="/learn/basics/states">
		<figure class="icon-learn-previous"></figure>
		<h6>States</h6> 
	</a> <!--next-->
	<a class="next" href="/learn/basics/dragging">
		<h6>Dragging</h6> 
		<figure class="icon-learn-next-active"></figure>
	</a> <!--next-->
</section>

{% endfilter %}	
{% endfilter %}
{% endblock body %}	