{% extends "learnpage.html" %}
{% block title %}Framer - Learn Basics{% endblock %}
{% block currentpage %}class="subpage learn"{% endblock currentpage %}
{% block islearn %}active{% endblock %}
{% block basics %}active{% endblock %}
{% block basics2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<li><a href="/learn/basics">Layers <div class="small">Hierarchy and Properties</div></a></li>
		<li><a href="/learn/basics/animation">Animation <div class="small">Curves and Timing</div></a></li>
		<li><a href="/learn/basics/states">States <div class="small">Sets of properties</div></a></li>
		<li class="active"><a href="/learn/basics/events">Events <div class="small">Layer interactions</div></a></li>
		<li><a href="/learn/basics/dragging">Dragging <div class="small">Draggable layers</div></a></li>
		<li><a href="/learn/basics/scrolling">Scrolling <div class="small">Scrollable layers</div></a></li>
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### Events
Events are things that can happen to a layer, often caused by user interaction. With events, you can animate layers based on these interactions. Framer contains many events: click events, touch events, scroll events, drag events and more.

To start listening to an event, write: <code class="inline">layer.on event, → ...</code><br>
To stop listening you can write: <code class="inline">layer.off event, → ...</code>

<div class="with-illustration">
<pre lang="coffeescript">
# Listen to multiple events
layerA.on Events.Click, -> 
    ...
layerA.on Events.TouchStart, -> 
    ...
layerA.on Events.TouchMove, -> 
    ...
layerA.on Events.TouchEnd, -> 
    ...
</pre>
<img class="code-illustration no-border" src="/static/images/learn/events.png" srcset="/static/images/learn/events@2x.png 2x" draggable="false">
</div>

One of the most common use cases of events is toggling between a set of states on click.

<pre lang="coffeescript">
# Toggle states on click
layerA.on Events.Click, -> 
    imageLayer.states.next()
</pre>

##### Animation Chaining
Events can also be used to chain animations. With these events, you can start a new animation after another one ends. The animation that occurs when switching states also fires an AnimationEnd event.

<pre lang="coffeescript">
# Animation Events
layerA.on Events.AnimationStart, ->
	...
layerA.on Events.AnimationEnd, ->
	...
</pre>

Below is a simple example of a chained animation. Every animation gets an AnimationEnd event, so they can be chained infinitely.

<div class="with-illustration">
<pre lang="coffeescript">
layerA.animate 
	properties:
		x:200
	curve: "ease-in-out"
		
layerA.on Events.AnimationEnd, ->
	layerA.animate
		properties:
			x:100
		curve: "ease-in-out"
</pre>
<img class="code-illustration no-border" src="/static/images/learn/animation-chaining.gif" srcset="/static/images/learn/animation-chaining@2x.gif 2x" draggable="false">
</div>

<section class="summary">
<h5>Summary</h5>
<ul>
    <li>Events are things that can happen to a layer </li>
    <li>Events are often used to toggle states </li>
    <li>Animations can be chained with the AnimationEnd event </li>
</ul>
</section>

<hr>

<section class="page-navigation">
	<a class="previous" href="/learn/basics/states">
		<h5>Previous:</h5>
		<figure class="icon-learn-previous"></figure>
		<h6>States</h6> 
	</a> <!--next-->
	<a class="next" href="/learn/basics/dragging">
		<h5>Next:</h5>
		<h6>Dragging</h6> 
		<figure class="icon-learn-next-active"></figure>
	</a> <!--next-->
</section>

{% endfilter %}	
{% endfilter %}
{% endblock body %}	