body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-size:16px; // Base
}
.framer {
	font-weight:600;
}
h1 {
	font-size: 3.75em; // 60px
	line-height: 1.4;
	font-weight:200;
	letter-spacing: -1px;
}
h2 {
	font-size: 2em; // 32px
	line-height: 1.3;
	font-weight:200;
	color: $graphite;
}
h3 {
	font-size: 1.875em; // 30px
	font-weight:300;
}
h4 {
	font-size: 1.625em; // 26px
}
h5 {
	font-size: 1.375em; // 22px
}
h6 {
	font-size: 1.25em; // 20px
}
p {
	font-size: 1.125em; // 18px
	color:$text;
}
p, li {
	line-height: 1.5;
}
.small {
	font-size:0.8125em; // 13px
}
// Helpers -------------------
.uppercase {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight:500;
}
.center {
	text-align:center;
}
.left {
	float:left;
}
.right {
	float:right;
}
@media screen and (max-width: 600px) {
body {
	font-size:14px;
}
}
@media screen and (max-width: 440px) {
body {
	font-size:12px;
}
}
