{% extends "subpage.html" %}
{% block title %}Framer - Jobs{% endblock %}
{% block currentpage %}class="subpage jobs"{% endblock currentpage %}


{% block pageheader %} <!--Header Text-->
<header class="page-header">
	<img src="/static/images/jobs/jobs-header-bg.jpg" srcset="/static/images/jobs/jobs-header-bg@2x.jpg 2x" draggable="false">
	<div class="content-inner">
		<h1>Engineers</h1>
		<h2 class="col-2">Help us invent the future of interaction design tools.</h2>
	</div>
</header> 
{% endblock pageheader %}

{% block body %}

<div class="clearfix jobs">
<section class="col-2">
	<h4>Requirements</h4>
	<p class="subtitle">
		We are looking for product-minded engineers that would like to work on interactive design and programming tools.
	</p>
	<p>
		Everyone is a product designer at Framer. The things we want to build have yet to be invented and live on the intersection between deep technology, great design and the art of building things.
	</p>
	<p>
		We strongly prefer full-time people in Amsterdam. We're a small, but well funded start-up and have growing revenue. We intend to build a company that lasts for a long time. 
	</p>
	<p>
		Your work will impact the way people will design and build digital products by redefining the tools they use. 
	</p>
	<p>
		You should have a subset of skills in JavaScript, Objective-C, C, WebGL, OpenGL, Python, Ruby. Experience with WebKit internals, Graphics Programming, Skia, Physics Engines and Code Parsing are a plus. A strong Computer Science background is also a plus, but we also hire great self-taught people with work to show for it.
	</p>
	<p>
		The kind of person we are looking for is someone that can work hard, but also keep sane hours. People with great ideas, strong opinions, but also who can ship – a maker. People who take responsibility, in- and outside of defined roles to make themselves unmissable for the company, and to grow into senior roles quickly.
	</p>


	<a class="btn blue" href="mailto:koen+2015Q1@motif.co">Apply</a>
</section>

<section class="col-2">
	<h4>Examples of Work</h4>

	<h5 class="small">Javascript &amp; graphics programming</h5>
	<ul>
		<li>Optimize the Framer library for animation performance, maybe using a Virtual DOM.</li>
		<li>Design and build a physics engine right into Framer, and make it usable for product designers.</li>
		<li>Build reusable and tweakable interface components that are as good as native, with real physics.</li>
		<li>Explore a WebGL version for Framer, either mixed or full-on.</li>
	</ul>

	<h5 class="small">Desktop interface programming</h5>
	<ul>
		<li>Help invent, design and implement our pixel perfect Desktop interfaces in Cocoa/Objective-C.</li>
		<li>Explore how we can draw custom shapes in Framer with Skia.</li>
		<li>Improve performance and behaviours of the built in text editor.</li>
		<li>Build mobile clients to display prototypes, with offline caching.</li>
		<li>Improve Framer to make it suitable to build production interfaces.</li>
	</ul>

	<h5 class="small">Programming languages</h5>
	<ul>
		<li>Optimize our environment for people that want to learn programming and need to get things done.</li>
		<li>Help invent a way where specific states of the code can be expressed and changed with a graphical interface.</li>
		<li>Optimize the programming language and model for building prototypes with animations and interaction.</li>
		<li>Invent a better way to organize code for larger projects than just files.</li>
		<li>Make a great text editor auto-complete that takes user-intent and the current code context into account.</li>
	</ul>

</section>
</div> <!--clearfix-->

<hr>

<div class="clearfix">
	<section class="col-2">
		<h5>About us</h5>
		<p>Framer is developed by an experienced, small team based out of Amsterdam. We focus on building creative tools that push animation and interaction design forward. You can follow the Framer team on <a href="https://twitter.com/framerjs/lists/framer-team/members" target="_blank">Twitter</a>.
	</section>
	<section class="col-2">
		<h5>Location</h5>
		<p>All vacancies are for full-time positions at our Amsterdam office. If you don't live in Amsterdam, you have to be willing to relocate and to able to legally work in Europe.</p>
	</section>
</div> <!--clearfix-->

<div class="clearfix about-us">

	<section class="col-2">
		<img src="/static/images/jobs/illustration-map.png" srcset="/static/images/jobs/illustration-map@2x.png 2x" draggable="false">
	</section>
	<section class="col-2">
		<h5 class="blue">Address</h5>
		<p class="small sublines">Brouwersgracht 130, <br> 1013 HA Amsterdam, <br> The Netherlands</p>
	</section>
</div> <!--clearfix-->




{% endblock body %}	