#bg {
	position: absolute; top: 40px; left:0;
	background: url("/static/images/bg-icon.jpg") no-repeat 50%;	
	background-size: contain; 
	width: 1240px; height: 1380px;
	left: 50%; margin-left: -620px;
	z-index: -1;
}

.header h1 {
	margin-top: $space-64;
}
.header,
.header h2 {
	margin-bottom: $space-64;
}
.screenshot {
	overflow: visible;
	position: relative;
	text-align: center;
}
.studio-ss {
	position: relative;
	max-width: 708px; 
	margin: 0 auto;
}
.studio-ss-600 {
	position: relative;
	max-width: 628px;
	margin: 0 auto;
}
// Studio Screenshot Section
.screenshot img.studio {
	max-width: 708px; width: 100%;
}
.screenshot img.studio-600 {
	display: none;
}
#framer section.iphone-bg {
	position: relative; z-index: 0;
}
.screenshot .video-wrapper {
	width: 354px;
	position: absolute; top: 0; left: 50%; 
	height: 100%;
}
.screenshot video {
	position: absolute; max-width: 111px;
	top: 159px; left: 114px;
}
.screenshot-copy {
	text-align: center;
}
.screenshot-copy h2 {
	font-weight: 300;
	font-size: 32px;
	margin: 0;
	color: $blue;
}
.screenshot-copy li p {
	display: block; color: $text;
	margin-top: 10px; margin-bottom: 0;
	font-size: 23px; line-height: 1.3;
	letter-spacing: 0; font-weight: 200;
}
.screenshot-copy li {
	max-width:280px;
	list-style: none;
	float:left; 
}
section.mobile {
	display: none;
}

.screenshot-copy li:first-child { margin-right: 40px; }

.block.examples {
	@include gradient-left-right(#71c3f0, #b8e1f8);
	height: 500px;
	position:relative;
}
.block.examples .screen {
	position: absolute; top:152px;
	max-width: 206px; left: 50%; margin-left: -102px;
	z-index: 100; overflow: hidden;
}

.block.examples video {
	width: 100%; 
	border: none;
	cursor: pointer;
}


.block.examples .inner {
	padding: 0; max-width: 600px; margin: 0 auto;
}

.block.examples section {
	position: absolute; 
	top: 40px; left: 0; width: 100%; 
}

#wrapper .block.examples h4 {
	color: #fff; float: left; text-align: left;
	font-weight: 300;
}

.block.examples a.more {
	color: #fff; float: right; font-size: 12px; padding: 11px 16px 8px 16px; border-radius: 55px;
	box-shadow: inset 0 0 0 2px #fff; text-transform: uppercase; letter-spacing: 1px;
	font-weight: 600;
}

.block.examples a.more:hover {
	opacity: 1; background: #fff;
	color: #92CEE1;
}

/* ------------- */

.block.examples a.iphone {
	position: absolute; bottom: -70px; 

}

.block.examples a:hover {
	opacity: 1;
}

.block.examples a.left img { width: 216px; }
.block.examples a.mid img { width: 247px; }
.block.examples a.right img { width: 222px; }

.block.examples a.left { left: -4px; }

.block.examples a.mid {
	left: 50%; margin-left: -123px;
	z-index: 50; bottom: -100px;
}

.block.examples a.right { right: 0px; }

li.feature img {
	float:left;
	margin-right: $space-8;
}
