/*
Syntax error: Undefined variable: "$blue".
        on line 59 of /Users/ben/Desktop/Framer Style Guide B/static/css/pages/home.scss

54: 
55: .screenshot-copy h2 {
56: 	font-weight: 300;
57: 	font-size: 32px;
58: 	margin: 0;
59: 	color: $blue;
60: }
61: 
62: .screenshot-copy li p {
63: 	display: block; color: $text;
64: 	margin-top: 10px; margin-bottom: 0;

Backtrace:
/Users/ben/Desktop/Framer Style Guide B/static/css/pages/home.scss:59
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/script/variable.rb:49:in `_perform'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/script/node.rb:40:in `perform'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:298:in `visit_prop'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `map'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/base.rb:37:in `visit'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:100:in `visit'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/visitors/perform.rb:7:in `visit'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/tree/root_node.rb:20:in `render'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/engine.rb:315:in `_render'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/engine.rb:262:in `render'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:362:in `update_stylesheet'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:203:in `block in update_stylesheets'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `each'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/plugin/compiler.rb:201:in `update_stylesheets'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/plugin.rb:81:in `update_stylesheets'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/exec.rb:443:in `watch_or_update'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/exec.rb:326:in `process_result'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/exec.rb:41:in `parse'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/lib/sass/exec.rb:21:in `parse!'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/gems/sass-3.2.14/bin/scss:13:in `<top (required)>'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/bin/scss:23:in `load'
/Applications/Cactus.app/Contents/Resources/Vendor/ruby/gems/bin/scss:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined variable: \"$blue\".\A         on line 59 of /Users/ben/Desktop/Framer Style Guide B/static/css/pages/home.scss\A \A 54: \A 55: .screenshot-copy h2 {\A 56: 	font-weight: 300;\A 57: 	font-size: 32px;\A 58: 	margin: 0;\A 59: 	color: $blue;\A 60: }\A 61: \A 62: .screenshot-copy li p {\A 63: 	display: block; color: $text;\A 64: 	margin-top: 10px; margin-bottom: 0;"; }
