{% extends "learn.html" %}
{% block title %}Framer - Preview Prototypes{% endblock %}
{% block islearn %}active{% endblock %}
{% block mirror %}active{% endblock %}
{% block mirror2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<a href="/learn/preview/"><li class="active">Overview <div class="small">iOS and Android</div></li></a>
		<a href="/learn/preview/mirror"><li>Mirror <div class="small">Browser Preview</div></li></a>
		<a href="/learn/preview/connecting"><li>Connecting <div class="small">WiFi and USB</div></li></a>		
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### Preview Prototypes

The best way to experience a mobile prototype is on an actual device. Interact with your designs in a free Android and iOS app, specifically designed for realtime previewing.

Simply connect your mobile device and Mac to the same Wi-Fi network. Select your project, and preview your prototype in full-screen. Both apps have gestures to control, reload and navigate prototypes.

<hr>

<section class="ss-title">
	<img class="learn-app-icon" src="/static/images/learn/icon-learn-framerandroid.png" srcset="/static/images/learn/icon-learn-framerandroid@2x.png 2x">
	<h5>Framer</h5>
	<p class="left-to-btn">The official Framer app for Android.</p>
</section>

<section class="right-btn">
	<a class="btn btn-line blue" target="_blank" href="http://play.google.com/store/apps/details?id=com.framerjs.android">Google Play</a>
</section>

<div class="inline-image"><img src="/static/images/learn/banner-learn-framerandroid.png" srcset="/static/images/learn/banner-learn-framerandroid@2x.png 2x"></div>


<section class="ss-title">
	<img class="learn-app-icon" src="/static/images/learn/icon-learn-frameless.png" srcset="/static/images/learn/icon-learn-frameless@2x.png 2x">
	<h5>Frameless</h5>
	<p class="left-to-btn">iOS app by <a href="https://twitter.com/stakelon" target="_blank">Jay Stakelon</a>. Source on <a href="http://stakes.github.io/Frameless/" target="_blank">Github</a>.</p>
</section>

<section class="right-btn">
	<a class="btn btn-line blue" target="_blank" href="https://itunes.apple.com/us/app/id933580264">App Store</a>
</section>

<div class="inline-image"><img src="/static/images/learn/banner-learn-frameless.png" srcset="/static/images/learn/banner-learn-frameless@2x.png 2x"></div>

<hr>

<section class="subpage-nav">
	<a class="next" href="/learn/preview/mirror">
		<h6>Mirror</h6> 
		<figure class="icon-learn-next-active"></figure>
	</a>
</section>

{% endfilter %}	
{% endfilter %}	
{% endblock body %}
