{% extends "learn.html" %}
{% block title %}Framer - Apps{% endblock %}
{% block islearn %}active{% endblock %}
{% block mirror %}active{% endblock %}
{% block mirror2 %}-active{% endblock %}


{% block sidebar %}
<div class="sidebar">
	<ul>	
		<a href="/learn/preview/"><li class="active">Apps <div class="small">iOS and Android</div></li></a>
		<a href="/learn/preview/mirror"><li>Mirror <div class="small">Browser Preview</div></li></a>
		<a href="/learn/preview/connecting"><li>Connecting <div class="small">WiFi and USB</div></li></a>		
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### Apps

Prototypes can be previewed on any mobile device connected to the same Wi-Fi network. You can preview your projects on <a href="/learn/preview/mirror">WebKit-based browsers</a>.

---

<h5>Framer for Android</h5>
<p>The official Framer for Android app, with a full-screen chrome-less browser and automatic detection of all open projects.</p>

<div class="inline-image"><a href="http://play.google.com/store/apps/details?id=com.framerjs.android" target="_blank"><img src="/static/images/learn/banner-learn-framerandroid.png" srcset="/static/images/learn/banner-learn-framerandroid@2x.png 2x"></a></div>

<section class="three-feature-list">
	<section class="col-4">
		<h5><figure class="icon-learn-checklist"></figure>Full-screen browsing</h5>
		<p class="small">A chrome-less browser that hides all controls for an immersive experience.</p>
	</section>	
	<section class="col-4">
		<h5><figure class="icon-learn-checklist"></figure>Customizable gestures</h5>
		<p class="small">Swipe up or shake to reveal the controls and swipe left and right between projects.</p>
	</section>	
	<section class="col-4">
		<h5><figure class="icon-learn-checklist"></figure>Connect with Studio</h5>
		<p class="small">Instantly detects all of your open projects, and&nbsp;those of others on your network.</p>
	</section>	
</section>

<a href="http://play.google.com/store/apps/details?id=com.framerjs.android" target="_blank"><img class="store-btn" src="/static/images/learn/btn-learn-googleplay.png" srcset="/static/images/learn/btn-learn-googleplay@2x.png 2x"></a>

---


<h5>Frameless for iOS</h5>
<p>An iOS8 browser made for designers and developers who need an easy way to preview prototypes on iOS devices.</p>

<div class="inline-image"><a href="http://stakes.github.io/Frameless/" target="_blank"><img src="/static/images/learn/banner-learn-frameless.png" srcset="/static/images/learn/banner-learn-frameless@2x.png 2x"></a></div>

<section class="three-feature-list">
	<section class="col-4">
		<h5><figure class="icon-learn-checklist-purple"></figure>Transparent UI</h5>
		<p class="small">No browser chrome and no status bar. Gestures control your browsing history.</p>
	</section>	
	<section class="col-4">
		<h5><figure class="icon-learn-checklist-purple"></figure>Customizable gestures</h5>
		<p class="small">Swipe up, tap with three fingers or shake the device to reveal the keyboard.</p>
	</section>	
	<section class="col-4">
		<h5><figure class="icon-learn-checklist-purple"></figure>Connect with Studio</h5>
		<p class="small">Automatically connect to Framer Studio and see all of your opened projects.</p>
	</section>	
</section>

<a href="https://itunes.apple.com/us/app/id933580264" target="_blank"><img class="store-btn" src="/static/images/learn/btn-learn-appstore.png" srcset="/static/images/learn/btn-learn-appstore@2x.png 2x"></a>


---

<section class="subpage-nav">

	<a class="next" href="/learn/preview/mirror">
		<h6>Mirror</h6> 
		<figure class="icon-learn-next-active"></figure>
	</a>
</section>

{% endfilter %}	
{% endfilter %}	
{% endblock body %}
