{% extends "subpage.html" %}
{% block title %}Framer - Jobs{% endblock %}
{% block currentpage %}class="subpage careers"{% endblock currentpage %}


{% block pageheader %} <!--Header Text-->
<header class="page-header">
	<img src="/static/images/jobs/jobs-header-bg.jpg" srcset="/static/images/jobs/jobs-header-bg@2x.jpg 2x" draggable="false">
	<div class="content-inner">
		<h1>Jobs</h1>
		<h2 class="col-2">Help us invent the future of interaction design tools.</h2>
	</div>
</header> 
{% endblock pageheader %}

{% block body %}

<div class="clearfix jobs">
<section class="col-2">
	<h4>Engineer</h4>
	<p>We like engineers that are passionate about product design and high quality interfaces. We're looking for engineers that can work on a variety of things, but if you're a specialist, feel free to apply too.</p>

	<h5>Requirements</h5>
	<ul>
		<li>JavaScript and CoffeeScript</li>
		<li>Objective-C / Cocoa / AppKit</li>
		<li>OpenGL / WebGL</li>
		<li>C/C++ is a plus</li>
	</ul>

	<a class="btn blue" href="mailto:support@framerjs.com">Apply</a>
</section>

<section class="col-2">
	<h4>Designer</h4>
	<p>Our designers need to be able to conceptually think about product and marketing, and execute both visually and technically. We're looking for designers with a broad skill set, but if you're a specialist, feel free to apply too.</p>

	<h5>Requirements</h5>
	<ul>
		<li>Sketch / Photoshop</li>
		<li>Comfortable working in HTML and CSS</li>
		<li>Basic JavaScript skills</li>
		<li>Framer experience is a plus</li>
	</ul>
	<a class="btn blue" href="mailto:support@framerjs.com">Apply</a>
</section>
</div> <!--clearfix-->

<hr>

<div class="clearfix">
<section class="col-2">
	<h5>Location</h5>
	<p>All vacancies are for full-time positions at our Amsterdam office. If you don't live in Amsterdam, you have to be willing to relocate and to able to legally work in Europe.</p>
</section>

<section class="col-2">

	<h5>Internship</h5>
	<p class="col-2">If you consider yourself top of class and are passionate about building creative tools, feel free to apply. We're always on the lookout for stellar design and engineering interns.</p>

</section>
</div> <!--clearfix-->

<hr>

<div class="clearfix">
<h5>About us</h5>
<section class="col-2">
	<p>Framer is developed by an experienced, small team based out of Amsterdam. We focus on building creative tools that push animation and interaction design forward. You can follow the Framer team on <a href="https://twitter.com/framerjs/lists/framer-team/members" target="_blank">Twitter</a>.
	<h5 class="blue">Location</h5>
	<p class="small sublines">Brouwersgracht 130, <br> 1013 HA Amsterdam, <br> The Netherlands</p>
</section>

<section class="col-2">
<img src="/static/images/jobs/illustration-map.png" srcset="/static/images/jobs/illustration-map@2x.png 2x" draggable="false">
</section>
</div> <!--clearfix-->



{% endblock body %}	