{% extends "learn.html" %}
{% block title %}Framer - Import Designs{% endblock %}
{% block islearn %}active{% endblock %}
{% block importing %}active{% endblock %}
{% block importing2 %}-active{% endblock %}

{% block sidebar %}
<div class="sidebar">
	<ul>	
		<a href="/learn/import"><li class="active">Overview <div class="small">Importing</div></li></a>
		<a href="/learn/import/sketch-tips"><li>Sketch Tips <div class="small">Canvas, Artboards</div></li></a>
		<a href="/learn/import/templates"><li>Templates <div class="small">Example files</div></li></a>		
		<a href="/learn/import/after-effects"><li>After Effects <div class="small">Import videos</div></li></a>		
	</ul>
</div> <!--sidebar-->
{% endblock sidebar %}

{% block body %}
{% filter pygmentify %}
{% filter markdown %}
### Import Designs <a name="overview"></a>

With Framer, you can bring your designs to life using tools you’re already comfortable with. Import files from Photoshop or Sketch with a single click. Go back-and-forth and start exploring interactions while further refining your visuals. 

After importing, all of your layers are selectable and have their position, hierarchy and masking already set. You don’t have to start from scratch when looking to quickly validate an idea.

---

##### Get Started
Start by clicking the **"Import"** icon in the toolbar. 

You’ll be presented with the Import sheet. It tells you whether or not you have any file opened that’s ready to be imported. You can only import files that have already been saved once before.


<div class="inline-image"><img class="ss-import-sheet" src="/static/images/learn/ss-import-sheet.png" srcset="/static/images/learn/ss-import-sheet@2x.png 2x" draggable="false"></div>

### Set-up
There are only a few things you need to keep in mind when looking to import your Photoshop or Sketch files. First, make sure that your layers are grouped and have unique names. This allows you to select them later. 

Next, if you're using spaces in your layer names, they'll be converted to underscores. Finally, all of your un-grouped layers get flattened. If they're part of a parent layer group, they become part its background. 


<div class="inline-image"><img src="/static/images/learn/ss-layergroup.png" srcset="/static/images/learn/ss-layergroup@2x.png 2x" draggable="false"></div>

##### Selecting layers
After you’ve successfully imported a file, the following line of code gets inserted at the top of your code: 

<pre lang="coffeescript">
# This imports all the layers of "design" into designLayers
designLayers = Framer.Importer.load "imported/design"
</pre>

This loads and contains all of of the importer layers. We can assign it any name, and use that to select layers. Let’s simply rename it to “import”. Now, to select a layer group that you’ve named “layerA”, you can write:

<pre lang="coffeescript">
# This imports all the layers of "design" into designLayers
import = Framer.Importer.load "imported/design"

# Set the opacity of layerA 
import.layerA.opacity = 0.5
</pre>

Layer groups placed within other groups are called <a href="/docs/#layer.subLayers" target="_blank">subLayers</a>. In the example below, "groupA" has two subLayers. They can also be selected directly. There's no need for you to take the layer hierarchy into account.

<div class="inline-image"><img src="/static/images/learn/ss-target-hierarchy.png" srcset="/static/images/learn/ss-target-hierarchy@2x.png 2x" draggable="false"></div>


##### Selecting multiple layers

You can also select multiple layers. Perhaps you’d like to animate a bunch of layers, or hide one of your layer groups.

This can be done with a <a href="http://framerjs.com/learn/coffeescript/loops-and-conditionals/" target="_blank">for-loop</a>. You can choose to select all of your imported layers, or just the layers of a specific group.

<div class="inline-image"><img src="/static/images/learn/ss-target-multiple.png" srcset="/static/images/learn/ss-target-multiple@2x.png 2x" draggable="false"></div>

<!-- <pre lang="coffeescript">
sketch = Framer.Importer.load "imported/design"

# Select all layers
for name, layer of sketch
	layer.opacity = 0.5

# Select subLayers of a group
for layer, index in sketch.groupB.subLayers
	layer.scale = 0.5
</pre> -->

----

<section class="subpage-nav">
	<a class="next" href="/learn/import/sketch-tips">
		<h6>Sketch Tips</h6> 
		<figure class="icon-learn-next-active"></figure>
	</a> <!--next-->
</section>

{% endfilter %}	
{% endfilter %}	
{% endblock body %}
